<style>
.orange_button {
  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}
</style>

<!-- marketing banner -->
<%= render 'layouts/navbar_no_banner' %>

<div class="container" style="margin-top: 50px; min-height: 100%; margin-bottom: 100px;">
	<div class="row" >
		<div class="col-md-2" style="height: 500px" align="left">

			<%= render 'user_manage/left_bar' %>

		</div>

		<div class="col-md-9 col-md-offset-1" style="height: 500px">
			<div class="row" style="margin-left: 1px">
				<h3> Update Profile</h3>
				<br />
				<h4 class="no_bold"> You will need to fill in current password to update your profile. </h4>
			</div>

			<div style="margin-top: 20px; margin-bottom: 50px">
				<% flash.each do |name, msg| %>
				<%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash", style: "color: green; font-size: 20px; font-weight: 600" %>
				<% end %>
				<br />
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				<%= devise_error_messages! %>

				<div class="form-group">
					<%= f.label 'Nick Name' %>
					<br />
					<%= f.text_field :name, autofocus: true , class:"form-control input-lg", style: "width: 50%"%>
				</div>

				<div class="form-group">
					<%= f.label :email %>
					<br />
					<%= f.email_field :email , class:"form-control input-lg", style: "width: 50%"%>
				</div>

				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div>
					Currently waiting confirmation for: <%= resource.unconfirmed_email %>
				</div>
				<% end %>

				<div class="form-group">
					<%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
					<br />
					<%= f.password_field :password, autocomplete: "off" , class:"form-control input-lg", style: "width: 50%"%>
					
				</div>

				<div class="form-group">
					<%= f.label :password_confirmation %>
					<br />
					<%= f.password_field :password_confirmation, autocomplete: "off" , class:"form-control input-lg", style: "width: 50%"%>
				</div>

				<div class="form-group">
					<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
					<br />
					<%= f.password_field :current_password, autocomplete: "off" , class:"form-control input-lg", style: "width: 50%"%>
				</div>
				<br />
				<div class="actions">
					<%= f.submit "Update", class: "btn btn-primary btn-lg orange_button"%>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= render "layouts/footer" %>
