<!-- CSS (TBD bug: can't rely on assets pipeline only ) -->
<link rel="stylesheet" href="/signup_template/css/set1.css">
<link rel="stylesheet" href="/signup_template/css/style.css">

<div id="main-wrapper">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 left-side" style="">
        <header style="margin-top: 150px">
          <h4 style="font-weight: 600;font-size: 33px">Transform your photos to ARTs on the wall</h4>
			
          	<h4 style="font-weight: 300;font-size: 22px;margin-top: 50px">Join today for exclusive discount - <b style="color: #EF9223">85%</b> off</h4>
		
 			<h4 style="font-weight: 300;font-size: 22px">Customized online and delivered to your door</h4>
        </header>
      </div>
      <div class="col-md-6 right-side">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <span class="input input--hoshi">
  	<%= f.email_field :email , class: "input__field input__field--hoshi", autofocus: true %>
    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="email">
         <span class="input__label-content input__label-content--hoshi">E-mail</span>
    </label>
  </span>


  <span class="input input--hoshi">
     <%= f.password_field :password, autocomplete: "off", class: "input__field input__field--hoshi"%>
     <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password">
            <span class="input__label-content input__label-content--hoshi">
            			Password
            			    <% if @minimum_password_length %>
    						<em>(<%= @minimum_password_length %> characters minimum)</em>
    						<% end %>
            </span>
     </label>
  </span>
        

  <span class="input input--hoshi">
     <%= f.password_field :password_confirmation, autocomplete: "off", class: "input__field input__field--hoshi" %>
     <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password1">
            <span class="input__label-content input__label-content--hoshi">Repeat Passowrd</span>
     </label>
  </span>
        
        
  <div class="cta">
      <%= f.submit "Sign-Up Now", class: "btn btn-primary pull-left", style: "background-color: #ef9223; width: 250px"%>
      <span>
      	<%= link_to "I am already a member", new_session_path(resource_name) %><br />
      </span> 
  </div>
  
    
<% end %>
        
        
        <ul class="social list-inline" style="display: none">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>

</div> <!-- end #main-wrapper -->

<!-- Scripts -->
<script>
  (function() {
    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
    if (!String.prototype.trim) {
      (function() {
        // Make sure we trim BOM and NBSP
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        String.prototype.trim = function() {
          return this.replace(rtrim, '');
        };
      })();
    }

    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
      // in case the input is already filled..
      if( inputEl.value.trim() !== '' ) {
        classie.add( inputEl.parentNode, 'input--filled' );
      }

      // events:
      inputEl.addEventListener( 'focus', onInputFocus );
      inputEl.addEventListener( 'blur', onInputBlur );
    } );

    function onInputFocus( ev ) {
      classie.add( ev.target.parentNode, 'input--filled' );
    }

    function onInputBlur( ev ) {
      if( ev.target.value.trim() === '' ) {
        classie.remove( ev.target.parentNode, 'input--filled' );
      }
    }
  })();
</script>