<table class="table table-striped">
		<thead>
			<tr >
				<td align="center" >
					<h4 style="margin-top: 50px">
						SIZE
					</h4>
					<h5>
						H x W (inch)
					</h5>
				</td>
				<td align="center">
					<%= image_tag '/items/canvas_depth_0.png', class: "depth_options_image canvas_options_image_border"%> 
					<h5 style="color:#EF9223"> ROLLED</h5> 
				</td>
				<td align="center">
					<%= image_tag '/items/canvas_depth_0_75.png', class: "depth_options_image canvas_options_image_border"%>
					<h5 style="color:#EF9223"> 0.75" DEEP</h5> 					
				</td>
				<td align="center">
					<%= image_tag '/items/canvas_depth_1_5.png', class: "depth_options_image canvas_options_image_border"%>
					<h5 style="color:#EF9223"> 1.5" DEEP</h5>
				</td>
				<td align="center">
					<%= image_tag '/items/canvas_frame_black.jpg', class: "depth_options_image canvas_options_image_border"%> 
					<h5 style="color:#EF9223"> OUTER FRAME</h5>
				</td>
				
			</tr>
		</thead>
		
		<tbody>
			<% @sizes['canvas'].each do |size|%>
				<tr>
					<td align="center" >
						<h4 class="no_bold">
							<%= size.gsub("\\", "").split('x').join(' x ') %>
						</h4>
					</td>
					
					<!-- Rolled -->
					<td align="center">
						<% if @size_price_obj['canvas'][size] != 0.0 %>
							<a href="/items/new" style="text-decoration: none; color: black">
								<div class="item_price">
									<h4>$<%= (@size_price_obj['canvas'][size].to_f*(1 - Canvasking::CANVAS_ROLL_DISCOUNT)).round(2) %></h4>
								</div>
							</a>					
						<% else %>
								<div>
									<h4 style="color: grey">N/A</h4>
								</div>								
						<% end %>
					</td>
					
					<!-- 0.75" -->
					<td align="center" >
						<% if @size_price_obj['canvas'][size] != 0.0 %>
							<a href="/items/new" style="text-decoration: none; color: black">
								<div class="item_price">
									<h4>$<%= @size_price_obj['canvas'][size] %></h4>
								</div>
							</a>					
						<% else %>
								<div>
									<h4 style="color: grey">N/A</h4>
								</div>								
						<% end %>
					</td>
					
					<!-- 1.5" -->
					<td align="center" >
						<% if @size_price_obj['canvas'][size] != 0.0 %>
							<a href="/items/new" style="text-decoration: none; color: black">
								<div class="item_price">
									<h4>$<%= (@size_price_obj['canvas'][size].to_f*(1 + Canvasking::CANVAS_DEPTH_1_5_ADD)).round(2) %></h4>
								</div>
							</a>					
						<% else %>
								<div>
									<h4 style="color: grey">N/A</h4>
								</div>								
						<% end %>
					</td>
					
					<!-- Outer Frame -->
					<td align="center" >
						<% if @size_price_obj['canvas'][size] != 0.0 %>
							<a href="/items/new" style="text-decoration: none; color: black">
								<div class="item_price">
									<h4>$<%= (@size_price_obj['canvas'][size].to_f*(1 + Canvasking::CANVAS_FRAME_ADD)).round(2) %></h4>
								</div>
							</a>					
						<% else %>
								<div>
									<h4 style="color: grey">N/A</h4>
								</div>								
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
		
	</table>