<%= render "layouts/navbar" %>


<div class="container" style="margin-top: 50px; margin-bottom: 50px">
	

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active product_tab">
    	<a href="#canvas_price_table" aria-controls="home" role="tab" data-toggle="tab" align="center" style="color: #EF9223">
    		<%= image_tag '/pricing/canvas_icon.png', class: "depth_options_image"%>
    		<h4>CANVAS</h4>
    	</a>
    </li>
    <li role="presentation" class="product_tab">
    	<a href="#frame_price_table" aria-controls="profile" role="tab" data-toggle="tab" align="center" style="color: grey">
    		<%= image_tag '/pricing/frame_icon.png', class: "depth_options_image"%>
    		<h4>FRAME</h4>
    	</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="canvas_price_table">
    	<%= render "canvas_price_table" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="frame_price_table">
    	<%= render "frame_price_table" %>
    </div>
  </div>

</div>

	


</div>

<script>
	
	$('li.product_tab > a').click( function () {
		$('li.product_tab > a').css('color', 'grey');
		$(this).css('color', '#EF9223');		
	});
	
	
</script>
