
<%= form_tag('/site_manage/update_prices') do %>
<table class="table table-bordered" style="margin-bottom: 50px">
	<thead>
		<th>
			<% @width_list.each do |w|%>
				<td>
					<%= w %>
				</td>
			<% end %>
		</th>
	</thead>
	<tbody>
		<% @height_list.each do |h| %>
			<tr>
				<td>
					<%= h %>
				</td>
				<% @width_list.each do |w| %>
					<td style="width: 100%">
						<% size = "#{h}\\\"x#{w}\\\""%>
						<span style="color: grey">
							<%= "#{h}x#{w}"%>
						</span>
						<b>
							<%= text_field_tag "canvas_#{size}", @size_price_obj['canvas'][size] == 0.0 ? "" : @size_price_obj['canvas'][size], style: "width: 50px", name: "canvas[#{size}]"%>
						 </b>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<%= submit_tag 'Update' , class: "btn btn-primary btn-lg", style: "width: 200px; border-color: #ef9223; background-color: #ef9223"%>
<% end %>