
<% if flash[:notice] && flash[:error] %>
	<h3 style="color: red">
		Woopse, Trial failed to mark from active to success/fail:
	</h3>	
	<h5><%= flash[:notice] %></h5>
	<h5><%= flash[:error] %></h5>
<% end %>

<div class="" style="margin-top: 50px; margin-bottom: 20px" >

	
	<div class="row box">
		
	
		
	
	</div>
	
	
	
	<br />
	<br />
	<div>
		<%= form_for :server, url: update_server_path(@server) do |f| %>
		
			<div class="form-group">
				<input class="form-control input-lg" placeholder="VPN Server IP" type="text" name="server[vpn_server]" style="width:80%" />
			</div>

			
			
			<%= hidden_field_tag :expire_to_dead, true %>
			<br />
			<%= f.submit 'Mark Server As Dead', class: 'process_button btn btn-default btn-lg' %>
		<% end %>
		
	</div>
	
</div>


