<div style="margin-top: 30px">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="<% if @active_tab.nil? %>active<% end %> trial_tab">
    	<a href="#active_servers_table" aria-controls="home" role="tab" data-toggle="tab" align="center" style="color: #EF9223">
    		<h4>Active Servers ( <%= @active_servers.count %> )</h4>
    	</a>
    </li>
    <li role="presentation" class="<% if @active_tab == "processing" %>active<% end %> order_tab">
    	<a href="#expire_servers_table" aria-controls="profile" role="tab" data-toggle="tab" align="center" style="color: grey">
    		<h4>Expire Servers ( <%= @expire_servers.count %> )</h4>
    	</a>
    </li>
    <li role="presentation" class="<% if @active_tab == "closed" %>active<% end %> order_tab">
    	<a href="#dead_servers_table" aria-controls="profile" role="tab" data-toggle="tab" align="center" style="color: grey">
    		<h4>Dead Servers ( <%= @dead_servers.count %> )</h4>
    	</a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane <% if @active_tab.nil? %>active<% end %>" id="active_servers_table">
    	<%= render "active_servers" %>
    </div>
    <div role="tabpanel" class="tab-pane <% if @active_tab == "processing" %>active<% end %>" id="expire_servers_table">
    	<%= render "expire_servers" %>
    </div>
    <div role="tabpanel" class="tab-pane <% if @active_tab == "closed" %>active<% end %>" id="dead_servers_table">
    	<%= render "dead_servers" %>
    </div>
    
  </div>

</div>
