<style>
	#sidebar-wrapper {
		
		width: 250px;
		height: 800px;
		overflow-y: auto;
		background-color: black;

	}

	/* Sidebar Styles */

	.sidebar-nav {
		position: fixed;
		background: black;
		top: 0;
		width: 250px;
		height: 800px;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.sidebar-nav li {
		text-indent: 20px;
		line-height: 40px;
	}

	.sidebar-nav li a {
		display: block;
		text-decoration: none;
		color: #999999;
	}

	.sidebar-nav li a:hover {
		text-decoration: none;
		color: #fff;
		background: rgba(255,255,255,0.2);
	}

	.sidebar-nav li a:active, .sidebar-nav li a:focus {
		text-decoration: none;
	}

	.sidebar-nav > .sidebar-brand {
		height: 65px;
		font-size: 18px;
		line-height: 60px;
	}

	.sidebar-nav > .sidebar-brand a {
		color: #999999;
	}

	.sidebar-nav > .sidebar-brand a:hover {
		color: #fff;
		background: none;
	}

	@media (min-width: 768px) {
		#wrapper {
			padding-left: 0;
		}

		#wrapper.toggled {
			padding-left: 250px;
		}

		#sidebar-wrapper {
			width: 0;
		}

		#wrapper.toggled #sidebar-wrapper {
			width: 250px;
		}

		#page-content-wrapper {
			padding: 20px;
			position: relative;
		}

		#wrapper.toggled #page-content-wrapper {
			position: relative;
			margin-right: 0;
		}
	}

.submenu {
	margin-left: 20px;
	
}

.order_sub {
	<% if action_name != "manage_orders" %>
		display: none;
	<% end %>
}

.coupon_sub {
	<% if !action_name.include?("coupon") %>
		display: none;
	<% end %>
}
.mainmenu {
	font-weight: bolder;
	color: white;
}

#sidebar_brand {
	color: #EF9223; 
	font-weight: bolder; 
	font-size: 28px;
	margin-top: 20px;
}
</style>

<!-- Side Bar -->
<div id="sidebar-wrapper" style="color: red">
	<ul class="sidebar-nav" style="background: black">
		<li >
			<a href="<%= site_manage_dashboard_path %>" id="sidebar_brand" >Dashboard</a>
		</li>
		<hr style="width: 100%" />
		<li>
			<a  class="mainmenu_link" href="<%= site_manage_manage_trials_path %>" style="color: white; font-weight: bolder" name="trial_sub">试用</a>
		</li>		
		<li>
			<a  class="mainmenu_link" href="<%= site_manage_manage_orders_path %>" style="color: white; font-weight: bolder" name="order_sub">订单</a>
		</li>
		<li>
			<a  class="mainmenu_link" href="<%= site_manage_manage_servers_path %>" style="color: white; font-weight: bolder" name="order_sub">服务器</a>
		</li>	

		<li>
			<a href="<%= sidekiq_web_path %>" style="color: white; font-weight: bolder" >Jobs</a>
		</li>
		<li>
			<a href="<%= exception_logger_path %>" style="color: white; font-weight: bolder" >Exceptions</a>
		</li>
		<li>
			<a href="<%= site_manage_manage_prices_path %>" style="color: white; font-weight: bolder" >Prices</a>
		</li>
		<li>
			<a href="<%= site_manage_manage_users_path %>" style="color: white; font-weight: bolder" >Users</a>
		</li>
		<li>
			<a class="mainmenu_link" href="<%= site_manage_manage_coupons_path %>" style="color: white; font-weight: bolder" name="coupon_sub">Coupons</a>
		</li>
		<li class="submenu coupon_sub">
			<a href="<%= site_manage_new_coupon_path %>">Create Coupon</a>
		</li>
		<li class="submenu coupon_sub">
			<a href="<%= site_manage_manage_coupons_path %>">Public Coupons</a>
		</li>
		<li class="submenu coupon_sub">
			<a  href="<%= site_manage_manage_coupons_path %>?active_tab=private">Private Coupons</a>
		</li>
		<li class="submenu coupon_sub">
			<a  href="<%= site_manage_manage_coupons_path %>?active_tab=expired">Expired Coupons</a>
		</li>
		<li>
			<a  href="<%= root_path %>" style="color: #EF9223; font-weight: bolder" >Back To Web</a>
		</li>
	</ul>
</div>


