<style>

@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
  height: 650px;
  max-width:300px;
  margin-right: 0;
  margin-left: 0;
} 

.navbar-header
{
  margin-bottom: 50px;
}
.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}

</style>

<nav class="navbar navbar-default" role="navigation" style="position:fixed">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header" align="center">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= site_manage_dashboard_path %>" style="margin-left: 15px"><h1>Dashboard</h1></a>
  </div>
  <hr style="border-color: black; width: 80%"/>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-bottom: 150px">
  	<div class="row" style="margin-left: 50px;">
  		<a  href="<%= site_manage_manage_orders_path %>"><h3>Orders</h3></a>
  	</div>
  	<div class="row" style="margin-top: 0px; margin-left: 80px">
  		<a href="<%= site_manage_manage_orders_path %>"><h5>New Order</h5></a>
  	</div>
  	<div class="row" style="margin-top: 0px; margin-left: 80px">
  		<a  href="<%= site_manage_manage_orders_path %>?active_tab=processing"><h5>Processing Order</h5></a>
  	</div>
  	<div class="row" style="margin-top: 0px; margin-left: 80px">
  		<a  href="<%= site_manage_manage_orders_path %>?active_tab=closed"><h5>Closed Order</h5></a>
  	</div>
  	<div class="row" style="margin-top: 0px; margin-left: 50px">
  		<a href="<%= site_manage_manage_prices_path %>"><h3>Prices</h3></a>
  	</div>
  	<div class="row" style="margin-top: 0px; margin-left: 50px">
  		<a href="<%= site_manage_manage_users_path %>"><h3>Users</h3></a>
  	</div> 	
  	<div class="row" style="margin-top: 0px; margin-left: 50px">
  		<a href="<%= site_manage_manage_coupons_path %>"><h3>Coupons</h3></a>
  	</div> 
  	<div class="row" style="margin-top: 0px; margin-left: 80px">
  		<a href="<%= site_manage_new_coupon_path %>"><h5>Create Coupon</h5></a>
  	</div>
  	<div class="row" style="margin-top: 0px; margin-left: 80px">
  		<a href="<%= site_manage_manage_coupons_path %>"><h5>Public Coupons</h5></a>
  	</div>
  	<div class="row" style="margin-top: 0px; margin-left: 80px">
  		<a  href="<%= site_manage_manage_coupons_path %>?active_tab=private"><h5>Private Coupons</h5></a>
  	</div>
  	<div class="row" style="margin-top: 0px; margin-left: 80px">
  		<a  href="<%= site_manage_manage_coupons_path %>?active_tab=expired"><h5>Expired Coupons</h5></a>
  	</div>	  	

  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav" align="center">
      <li><a href="<%= root_path %>"><h4><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Back To Web</h4></a></li>
      
    </ul>

  </div>
</nav>