

<table class="table">
	<thead>

			<th style="width: 200px"> No. </th>
			<th style="width: 100px"> Time </th>
			<th style="width: 200px"> User & Email </th>

			<th style="width: 600px">
				Images
			</th>
			<th>
			
			</th>
	
	</thead>
	<tbody>
		<% @new_orders.each do | order | %>
			<tr>
				<td>
					<%= order.number %>
				</td>
				<td>
					<%= order.created_at.to_s.gsub!('UTC', '') %>
				</td>
				<td>
					<%= order.user ? order.user.name : "GUEST" %>
					<br />
					<%= order.user ? order.user.email : order.guest_email %>
				</td>

				<td>
					<div class="row">
						
							<% order.items[0..2].each do |item| %>
							<div class="col-md-3">
								<div class="xs_image_grid" align="center">
									<%= image_tag get_image_url(item, 'thumb'), class: 'xs_image' %>			
								</div>
							</div>
							<% end %>
						
						<div class="col-md-3">
							<% if order.items.count > 3 %>
								<h5><%= "...#{order.items.count - 3} More" %></h5>
							<% end %>
						</div>
					</div>
				</td>
				<td align="center">
					<%= link_to 'Process', new_order_detail_path(order), class: "process_button btn btn-secondary"  %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
