
<% if flash[:notice] && flash[:error] %>
	<h3 style="color: red">
		Woopse, Order failed to mark from new to processing as:
	</h3>	
	<h5><%= flash[:notice] %></h5>
	<h5><%= flash[:error] %></h5>
<% end %>

<div class="" style="margin-top: 50px; margin-bottom: 20px" >

	<h3 class="no_bold">Order # <%= @order.number %></h3>
	<div class="row box">
		<div class="col-md-4">
			<br />
			<h5><b>Shipping Address</b></h5>
			<%= @order.shipping_full_name %>
			<br />
			<%= @order.shipping_address_1 %>
			<br />
			<% if !@order.shipping_address_2.empty? %>
			<%= @order.shipping_address_2 %>
			<br />
			<% end %>
			<%= @order.shipping_city %>,&nbsp;<%= @order.state.name %>&nbsp;<%= @order.shipping_zip %>
			<br />
			<%= @order.country.name %>
			<br />
			<%= @order.shipping_phone %>
		</div>
		<div class="col-md-4">
			<br />
			<h4>Payment Method</h4>
			<i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;
			<%= @order.payment_info['brand'] ? @order.payment_info['brand'].upcase : nil %>
			&nbsp;**** &nbsp;
			<%= @order.payment_info['last4'] %>
		</div>
		<div class="col-md-4">
			<br />
			<h5>Order Summary</h5>
			Item(s) Subtotal: $<%= @order.before_price %>
			<br />
			Shipping & Handling: $<%= @order.shipping_price %>
			<br />
			Total before tax: $<%= @order.before_price + @order.shipping_price %>
			<br />
			Tax collected: $<%= @order.tax_price %>
			<br />
			<br />
			<b>Grand Total: $<%= @order.total_price %></b>
			<br />
		</div>
	</div>
	
	
	<div class="row box" style="margin-top: 50px;">

		<% @order.items.each_with_index do |item, ix| %>
		<div class="row">

	
				
					<div class="col-md-4" align="center">
						<br />	
						<%= image_tag get_image_url(item, "thumb"), id: "item_#{item.id}" %>
					</div>

					<div class="col-md-4" >
						<br />
						
						
						Type: <%= item.product.name %>
						<br />
						Size: <%= item.size %>
						<br />
						<% if item.product.name.include?('canvas')%>
							Depth: <%= item.canvas_depth %>
							<br />
							Outer Frame: <%= item.canvas_frame %>								
						<% else %>
							Frame: <%= Frame.find(item.frame_id).name %>
							<br />
							Mat: <%= "#{item.mat}\"".gsub("0.0\"", "No") %>								
						<% end %>
						<br />
						Quantity: <b><%= item.quantity %></b><br />
						Subtotal: $<b><%= item.price*item.quantity %></b>						

					</div>
					<div class="col-md-4">
					<% if item.art_filter %>
						<br />
						<%= link_to 'Download Art Image', get_image_url(item, 'origin'), type: 'button', target: '_blank', class: 'btn btn-warning', style: "width: 200px"%>
					<% end %>
						<br />
						<br />
						<%= link_to 'Download Image', get_normal_image_url(item, 'origin'), type: 'button', target: '_blank', class: 'btn btn-primary', style: "width: 200px"%>

					</div>
		</div>
	
				<% if ix != @order.items.count - 1 %>
					<hr style="width: 100%; border-color:#EDEDED;"/>
				<% else %>
					<br />
				<% end %>
				
		<% end %>
	</div>


	<div class="row box" style="margin-top: 50px;">
		<table class="table">
			<tr>
				<td>
					<h3>Taobao Order ID: <%= @order.oem_info['oem_order_number'] %></h3>
				</td>
			</tr>
			<tr>
				<td align="">
					<%= link_to 'Order detail', @order.oem_info['oem_order_detail_url'], style: "width: 300px",  target: '_blank', class: "order_detail_button btn btn-primary"  %>
				</td>
				<td align="center">
					<% if @order.oem_info['oem_shipping_detail_url'].nil? %>
						<button class="shipping_detail_button btn btn-primary" style="width: 300px" disabled="disabled">Shipping detail</button>
					<% else %>
						<%= link_to 'Shipping detail', @order.oem_info['oem_shipping_detail_url'], style: "width: 300px",  target: '_blank', class: "shipping_detail_button btn btn-primary"  %>
					<% end %>
					
				</td>
			
			</tr>
		</table>
	</div>

	<div class="row box" style="margin-top: 50px;">
		<div class="col-md-10 col-md-offset-1" style="margin-top: 20px; margin-bottom: 20px">
			
		<h4 style="color: grey">
			Shipping Detail Url
		</h4>
		<div>
			<%= form_for :order, url: update_order_path(@order) do |f| %>
			
				<div class="form-group">
					
					<input class="form-control input-lg" placeholder="<%= @order.oem_info['oem_shipping_detail_url'] %>" type="text" name="order[oem_shipping_detail_url]" style="width:100%" />
				</div>
				
				<%= hidden_field_tag :update_shipping_url, true %>
				<br />
				<%= f.submit 'Update', class: 'btn btn-default' %>
			<% end %>
			
		</div>
			
		<br />
		<br />
		<h4 style="color: grey">
			Notes
		</h4>
		<div>
			<%= form_for :order, url: update_order_path(@order) do |f| %>
			
	
				<div class="form-group">
					<%= f.text_area :notes , class:"form-control input-lg", style: "width: 100%; height:200px"%>
				</div>
				
				<%= hidden_field_tag :update_notes, true %>
				<br />
				<%= f.submit 'Update', class: 'btn btn-default' %>
			<% end %>
			
		</div>
		
		</div>
	</div>
	
	<div style="margin-top: 50px">
		<%= form_for :order, url: update_order_path(@order) do |f| %>
			
			<%= hidden_field_tag :processing_to_closed, true %>
			<br />
			<% if @order.processing_status == 5 %>
				<%= f.submit 'Mark Order As Closed', class: 'process_button btn btn-default btn-lg' %>
			<% else %>
				<%= f.submit 'Mark Order As Closed', class: 'process_button btn btn-default btn-lg', disabled: 'disabled'%>
			<% end %>
		<% end %>
		
	</div>
	
</div>


