

<table class="table">
	<thead>

			<th style="width: 200px"> 订单号 </th>
			<th style="width: 100px"> 下单时间 </th>
			<th style="width: 200px"> 用户 </th>
			<th style="width: 200px"> 金额 </th>
			<th style="width: 200px"> 套餐 </th>
			<th style="width: 200px"> Server IP </th>

			<th>
			
			</th>
	
	</thead>
	<tbody>
		<% @processed_orders.each do | order | %>
			<tr>
				<td>
					<%= order.number %>
				</td>
				
				<td>
					<%= order.created_at.to_s.gsub!('UTC', '') %>
				</td>
				
				<td>
					<%= order.user ? order.user.name : "GUEST" %>
					<br />
					<%= order.user ? order.user.email : order.guest_email %>
				</td>

				<td>
					<%= order.total_price %>
				</td>
				
				<td>
					<%= order.items[0].vpn_desc %>
				</td>

				<td>
					<%= order.items[0].vpn_server %>
				</td>
				
			</tr>
		<% end %>
	</tbody>
</table>
