<%= render "layouts/navbar" %>


<div class="container" style="margin-top: 50px; margin-bottom: 50px">
	

<h3>
	Canvas Price Table
</h3>

<%= form_tag('/site_manage/update_prices') do %>
<table class="table table-bordered" style="margin-bottom: 50px">
	<thead>
		<th>
			<% @width_list.each do |w|%>
				<td>
					<%= w %>
				</td>
			<% end %>
		</th>
	</thead>
	<tbody>
		<% @height_list.each do |h| %>
			<tr>
				<td>
					<%= h %>
				</td>
				<% @width_list.each do |w| %>
					<td style="width: 100%">
						<% size = "#{h}\\\"x#{w}\\\""%>
						<span style="color: grey">
							<%= "#{h}x#{w}"%>
						</span>
						<b>
							<%= text_field_tag "single_canvas_#{size}", @size_price_obj['single canvas'][size] == 0.0 ? "" : @size_price_obj['single canvas'][size], style: "width: 50px", name: "single canvas[#{size}]"%>
						 </b>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<%= submit_tag 'Update' %>
<% end %>

<h3>
	Frame Price Table
</h3>

<%= form_tag('/site_manage/update_prices') do %>
<table class="table table-bordered" style="margin-bottom: 50px">
	<thead>
		<th>
			<% @width_list.each do |w|%>
				<td>
					<%= w %>
				</td>
			<% end %>
		</th>
	</thead>
	<tbody>
		<% @height_list.each do |h| %>
			<tr>
				<td>
					<%= h %>
				</td>
				<% @width_list.each do |w| %>
					<td style="width: 100%">
						<% size = "#{h}\\\"x#{w}\\\""%>
						<span style="color: grey">
							<%= "#{h}x#{w}"%>
						</span>
						<b>
							<%= text_field_tag "frame_#{size}", @size_price_obj['frame'][size] == 0.0 ? "" : @size_price_obj['frame'][size], style: "width: 50px", name: "frame[#{size}]"%>
						 </b>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<%= submit_tag 'Update' %>
<% end %>
