
			<!-- 1 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;"%>
						<%= image_tag '/items/no_effects.jpg', size: "170x113", class: "clickable", id: "no_effects" %>
						<h5 style="font-weight: 200">
							Original
						</h5>
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_LnL71DkK" %>
						<%= image_tag '/items/abstract-thumb.jpg', size: "170x113", class: "style_option clickable", id: "LnL71DkK" %>
						<h5 style="font-weight: 200">
							Abstract
						</h5>
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_2kRl49ZW" %>
						<%= image_tag '/items/expressionist-thumb.jpg', size: "170x113", class: "style_option clickable", id: "2kRl49ZW" %>
						<h5 style="font-weight: 200">
							Expressionist
						</h5>
					</label>
				</div>
			</div>
			
			<!-- 2 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_LnL7j7kK" %>
						<%= image_tag '/items/nature-patterns-thumb.jpg', size: "170x113", class: "style_option clickable", id: "LnL7j7kK" %>
						<h5 style="font-weight: 200">
							Nature-patterns
						</h5>					
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_oEG3P0ER" %>
						<%= image_tag '/items/oil-painting-thumb.jpg', size: "170x113", class: "style_option clickable", id: "oEG3P0ER" %>
						<h5 style="font-weight: 200">
							Oil-painting
						</h5>					
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_zZP0evZ0" %>
						<%= image_tag '/items/engraving-thumb.jpg', size: "170x113", class: "style_option clickable", id: "zZP0evZ0" %>
						<h5 style="font-weight: 200">
							Engraving
						</h5>					
					</label>
				</div>
			</div>


