
			<!-- 5 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_LnL7j7kK" %>
						<%= image_tag '/items/nature-patterns-thumb.jpg', size: "170x113", class: "style_option clickable", id: "LnL7j7kK" %>
						<h5 style="font-weight: 200">
							Nature-patterns
						</h5>					
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_oEG3P0ER" %>
						<%= image_tag '/items/oil-painting-thumb.jpg', size: "170x113", class: "style_option clickable", id: "oEG3P0ER" %>
						<h5 style="font-weight: 200">
							Oil-painting
						</h5>				
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_2ZpvDOke" %>
						<%= image_tag '/items/obama-thumb.jpg', size: "170x113", class: "style_option clickable", id: "2ZpvDOke" %>
						<h5 style="font-weight: 200">
							Obama
						</h5>					
					</label>
				</div>
			</div>

			<!-- 6 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center" style="height: 173px">

				</div>
			</div>