			<!-- 3 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_2kRl49ZW" %>
						<%= image_tag '/items/expressionist-thumb.jpg', size: "170x113", class: "style_option clickable", id: "2kRl49ZW" %>
						<h5 style="font-weight: 200">
							Expressionist
						</h5>
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_gZDA63Ex" %>
						<%= image_tag '/items/pseudo_thumb_web.jpg', size: "170x113", class: "style_option clickable", id: "gZDA63Ex" %>
						<h5 style="font-weight: 200">
							Pseudo
						</h5>					
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_zZP0RvZ0" %>
						<%= image_tag '/items/candy_thumb_web.jpg', size: "170x113", class: "style_option clickable", id: "zZP0RvZ0" %>
						<h5 style="font-weight: 200">
							Candy
						</h5>
					</label>
				</div>
			</div>
			
			<!-- 4 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_MkeLoMEg" %>
						<%= image_tag '/items/impressionist-thumb.jpg', size: "170x113", class: "style_option clickable", id: "MkeLoMEg" %>
						<h5 style="font-weight: 200">
							Impressionist
						</h5>					
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_MZJNYmZY" %>
						<%= image_tag '/items/vibrant-painting-thumb.jpg', size: "170x113", class: "style_option clickable", id: "MZJNYmZY" %>
						<h5 style="font-weight: 200">
							Vibrant-painting
						</h5>					
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_8k8aLmnM" %>
						<%= image_tag '/items/campaign-thumb.jpg', size: "170x113", class: "style_option clickable", id: "8k8aLmnM" %>
						<h5 style="font-weight: 200">
							Campaign
						</h5>					
					</label>
				</div>
			</div>

