
			<!-- 1 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;"%>
						<%= image_tag '/items/no_effects.jpg', size: "170x113", class: "clickable", id: "no_effects" %>
						<h5 style="font-weight: 200">
							Original
						</h5>
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_LnL71DkK" %>
						<%= image_tag '/items/abstract-thumb.jpg', size: "170x113", class: "style_option clickable", id: "LnL71DkK" %>
						<h5 style="font-weight: 200">
							Abstract
						</h5>
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_yE72lBZm" %>
						<%= image_tag '/items/composition_thumb_web.jpg', size: "170x113", class: "style_option clickable", id: "yE72lBZm" %>
						<h5 style="font-weight: 200">
							Composition
						</h5>					
					</label>
				</div>
			</div>
			
			<!-- 2 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_vEzXdPnj" %>
						<%= image_tag '/items/mosaic-thumb.jpg', size: "170x113", class: "style_option clickable", id: "vEzXdPnj" %>
						<h5 style="font-weight: 200">
							Mosaic
						</h5>					
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_2n6o97ZQ" %>
						<%= image_tag '/items/red-and-black-thumb.jpg', size: "170x113", class: "style_option clickable", id: "2n6o97ZQ" %>
						<h5 style="font-weight: 200">
							Red-And-Black
						</h5>					
					</label>
				</div>
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_zZP0evZ0" %>
						<%= image_tag '/items/engraving-thumb.jpg', size: "170x113", class: "style_option clickable", id: "zZP0evZ0" %>
						<h5 style="font-weight: 200">
							Engraving
						</h5>					
					</label>
				</div>
			</div>


