<section id="menu" >
	<div class="container">
		<div class="row" align="center" style="height: 100px">
				<h2>How It Works</h2>
		</div>
		
		<div class="row">
			<div class="col-md-6" align="center">
				<div class="col-md-12 box four_box" style="margin-left: ">
					<div class="col-md-8" style="height: 100%;">
						<div class="row" align="left">
							<%= image_tag '/welcome/how_it_works_num_1.png', class: "how_it_works_num", style:"margin-top: 20px; margin-left: 15px"%>
						</div>
						<div class="row" align="left">
							<h3 class="no_bold" style="margin-left: 15px">
								Upload Your Image
							</h3>
						</div>
						<div>
							<p style="color: grey" align="left">
								You can upload your favorate images from your local computer, photo album of facebook, instagram or pinterest.
							</p>
						</div>
					</div>
					<div class="col-md-4" style="height: 100%" align="left">
		
							<%= image_tag '/welcome/upload_image.png', style: "margin-top: 70px", class: "how_it_works_image" %>
					</div>
				</div>
			</div>
			<div class="col-md-6" align="center">
				<div class="col-md-12 box four_box" style="margin-left: ">
					<div class="col-md-8" style="height: 100%;">
						<div class="row" align="left">
							<%= image_tag '/welcome/how_it_works_num_2.png', class: "how_it_works_num", style:"margin-top: 20px; margin-left: 15px"%>
						</div>
						<div class="row" align="left">
							<h3 class="no_bold" style="margin-left: 15px">
								Customize Your Masterpiece
							</h3>
						</div>
						<div>
							<p style="color: grey" align="left">
								We provide online tools to make your masterpiece looks greater, you don't have to be an artist to create a piece of art. 
							</p>
						</div>
					</div>
					<div class="col-md-4 " style="height: 100%">
						<%= image_tag '/welcome/art_process_ori.png', class: "how_it_works_image", style: "margin-top: 70px" %>					
					</div>
				</div>
			</div>
		</div>


		<div class="row" style="margin-top: 15px">
			<div class="col-md-6" align="center">
				<div class="col-md-12 box four_box" style="margin-left: ">
					<div class="col-md-8 " style="height: 100%;">
						<div class="row" align="left">
							<%= image_tag '/welcome/how_it_works_num_3.png', class: "how_it_works_num", style:"margin-top: 20px; margin-left: 15px"%>
						</div>
						<div class="row" align="left">
							<h3 class="no_bold" style="margin-left: 15px">
								We Produce Your Masterpiece
							</h3>
						</div>
						<div>
							<p style="color: grey" align="left">
								Tell us on which product you want your art to live. Canvas, Frame, T-shirt...You name it, We make it.
							</p>
						</div>
					</div>
					<div class="col-md-4" style="height: 100%">
						<%= image_tag '/welcome/art_make.png', style: "margin-top: 70px", class: "how_it_works_image" %>
					</div>
				</div>
			</div>
			<div class="col-md-6" align="center">
				<div class="col-md-12 box four_box" style="margin-left: ">
					<div class="col-md-8 " style="height: 100%;">
						<div class="row" align="left">
							<%= image_tag '/welcome/how_it_works_num_4.png', class: "how_it_works_num", style:"margin-top: 20px; margin-left: 15px"%>
						</div>
						<div class="row" align="left">
							<h3 class="no_bold" style="margin-left: 15px">
								Free Shipping To Your Door
							</h3>
						</div>
						<div>
							<p style="color: grey" align="left">
								YES, we deliver it to you for FREE ~ WORLDWIDE !
							</p>
						</div>
					</div>
					<div class="col-md-4 " style="height: 100%">
						<%= image_tag '/welcome/free_shipping.jpg', class: "how_it_works_image", style: "margin-top: 70px" %>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</section>