<style>

.glyphicon-heart-empty {
	font-size: 45px;
    z-index: 3;
    position: absolute;
    top: 60px;
    left: 80px;
	color: #EF9223;
	display: none;
}

#use_this_style{
  
  background-color: #709BC5;
  border-color: #709BC5;
  color: white;
  border-radius: 0px;
  font-weight: bold;
  
}

.loading_icon {
  margin-top: 120px;
  width:auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;	
}

.test_image_upload_button{

  padding: 25px;
  border:20px solid transparent;
  border-style: dashed;
  border-width: 2px;
  border-color: black;
  border-radius: 20px;

  width:auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
 
  margin-top: 100px;
}

.test_image {
	
  box-shadow: 10px 10px 5px #888888;
  padding: 25px;
  border:15px solid transparent;
  /* border image */
  -moz-border-image:url(/items/frame_black.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(/items/frame_black.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(/items/frame_black.png) 30 30 stretch; /* Opera */
  border-image:url(/items/frame_black.png) 30 30 stretch; 
  width:auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
 
}



</style>


<section id="play" class="parallax-section">
	<div class="container-fluid" style="height: 750px">
		<div class="row" align="center" style="margin-top: 50px">
			<h4 style="font-weight: bolder; color: grey ">
				PLAY AROUND WITH OUR PHOTO ART FILTERS
			</h4>
		</div>
		
		<div class="row" style="margin-top: 0px">
			
			<div class="col-md-6" align="center" style="margin-top: 70px">

				<!--  Upload Photo From Computer -->
				<form method="post">
					<div class="fileinput-button">
						<%= image_tag '/welcome/upload_button_1.png', class: "test_image_upload_button upload_blink", id: "test_image"%>
						<input id="fileupload" type="file" name="item[image]" data-url="/welcome/image_upload" multiple>
					</div>
					<h4 class="no_bold" style="color: #ef9223;display: none" id="upload_image_reminder">Please Click Above Icon To Upload Image First</h4>
					<h5 id="choose_another_image" style="cursor: pointer; display: none" onclick="choose_another_image();"><u>Choose Another Image</u></h5>
				</form>
				
				
				<button class="btn btn-primary btn-lg" onclick="submit();" id="use_this_style" style="display: none; margin-top: 10px">Order A Product On This Style</button>
				
			</div>
			
			<!-- Art Filters -->
			<div class="col-md-6" align="center" style="margin-top: 25px; margin-left: -50px">
				
				<div class=row>
					<h4 style="margin-left: 10px; color: grey;">Choose Art Style</h4>
					<hr style="width: 95%" />
				</div>
			
				<%= form_for :item, :html=> { id: 'order_form', class: 'edit_item'} do |f| %>
				
				<input type="hidden" name="_method" value="patch" />

				<!-- Art Effects Carousel -->
				<%= render partial: 'art_filters_carousel',  locals:{f: f} %>
		
			

				<!-- 4 row -->
				<%= hidden_field_tag :image_h, 1, id: "image_h" %>
				<%= hidden_field_tag :image_w, 1, id: "image_w" %>
				<%= hidden_field_tag :upload_from_welcome_page, true %>
				<%= hidden_field_tag :art_filterred, true %>
				<%= f.submit id: "art_style_options", style: "display: none" %>
			
				<% end %>
			</div>
		</div>
		
	
		

	</div>
</section>

<script>
$(function () {
    $('#fileupload').fileupload({
    	
        dataType: 'json',
        
        done: function (e, data) {   
        	    $('#test_image').attr('src', data.result.image_url);  
        	    <% if Rails.env == "development" %>		
        	    	$('#no_effects').attr('value', data.result.image_url);
        	    <% else %>
        	    	$('#no_effects').attr('value', '<%= @website_url %>' + data.result.image_url);
        	    <% end %>
				$('#order_form').attr('action', '/items/' + data.result.item_id);
				$('#test_image').addClass('test_image');
 				$('#test_image').removeClass('loading_icon');
				$('#test_image').removeClass('test_image_upload_button');
				$('#choose_another_image').show();
        },
        
    	start: function (e, data) {
 			$('#test_image').attr('src', '/loading.gif');
 			$('#test_image').removeClass('test_image_upload_button');
 			$('#test_image').removeClass('upload_blink');
 			$('#test_image').removeClass('test_image');
 			$('#test_image').addClass('loading_icon');
 			$('#choose_another_image').hide();
 			$('#use_this_style').hide();
    	},

    	
    });
});




	$('.style_option').click(function() {
		
		// Image not ready yet
		if ($('#test_image').hasClass('test_image_upload_button')){
			$('#upload_image_reminder').fadeIn().delay(3000).fadeOut();
			return;
		}
		
		
		var style_id = $(this).attr('id');
		var url = '<%= @somatic_realtime_api %>?id=' + style_id + 
				  '&api_key=' + '<%= @somatic_api_key %>' + 
				  '&--input=' + $('#no_effects').attr('value');

		// mark the button
		$('.glyphicon-heart-empty').hide();
		$('#' + style_id + '_chosen').show();
		
		var newImage = new Image();
		var loadingSrc = '/loading.gif';
		$('#test_image').attr('src', loadingSrc);
		$('#test_image').addClass("loading_icon");
		$('#test_image').removeClass("test_image");
		$('#use_this_style').hide();
		$('#choose_another_image').hide();
		newImage.onload = function() {
    			$('#test_image').attr('src', newImage.src);
    			$('#test_image').removeClass("loading_icon");
    			$('#use_this_style').show();
    			$('#choose_another_image').show();
    			$('#use_this_style').removeAttr('disabled');
    			$('#test_image').addClass("test_image");
		};
		newImage.src = url;
		
		$('#radio_' + style_id).attr('value', url);	
	}); 
	
	$('#no_effects').click(function(){
		$('#test_image').attr('src', $('#no_effects').attr('value'));
		$('#use_this_style').attr('disabled', 'disabled');
		$('.glyphicon-heart-empty').hide();
	});
	
	
	function submit(){
		//update image_h and image_w
		$('#image_h').attr('value', $('#test_image').height());
		$('#image_w').attr('value', $('#test_image').width());
		
		$('#art_style_options').click();
	}
	
	$('#use_this_style').click(function () {
    		$("div#divLoading").addClass('show');
	});

	function choose_another_image(){
		$('#fileupload').click();
		$('.glyphicon-heart-empty').hide();
	}

</script>
