<!-- navigation section -->
<%= render 'layouts/navbar' %>

<!-- home section -->
<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Infuse Art Into Your Life</h2>
				<%= link_to 'GET STARTED', new_item_path, method:"get", class:"btn btn-default smoothScroll" %>
			</div>
		</div>
	</div>
</section>

<!-- gallery section -->
<section id="gallery" class="parallax-section">
	<div class="container" style="height: 700px">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">We transform your photos into ARTs</h1>
				<br />
			</div>
		</div>

		<!-- Image Slider -->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="carousel-example-generic" class="carousel slide" data-interval="false">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active" style="pointer-events: none"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1" style="pointer-events: none"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2" style="pointer-events: none"></li>
					</ol>
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">

							<div class="twentytwenty-container">
								<%= image_tag '/golden_bridge_process.jpg', id:"image_1", class:"before_image" %>
								<%= image_tag '/golden_bridge_original.jpg', class:"after_image"%>
							</div>

						</div>

						<div class="item">

							<div class="twentytwenty-container">
								<%= image_tag '/stanford_after.jpg', id:"image_2", class:"before_image" %>
								<%= image_tag '/stanford_before.jpg', class:"after_image"%>
							</div>

						</div>

						<div class="item">

							<div class="twentytwenty-container">
								<%= image_tag '/statue_of_liberty_after.jpg', id:"image_3", class:"before_image"%>
								<%= image_tag '/statue_of_liberty_before.jpg', class:"after_image"%>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
</section>

<!-- menu section -->
<section id="menu" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">How It Works</h1>
				<hr>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Vegetable ................ <span>$20.50</span></h4>
				<h5>Chicken / Rosemary / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Meat ........................... <span>$30.50</span></h4>
				<h5>Meat / Rosemary / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Pork ........................ <span>$40.75</span></h4>
				<h5>Pork / Tooplate / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Orange-Rosemary Salad .......................... <span>$55.00</span></h4>
				<h5>Salad / Rosemary / Orange</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Squid ...................... <span>$65.00</span></h4>
				<h5>Squid / Rosemary / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Orange-Rosemary Shrimp ........................ <span>$70.50</span></h4>
				<h5>Shrimp / Rosemary / Orange</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Prawn ................... <span>$110.75</span></h4>
				<h5>Chicken / Rosemary / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Seafood ..................... <span>$220.50</span></h4>
				<h5>Seafood / Rosemary / Lemon</h5>
			</div>
		</div>
	</div>
</section>

<!-- team section -->
<section id="team" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Why Choose Us</h1>
				<hr>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
				<img src="/home_template/images/team1.jpg" class="img-responsive center-block" alt="team img">
				<h3>High quality with low price</h3>
				<h9>
					learn more...
				</h9>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<img src="/home_template/images/team2.jpg" class="img-responsive center-block" alt="team img">
				<h3>Magic filters can surprise you</h3>
				<h9>
					learn more...
				</h9>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<img src="/home_template/images/team3.jpg" class="img-responsive center-block" alt="team img">
				<h4>Jenny Ko</h4>
				<h3>New Baker</h3>
			</div>
		</div>
	</div>
</section>

<!-- contact section -->
<section id="contact" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
				<h1 class="heading">Contact Us</h1>
				<hr>
			</div>
			<div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
				<form action="#" method="post">
					<div class="col-md-6 col-sm-6">
						<input name="name" type="text" class="form-control" id="name" placeholder="Name">
					</div>
					<div class="col-md-6 col-sm-6">
						<input name="email" type="email" class="form-control" id="email" placeholder="Email">
					</div>
					<div class="col-md-12 col-sm-12">
						<textarea name="message" rows="8" class="form-control" id="message" placeholder="Message"></textarea>
					</div>
					<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
						<input name="submit" type="submit" class="form-control" id="submit" value="make a reservation">
					</div>
				</form>
			</div>
			<div class="col-md-2 col-sm-1"></div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Contact Info.</h2>
				<div class="ph">
					<p>
						<i class="fa fa-phone"></i> Phone
					</p>
					<h4>090-080-0760</h4>
				</div>
				<div class="address">
					<p>
						<i class="fa fa-map-marker"></i> Our Location
					</p>
					<h4>120 Duis aute irure, California, USA</h4>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Open Hours</h2>
				<p>
					Sunday <span>10:30 AM - 10:00 PM</span>
				</p>
				<p>
					Mon-Fri <span>9:00 AM - 8:00 PM</span>
				</p>
				<p>
					Saturday <span>11:30 AM - 10:00 PM</span>
				</p>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Follow Us</h2>
				<ul class="social-icon">
					<li>
						<a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s"></a>
					</li>
					<li>
						<a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s"></a>
					</li>
					<li>
						<a href="#" class="fa fa-behance wow bounceIn" data-wow-delay="0.9s"></a>
					</li>
					<li>
						<a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="0.9s"></a>
					</li>
					<li>
						<a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- copyright section -->
<section id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>CanvasKing</h3>
				<p>
					Copyright © CanvasKing Inc

					| Design: <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Jia Yang</a>
				</p>
			</div>
		</div>
	</div>
</section>

<!-- Twentytwenty -->
<script type="text/javascript">
	$(document).ready(function() {
		init_twentytwenty();
		twentytwenty_auto_move('image_1');
	});

	$('.carousel').on('slid.bs.carousel', function(ev) {
		init_twentytwenty();
		var image_id = $(this).find('.active').find('.before_image').attr('id');
		twentytwenty_auto_move(image_id);

	});

	function init_twentytwenty() {
		//clear old wrapper, otherwise wrapper will growing creazy
		$('.twentytwenty-wrapper').contents().unwrap();
		
		$(".twentytwenty-container").twentytwenty({
			default_offset_pct : 0
		});
		$('.twentytwenty-handle').hide();
		$('.twentytwenty-overlay').hide();
		$('.after_image').show();
	}

	function twentytwenty_auto_move(image_id) {
		var offset = 0;
		var id = setInterval(frame, 10);
		function frame() {
			if (offset == 1000) {
				clearInterval(id);
				$('.after_image').hide();
				$('.carousel').carousel('next');
			} else {
				offset++;
				$('#' + image_id).css('clip', 'rect(0px ' + offset + 'px 882px 0px');
			}
		}

	}
</script>
