<!-- navigation section -->
<%= render 'layouts/navbar' %>


<!-- big picture section -->
<%= render 'big_pic' %>

<!-- how it works section -->
<%= render 'how_it_works' %>


<!-- product section -->
<%= render 'products' %>

<!-- play ground section -->
<%= render 'play_ground' %>

<!-- get started section -->
<section id="contact" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
				<h1 class="heading">Ready to build your own art ?</h1>
			</div>
		</div>
		<div class="row" align="center">
			<button class="btn btn-primary btn-lg">Get Started</button>
		</div>
	</div>
</section>

<!-- footer section -->


<!-- copyright section -->
<section id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>CanvasKing</h3>
				<p>
					Copyright © CanvasKing Inc

					| Design: <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Jia Yang</a>
				</p>
			</div>
		</div>
	</div>
</section>

<%= render 'index_js' %>
