
			<div class="row box" style="height:400px; width:350px; margin-left:20px; margin-top: 40px;">
				<div class="row" align="center" style="height:100px; margin-top: 40px" >
					<h2>Order Summary</h2>
				</div>

				<div class="row" align="center" style="height:100px; " >
					<h4 class="no_bold"><%= @cart.quantity %> items: $<%= @cart.price %></h4>
					<h4 class="no_bold">Shipping: 
						<% if @shipping_cost == 0 %>
							FREE
						<% else %>
							<%= @shipping_cost %>
						<% end %>
					</h4>
					<h4 class="no_bold">Estimated tax: <%= @tax %></h4>
				</div>
				<hr style="width: 50%"/>
				<div class="row" align="center" style="height:50px;" >
					<h3 class="no_bold">Total: <b>$<%= @cart.price + @shipping_cost + @tax %></b></h3>
				</div>
			</div>