d<%= render "layouts/navbar" %>

<div class="container" style="margin-top: 50px" >
	<h3>My Orders</h3>

	<% @orders.each do |order| %>
	<div class="row" style="margin-top: 20px">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<div class="container" >
					<div class="row">
						<div class="col-md-2">
							<h5> Order Placed </h5> <%= order.created_at.strftime("%b.%d %Y") %>
						</div>
						<div class="col-md-2">
							<h5>TOTAL:</h5>$<%= order.total_price %>
						</div>
						<div class="col-md-2">
							<h5>SHIP TO:</h5>
							<%= order.shipping_full_name %>
						</div>
						<div class="col-md-5" align="right">
							<h5>Order # <%= order.number %></h5>
							<%= link_to 'Order Detail', order_path(order) %>
						</div>
					</div>
				</div>
			</div>

			<!-- Table -->
			<table class="table">
				<tbody>
					<% order.items.each do |item| %>
					<tr>
						<td>
						
							<div class="row">
								<div class="col-md-3">
									<br />
									<%= image_tag get_image_url(item, "thumb"), class: "thumb_image" %>
								</div>
								
								<div class="col-md-7">
									<br />
									<ul class="fa-ul">
										<li>
											Product: <%= item.product.name %>
										</li>
										<li>
											Size: <%= item.size %>
										</li>
										<% if item.product.name.include?('canvas')%>
											<li>
												Depth: <%= item.depth %>
											</li>
											<li>
												Border: <%= item.border %>
											</li>
														
										<% else %>
											<li>
												Frame: <%= Frame.find(item.frame_id).name %>
											</li>
											<li>
												Mat: <%= "#{item.mat}\"".gsub("0.0\"", "No") %>	
											</li>							
										<% end %>							
			
										<br />
										
										
											Price:<b> $<%= item.price %></b>
										
										
									</ul>
						
								</div>
								
								<div class="col-md-2">
									<br />
									<%= button_to 'Track Package', '#', method: :get, class:"btn btn-primary", style:"width: 90%" %>
									<br />
									<%= button_to 'Return or Replace', '#', method: :get, class:"btn btn-secondary", type:"button", style:"width: 90%" %>
									<br />
									<%= button_to 'Feadbacks', '#', method: :get, class:"btn btn-secondary", style:"width: 90%" %>
								</div>
								
							</div>
						
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			
		</div>

	</div>

	<% end %>
</div>
