<style>

.orange_style {
  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.blue_style {

  background-color: #709BC5;
  border-color: #709BC5;
  color: white;
  border-radius: 2px;
  font-weight: bold;
}

</style>

<%= render "layouts/marketing_banner" %>

<%= render "layouts/navbar" %>


<div class="container" style="margin-top: 30px; margin-bottom: 50px; min-height: 100%;" >
	
   	 
   	<% if @open_orders.empty? && @history_orders.empty? %>

		<div align="center">
			<%= image_tag '/order/order_empty.png' %>
				<h3>您还没有任何订单</h3><br />
			<%= button_to '购买VPN套餐', new_item_path, method: :get, class:"btn btn-primary btn-lg blue_button" %>
		</div>
	
	<% else %>		
   	
		<div style="margin-top: 30px">
		
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active order_tab">
		    	<a href="#open_orders_table" aria-controls="home" role="tab" data-toggle="tab" align="center" style="color: #EF9223">
		    		<h4>所有订单 ( <%= @open_orders.count %> )</h4>
		    	</a>
		    </li>
		    
		  </ul>
		
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="open_orders_table">
			   	<% if @open_orders.empty? %>
			
					<div align="center" style="margin-top: 20px">
						<%= image_tag '/order/order_empty.png' %>
							<h3 style="font-weight: 300">You don't have any open orders .</h3><br />
						<%= button_to 'ORDER  NOW  : )', new_item_path, method: :get, class:"btn btn-primary btn-lg blue_button" %>
					</div>
				
				<% else %>
					<%= render partial: "open_orders", locals: {orders: @open_orders} %>
				<% end %>		    	
		    	
		    </div>
		    
		    
	
		  </div>
		
		</div>

	
	<% end %>
	
</div>

<div id="item_messages_note" style="display: none" class="note">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 style="margin-top: 0px"><img src='/thin_check_icon.png'  class="note_ok_icon" />&nbsp;Thanks for your feedbacks !</h2>
		</div>
		<div class="col-md-1">
			<img src='/note_close_icon.ico'  class="note_close_icon" style="cursor: pointer"/>
		</div>
	</div>
</div>

<%= render "layouts/footer" %>

<%= render 'index_js' %>
