<div class="col-md-8">

	<div class="row box" style="margin-bottom: 20px">

		<% @cart.items.sort_by { |obj| obj.created_at }.reverse.each_with_index do |item, ix| %>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<br />
					<a data-method="get" style="color: black" href="/items/<%= item.id %>/edit"> <%= image_tag get_image_url(item, "crop"), class: "crop_image", id: "item_#{item.id}" %> </a>
					<div>
						<div class="triptych_1_in_cart" id="item_<%= item.id%>_triple_1"></div>
						<div class="triptych_2_in_cart"  id="item_<%= item.id%>_triple_2" style="margin-left: 8px; margin-right: 8px"></div>
						<div class="triptych_3_in_cart" id="item_<%= item.id%>_triple_3"></div>
					</div>
				</div>

				<div class="col-md-3" >
					<br />
					<br />
					<br />

					Type: <%= item.product.name %>
					<br />
					Size: <%= item.size %>
					<br />
					<% if item.product.name.include?('canvas')%>
					Depth: <%= item.depth %>
					<br />
					Border: <%= item.border %>
					<% else %>
					Frame: <%= Frame.find(item.frame_id).name %>
					<br />
					Mat: <%= "#{item.mat}\"".gsub("0.0\"", "No") %>
					<% end %>

				</div>

			</div>

			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-3">
					<b> $<%= item.price %></b>
					<br />
					Quantity:&nbsp;&nbsp;<b id="quantity_<%= item.id %>"><%= item.quantity %></b>
					<br />
					<br />
				</div>
				<br />
			</div>

			<div class="row">
				<div class="col-md-6" align="left">

				</div>
				<div class="col-md-3" >

					<span style="cursor:pointer;" class="glyphicon glyphicon-plus" aria-hidden="true" name="<%= item.id %>" ></span>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span style="cursor:pointer;"  class="glyphicon glyphicon-minus" aria-hidden="true" name="<%= item.id %>"></span>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a data-method="get" style="color: black" href="/items/<%= item.id %>/edit"><span class="glyphicon glyphicon-cog"></span></a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a data-method="delete" style="color: black" href="/items/<%= item.id %>"><span class="glyphicon glyphicon-trash"></span></a>

				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<% if ix != @cart.items.count - 1 %>
					<hr style="width: 95% ; border-width: 1px; border-color:#E2E2E2;"/>
					<% else %>
					<br />
					<% end %>
				</div>
			</div>

		</div>

		<% end %>
	</div>
</div>