<div class="col-md-8">

			<div class="row" style="margin-top: 20px; border-style: solid; border-width: 3px; border-color:#EDEDED;">

				<% @cart.items.each_with_index do |item, ix| %>
				

					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<br />
								<%= image_tag item.image.overview.url %>
							</div>

							<div class="col-md-3" >
								<br />

								<h5>Product Summary</h5>
								Type: <%= item.product.name %>
								<br />
								Size: <%= item.size %>
								<br />
								Depth: <%= item.depth %>
								<br />
								Border: <%= item.border %>

							</div>

						</div>

						<div class="row">
							<div class="col-md-6"></div>
							<div class="col-md-3">
								<b>Price: $<%= item.price %></b>
							</div>
							<br />
						</div>

						<br />

						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<div class="col-sm-2">
									quantity:<b id="quantity_<%= item.id %>"><%= item.quantity %></b>
								</div>
								<!-- TODO Need to implement JS to update quantity -->
								<div class="col-sm-1">
									
									<span style="cursor:pointer;" class="glyphicon glyphicon-plus" aria-hidden="true" name="<%= item.id %>" ></span>
										
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-1">
									
										<span style="cursor:pointer;"  class="glyphicon glyphicon-minus" aria-hidden="true" name="<%= item.id %>"></span>
									
								</div>
								<div class="col-sm-1"></div>

								<div class="col-sm-1">
									<%= button_to 'Modify', edit_item_path(item), method: :get, class: "btn btn-sm"%>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-1">
									<%= button_to 'Remove', item_path(item), method: :delete, class: "btn btn-sm"%>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-8">
							<% if ix != @cart.items.count - 1 %>
							<hr style="width: 90% ; border-color:#EDEDED;"/>
							<% else %>
							<br />
							<% end %>
							</div>
						</div>
						
						
					</div>

				
			<% end %>
		</div>
	</div>