<div class="col-md-2">
		<div class="box" id="summary_box" align="center" style="height:400px; width:300px; margin-left:20px;">

			<h3 style="margin-top: 40px">Your Cart</h3>
			<hr style="width: 80% ; border-width: 1px; border-color:#E2E2E2;"/>
			
			<h4 >
				<b id="cart_quantity" class="no_bold"><%= cart.quantity %></b>
				<b id="item_single_or_plural" class="no_bold"> 
				<% if cart.quantity > 1 %>
					<%= "item".pluralize %>
				<% else %>
					<%= "item" %>
				<% end %>
				</b>
				: $<b id="cart_price"><%= cart.price %></b>
			</h4>
			
	
			<br />
			<%= button_to 'CHECKOUT', new_order_path, method: :get, class:"btn btn-primary btn-lg", style:"width: 80%", id: 'checkout_button'%>
				<br />
			
			<%= button_to 'CONTINUE SHOPPING', new_item_path, method: :get, class:"btn btn-secondary btn-lg blue_button", style:"width: 80%", id: 'continue_shopping_button'%>

			
				<br />
				<div style="width: 85%; margin-left: 10px">
					<p style="font-size: 12px; text-align: left">
						<em> No other extra or hidden charges. Chat with us or email <a href="mailto:support@magicphotoprints.com" ><u style="color: black">support@magicphotoprints.com</u></a> with any questions about your order. </em>
					</p>
				</div>
			
		</div>
	</div>