<%= render "layouts/navbar" %>


<div class="container">
	<div class="row" style="margin-top: 50px">

		<% if @cart.items.count == 0 %>
			<div align="center">
				<%= image_tag '/cart/empty_cart.png' %>
				<h3>Oops...Your Cart is still empty. Let's fill it ^_^</h3><br />
				<%= button_to 'Get Started', new_item_path, method: :get, class:"btn btn-primary btn-lg blue_button" %>
			</div>
		<% else %>
			<%= render partial:'items', locals:{cart: @cart } %>
			<%= render partial:'summary', locals:{cart: @cart } %>
		<% end %>

	</div>
</div>

<%= render 'cart_js' %>
