<!-- CSS  -->
<link rel="stylesheet" href="/signin_template/css/signin.css">

<!-- navigation section -->
<%= render 'layouts/navbar' %>


<section id="signin" class="parallax-section">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Welcome</p>
        
                
                <%= form_for(resource, as: resource_name, html: {class: "login"}, url: session_path(resource_name)) do |f| %>
                
                <%= f.email_field :email, autofocus: true, type: "text", placeholder: "Username" %>
                <%= f.password_field :password, autocomplete: "off", type: "password", placeholder: "Password"%>
    				
    				<%= f.submit "Login Now", type: "submit", class: "btn btn-success btn-sm" %>
                
                
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <%= f.check_box :remember_me, type: "checkbox" %>
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                        		<%= link_to "Forgot password?", new_password_path(resource_name) %><br />
                            
                        </div>
                    </div>
                </div>
                
                <% end %>
                
            </div>
        </div>
    </div>
    
</div>
</section>


<script>
 $(document).ready(function () {
    $('.forgot-pass').click(function(event) {
      $(".pr-wrap").toggleClass("show-pass-reset");
    }); 
    
    $('.pass-reset-submit').click(function(event) {
      $(".pr-wrap").removeClass("show-pass-reset");
    }); 
});
</script>