<style>
	.modal-backdrop {
		opacity: 0.85 !important;
	}

.blue_style {

  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}

</style>

<!-- Modal -->
<div class="modal fade" id="crop_modal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" align="center" style="color: grey">
				<h4 class="no_bold">
					Crop (optional): Crop by dragging the corners, then click done.
				</h4>
				
			</div>
			<div class="modal-body">

				<div class="row" align="center">
					<div id="item_image_cropbox_wrapper">
						
					</div>

				</div>
			</div>
			<div class="modal-footer" align="center">
				<div align="center">
					<%= form_for :item, url: item_path(@item), method: :patch do |f| %>
						<%= hidden_field_tag :item, "", id: "crop_metrics_field" %>
						<%= hidden_field_tag :image_cropped, true, id: "image_cropped_field"%>
						<%= hidden_field_tag :image_cropped_indeed, false, id: "image_cropped_indeed_field" %>
						<%= f.submit 'submit', style: "display:none", id: "form_submit"%>
					<% end %>
					<button type="button" onclick="crop();" class="btn btn-secondary blue_style" style="width: 50%;margin-top: 10px">
					DONE
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Stop onclick action on Jcrop selection area -->
<script type="text/javascript">

			
	// Use footer button to trigger form submit button
	function crop(){
		// Image cropped
		// Send Ajax call back to server for crop
		var crop_top = parseInt($('.jcrop-selection').css('top'));
		var crop_left = parseInt($('.jcrop-selection').css('left'));
		var crop_width = parseInt($('.jcrop-selection').css('width'));
		var crop_height = parseInt($('.jcrop-selection').css('height'));
		var image_width = parseInt($('.jcrop-active').css('width'));
		var image_height = parseInt($('.jcrop-active').css('height'));
		if (crop_top != 0 || crop_left != 0 || crop_width != image_width || crop_height != image_height){
			$('#image_cropped_indeed_field').attr('value', true);
		} 
		$('#crop_modal').modal('hide');
		$("div#divLoading").addClass('show');
		$("#crop_metrics_field").attr("value", JSON.stringify({'image_crop_x': crop_left,
											   'image_crop_y': crop_top,
											   'image_crop_w': crop_width,
											   'image_crop_h': crop_height}));
		$("#form_submit").click();
		
	}
</script>
