<style>
	.modal-backdrop {
		opacity: 0.85 !important;
	}

</style>

<!-- Modal -->
<div class="modal fade" id="crop_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				
			</div>
			<div class="modal-body">

				<div class="row" align="center">
					<%= form_for @item do |f| %>
					<%= f.cropbox :image, version: :crop_version %>
					<br />
					<%= hidden_field_tag :image_cropped, true %>
					<%= hidden_field_tag :image_cropped_indeed, false %>
					<%= f.submit 'Save', id: "crop_submit_button", style:"display: none"%>
					<% end %>

				</div>
			</div>
			<div class="modal-footer" align="center">
				<div align="center">
					<button type="button" onclick="crop();" class="btn btn-secondary" style="width: 50%; border-width: 1px;border-color: blue;border-style: solid; background-color: white">
					Save
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Stop onclick action on Jcrop selection area -->
<script type="text/javascript">

	// Trigger modal when page loaded an
	$( window ).on("load", function(){
		$('.jcrop-selection').attr('onclick', 'return false;');
		$('.jcrop-selection').attr('value', $('.jcrop-selection').attr('style'));	
		$('#crop_modal').modal('show');
	});

			
	// Use footer button to trigger form submit button
	function crop(){
		// Image cropped
		if ($('.jcrop-selection').attr('style') != $('.jcrop-selection').attr('value')){
			$('#image_cropped_indeed').attr('value', true);
		}
		$('#crop_submit_button').click();
		$('#crop_modal').modal('hide');
		$("div#divLoading").addClass('show');
	}
</script>
