<style>
	.modal-backdrop {
		opacity: 0.6 !important;
	}

	.blue_style {

  	background-color: #ef9223;
  	border-color: #ef9223;
  	color: white;
  	border-radius: 0px;
  	font-weight: bold;
	}

.fixed {
    overflow-y: hidden;
}


/* jquery.Jcrop.min.css v0.9.12 (build:20140524) */
.jcrop-holder{direction:ltr;text-align:left;-ms-touch-action:none}.jcrop-hline,.jcrop-vline{background:#fff url(Jcrop.gif);font-size:0;position:absolute}.jcrop-vline{height:100%;width:1px!important}.jcrop-vline.right{right:0}.jcrop-hline{height:1px!important;width:100%}.jcrop-hline.bottom{bottom:0}.jcrop-tracker{height:100%;width:100%;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none}.jcrop-handle{background-color:#333;border:1px #eee solid;width:7px;height:7px;font-size:1px}.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0}.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px}.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%}.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%}.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0}.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0}.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0}.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px}.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%}.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px}.jcrop-dragbar.ord-n{margin-top:-4px}.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px}.jcrop-dragbar.ord-e{margin-right:-4px;right:0}.jcrop-dragbar.ord-w{margin-left:-4px}.jcrop-light .jcrop-hline,.jcrop-light .jcrop-vline{background:#fff;filter:alpha(opacity=70)!important;opacity:.7!important}.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#fff;border-radius:3px}.jcrop-dark .jcrop-hline,.jcrop-dark .jcrop-vline{background:#000;filter:alpha(opacity=70)!important;opacity:.7!important}.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#fff;border-color:#000;border-radius:3px}.solid-line .jcrop-hline,.solid-line .jcrop-vline{background:#fff}.jcrop-holder img,img.jcrop-preview{max-width:none}

</style>

<!-- Modal -->
<div class="modal fade fixed" align="center" id="crop_modal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">

	<div class="modal-dialog fixed" role="document">
		<div class="modal-content" >
			<div class="modal-header" align="center" style="color: grey">
				
			
						Crop (optional): Crop by dragging the corners, then click done.
			
			
				
			</div>
			<div class="modal-body">

				<div class="row" align="center">
					<div id="item_image_cropbox_wrapper">
						
					</div>

				</div>
			</div>
			<div class="modal-footer" align="center">
				<div align="center">
					<%= form_for :item, url: item_path(@item), method: :patch do |f| %>
						<%= hidden_field_tag :item, "", id: "crop_metrics_field" %>
						<%= hidden_field_tag :image_cropped, true, id: "image_cropped_field"%>
						<%= hidden_field_tag :image_cropped_indeed, false, id: "image_cropped_indeed_field" %>
						<%= f.submit 'submit', style: "display:none", id: "form_submit"%>
					<% end %>
					<button type="button" onclick="crop();" class="btn btn-secondary blue_style" style="width: 50%;margin-top: 10px">
					DONE
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Stop onclick action on Jcrop selection area -->
<script type="text/javascript">

			
	// Use footer button to trigger form submit button
	function crop(){
		// Image cropped
		// Send Ajax call back to server for crop
		var crop_top = parseInt($('.jcrop-selection').css('top'));
		var crop_left = parseInt($('.jcrop-selection').css('left'));
		var crop_width = parseInt($('.jcrop-selection').css('width'));
		var crop_height = parseInt($('.jcrop-selection').css('height'));
		var image_width = parseInt($('.jcrop-active').css('width'));
		var image_height = parseInt($('.jcrop-active').css('height'));
		if (crop_top != 0 || crop_left != 0 || crop_width != image_width || crop_height != image_height){
			$('#image_cropped_indeed_field').attr('value', true);
		} 
		$('#crop_modal').modal('hide');
		$("div#divLoading").addClass('show');
		$("#crop_metrics_field").attr("value", JSON.stringify({'image_crop_x': crop_left,
											   'image_crop_y': crop_top,
											   'image_crop_w': crop_width,
											   'image_crop_h': crop_height}));
		$("#form_submit").click();
		
	}
</script>
