<div class="row box" align="center" style="height:550px; width:350px; margin-left:10px; position:fixed">
	<div class="row" style="height:300px; margin-top: 30px;">
		<% unless @item.image.file.nil? %>
		<%= image_tag @item.image.overview.url %>
		<% else %>
		<%= image_tag '/canvas_placeholder.png' %>
		<% end %>
	</div>
	
	<div class="row" style="height:120px" >
		<div class="col-md-1"></div>
		<div class="col-md-5" style= "margin-left: 0px" align="left">
			<br />
			<b class="no_bold" id="product_choice"> <% if !@item.product.nil? %>
			<%= "Type: #{@item.product.name}" %>
			<% end %> </b>
			<br />
			<b class="no_bold" id="size_choice"> <% if !@item.size.nil? %>
			<%= "Size: #{@item.size}" %>
			<% end %> </b>
			<br />
			<b class="no_bold" id="depth_choice"> <% if !@item.depth.nil? %>
			<%= "Depth: #{@item.depth}\"" %>
			<% end %> </b>
			<br />
			<b class="no_bold" id="border_choice"> <% if !@item.border.nil? %>
			<%= "Border: #{@item.border}" %>
			<% end %> </b>
		</div>
	</div>

	<div class="row" style="height:30px" >
		<div class="col-md-1"></div>
		<div class="col-md-5" style= "margin-left: 0px" align="left">
			<b class="no_bold" id="price_choice"> <% if !@item.price.nil? %>
			<%= "Price: $#{@item.price}" %>
			<% end %> </b>
		</div>
	</div>

	<div class="row" style="height:30px;" >
		<%= hidden_field_tag :go_to_cart, true %>
		<% if item_in_cart?(@item) %>
			<%= f.submit 'Save Changes', class: "btn btn-primary btn-lg", style:"width: 80%"%>
		<% else %>
			<%= f.submit 'Add To Cart', class: "btn btn-primary btn-lg", style:"width: 80%"%>
		<% end %>

	</div>

</div>