<div class="row box" align="center" id="overview_box" style="height:550px; width:350px; margin-left:10px; position:fixed">
	<div class="row" style="height:300px; margin-top: 30px;">
		<% if !@item.image.file.nil? || !@item.image_tmp_paths['overview'].nil? %>
			<%= image_tag get_image_url(@item, "overview"), class: "overview_image image_shadow_in_item #{add_frame_and_mat_class(@item, 'item')}", id: "overview_image", onerror: "imgError(this);"%>
		<% else %>
			<%= image_tag '/canvas_placeholder.png', class: "overview_image"%>
		<% end %>
		<div>
			<div class="triptych_1" >			
			</div>
			<div class="triptych_2"  style="margin-left: 8px; margin-right: 8px">			
			</div>
			<div class="triptych_3">			
			</div>
		</div>
	</div>
	
	<div class="row" style="height:120px" >
		<div class="col-md-1"></div>
		<div class="col-md-10" style= "margin-left: 0px" align="left">
			<br />
			<b class="no_bold" id="product_choice"> 
				<% if !@item.product.nil? %>
					<%= "Type: #{@item.product.name}" %>
				<% end %> 
			</b>
			<br />
			
			<b class="no_bold" id="attr1_choice"> 
				<% if !@item.product.nil? && @item.product.name.include?("canvas") %>
					<% if !@item.depth.nil? %>
						<%= "Depth: #{@item.depth}\"" %>
					<% else %>
						<%= "Depth: ---" %>
					<% end %>
				<% elsif !@item.product.nil? && @item.product.name.include?("frame") %>
					<% if !@item.frame_id.nil? %>
						<%= "Frame: #{Frame.find(@item.frame_id).name}" %>
					<% else %>
						<%= "Frame: ---" %>
					<% end %>
				<% end %> 
			</b>
			<br />
			<b class="no_bold" id="attr2_choice"> 
				<% if !@item.product.nil? && @item.product.name.include?("canvas") %>
					<% if !@item.border.nil? %>
						<%= "Border: #{@item.border}" %>
					<% else %>
						<%= "Border: ---" %>
					<% end %>
				<% elsif !@item.product.nil? && @item.product.name.include?("frame") %>
					<% if !@item.mat.nil? %>
						<%= "Mat: #{@item.mat}\"".gsub("0.0\"", "No") %>
					<% else %>
						<%= "Mat: ---" %>
					<% end %>
				<% end %>  
			</b>
			
			<br />
			<b class="no_bold" id="size_choice"> 
				<% if !@item.size.nil? && !@item.size.empty? %>
					<%= "Size: #{@item.size}" %>
				<% end %> 
			</b>

		</div>
	</div>

	<div class="row" style="height:30px" >
		<div class="col-md-1"></div>
		<div class="col-md-5" style= "margin-left: 0px" align="left">
			<b class="no_bold" id="price_choice"> 
				<% if !@item.price.nil? && !@item.size.nil? && !@item.size.empty? %>
					<%= "Price: $#{@item.price}" %>
				<% end %> 
			</b>
		</div>
	</div>

	<div class="row" style="height:30px;" >
		<%= hidden_field_tag :go_to_cart, true %>
		<% if item_in_cart?(@item) %>
			<%= f.submit 'Save Changes', class: "btn btn-primary btn-lg", style:"width: 80%"%>
		<% else %>
			<%= f.submit 'Add To Cart', class: "btn btn-primary btn-lg", style:"width: 80%", id: "add_to_cart_button"%>
		<% end %>
	</div>

</div>