<script>
	// Global Variables
	var base_price = null;
	var canvas_depth_0_price = null;
	var canvas_depth_0_save_price = null;
	var canvas_depth_1_5_price = null;
	var canvas_depth_1_5_add_price = null;
	var canvas_frame_price = null;
	var canvas_frame_add_price = null;
	
	$( window ).on( "load", function(){
		// Add frame effects if necessary
		if (<%= image_is_triptych(@item) %>){
				// Add triptych effects if necessary
				divide_image_to_3('overview_image');
		}
		

		<% if @update_image_cropped %>
			//$("body").scrollTop(40);
		<% end %>
	});

	
	$("#art_filter_checkbox").change(function() {
		if (this.checked) {
			//use original image
			$('#overview_image').attr('src', '<%= get_image_url(@item, "overview", {"no_effect" => true}) %>');
			$('#size_compare_image').attr('src', '<%= get_image_url(@item, "overview", {"no_effect" => true}) %>');
			$('#select_filter_done_collapse').hide();
			$('#select_filter_skip_collapse').show();
			$('#art_effect_applied').hide();
			$('#no_art_effects').show();
		} else {
			//use art filter
			$('#overview_image').attr('src', '<%= get_image_url(@item, "overview", {"art_effect" => true}) %>');
			$('#size_compare_image').attr('src', '<%= get_image_url(@item, "overview", {"art_effect" => true}) %>')
			$('#select_filter_skip_collapse').hide();
			$('#select_filter_done_collapse').show();
			$('#art_effect_applied').show();
			$('#no_art_effects').hide();
		}
	});
	
	$("#product_single_canvas").click(function() {
		$('#product_choice').text('Canvas')
		
		// show canvas options
		if ($('#depth_0').is(':checked')){
			$('#attr1_choice').text('Rolled. No frame.');
		} else if ($('#depth_0_75').is(':checked')) {
			$('#attr1_choice').text('0.75" deep canvas wrap');
		} else if ($('#depth_1_5').is(':checked')) {
			$('#attr1_choice').text('1.5" deep canvas wrap');
		} else if ($('#depth_2_5').is(':checked')) {
			$('#attr1_choice').text('2.5" deep canvas wrap');
		} else {
			$('#attr1_choice').text('0.75" deep canvas wrap')
		}
		
		if ($('#canvas_frame_none').is(':checked')){
			$('#attr2_choice').text('No Outer Frame')
		} else if ($('#canvas_frame_black').is(':checked')) {
			$('#attr2_choice').text('Black Outer Frame')
		} else if ($('#canvas_frame_white').is(':checked')) {
			$('#attr2_choice').text('White Outer Frame')
		} else if ($('#canvas_frame_brown').is(':checked')) {
			$('#attr2_choice').text('Brown Outer Frame')
		} else {
			$('#attr2_choice').text('No Outer Frame')
		}
		$('#size_choice').text('')
		$('#final_price').text('')
			
		
		$('#attr2_choice').show();
		$('#attr1_choice').show();
		$('#frame_choice').hide();
		$('#mat_choice').hide();
		
		//update price table
		var size_price_str = '<%= @size_price_str %>'
		var size_price = JSON.parse(size_price_str.replace(/&quot;/g,'"'));
		$('#item_size').empty();
		$('#item_size').append($('<option value=""></option>').text('Select Size'));
		for(var size in size_price['canvas']){
			var option = $('<option></option>').attr("value", size).text(size + ' - $' + size_price['canvas'][size]);
			$('#item_size').append(option);			
		}
		//update option section
		$('#section_placeholder_options').show();
		
		
		$('#frame_options').hide();
		//$("html, body").animate({ scrollTop: $(document).height() }, 2000);
		//$('#size_price_options').fadeIn(1000);
		$('#product_done_label').text('CANVAS');

		//remove frame and mat
		$('#overview_image').attr('class','overview_image image_shadow_in_item');	
		$('#overview_image').css('padding', '0px');

		//hide triptych and show overview_image
		$('#overview_image').show();
		$('.triptych_1').hide();
		$('.triptych_2').hide();
		$('.triptych_3').hide();	
	});
	
	$("#product_triptych_canvas_ready").click(function() {
		$('#product_choice').text('Split Canvas');

		// show canvas options
		if ($('#depth_0').is(':checked')){
			$('#attr1_choice').text('Rolled. No frame.');
		} else if ($('#depth_0_75').is(':checked')) {
			$('#attr1_choice').text('0.75" deep canvas wrap');
		} else if ($('#depth_1_5').is(':checked')) {
			$('#attr1_choice').text('1.5" deep canvas wrap');
		} else if ($('#depth_2_5').is(':checked')) {
			$('#attr1_choice').text('2.5" deep canvas wrap');
		} else {
			$('#attr1_choice').text('Depth: ---')
		}
		
		if ($('#canvas_frame_none').is(':checked')){
			$('#attr2_choice').text('Photo Border')
		} else if ($('#canvas_frame_black').is(':checked')) {
			$('#attr2_choice').text('Black Border')
		} else if ($('#canvas_frame_white').is(':checked')) {
			$('#attr2_choice').text('White Border')
		} else {
			$('#attr2_choice').text('Border: ---')
		}
		$('#size_choice').text('')
		$('#final_price').text('')
			
		//update price table
		var size_price_str = '<%= @size_price_str %>'
		var size_price = JSON.parse(size_price_str.replace(/&quot;/g,'"'));
		$('#item_size').empty();
		$('#item_size').append($('<option value=""></option>').text('Select Size'));
		for(var size in size_price['split canvas']){
			var option = $('<option></option>').attr("value", size).text(size + ' - $' + size_price['split canvas'][size]);
			$('#item_size').append(option);			
		}

		//update option section
		if (is_canvas_depth_checked() || is_canvas_frame_checked()){
			$('#canvas_options').show();
		} else {
			$('#section_placeholder_options').show();
		}
		$('#frame_options').hide();
		//$('#size_price_options').show();
		$('#product_done_label').text('SPLIT CANVAS');
		
		//remove frame and mat
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').css('padding', '0px');
		
		//divide image to 3 equal pieces
		divide_image_to_3('overview_image');
	});

	function divide_image_to_3(image_id){
		$('#' + image_id).hide();
		$('.triptych_1').show();
		$('.triptych_2').show();
		$('.triptych_3').show();
		var image_url = $('#' + image_id).attr('src');
		var image_width = $('#' + image_id).width();
		var image_width_3 = parseInt($('#' + image_id).width()/3);
		var image_height = $('#' + image_id).height();
		$('.triptych_1').css('background', 'url(' + image_url + ') 0 0');
		$('.triptych_1').css('width', image_width_3 + 'px');
		$('.triptych_1').css('height', image_height + 'px');

		$('.triptych_2').css('background', 'url(' + image_url + ') -' + image_width_3 + 'px 0');
		$('.triptych_2').css('width', image_width_3 + 'px');
		$('.triptych_2').css('height', image_height + 'px');

		$('.triptych_3').css('background', 'url(' + image_url + ') -' + image_width_3*2 + 'px 0');
		$('.triptych_3').css('width', image_width_3 + 'px');
		$('.triptych_3').css('height', image_height + 'px');
	}
	
	$("#product_frame_ready").click(function() {
		$('#product_choice').text('Framed Print');

		// show canvas options
		if ($('#frame_black_wood').is(':checked')){
			$('#attr1_choice').text('Frame: black wood')
		} else if ($('#frame_white_wood').is(':checked')) {
			$('#attr1_choice').text('Frame: white wood')
		} else if ($('#frame_espresso_wood').is(':checked')) {
			$('#attr1_choice').text('Frame: espresso wood')
		} else {
			$('#attr1_choice').text('Frame: ---')
		}
		
		if ($('#mat_0').is(':checked')){
			$('#attr2_choice').text('Mat: No')
		} else if ($('#mat_2_5').is(':checked')) {
			$('#attr2_choice').text('Mat: 2.5"')
		} else {
			$('#attr2_choice').text('Mat: ---')
		}
		$('#size_choice').text('')
		$('#final_price').text('')
				
		//update price table
		var size_price_str = '<%= @size_price_str %>'
		var size_price = JSON.parse(size_price_str.replace(/&quot;/g,'"'));
		$('#item_size').empty();
		$('#item_size').append($('<option value=""></option>').text('Select Size'));
		for(var size in size_price['framed print']){
			var option = $('<option></option>').attr("value", size).text(size + ' - $' + size_price['framed print'][size]);
			$('#item_size').append(option);			
		}
		//update option section
		$('#canvas_options').hide();
		if (is_frame_frame_checked() || is_frame_mat_checked()){
			$('#frame_options').show();
		} else {
			$('#section_placeholder_options').show();
		}
		
		//$('#size_price_options').show();
		$('#product_done_label').text('FRAMED PRINT');
		
		//update image frame, default is black frame border if none is checked
		if($('#frame_white_wood').is(':checked')){
			$('#overview_image').addClass('image_white_frame_in_item');
		} else if($('#frame_espresso_wood').is(':checked')){
			$('#overview_image').addClass('image_brown_frame_in_item');
		} else {
			$('#overview_image').addClass('image_black_frame_in_item');
		}
		//update mat if necessary
		if($('#mat_2_5').is(':checked')){
			$('#overview_image').css('padding', '15px');
		}

		//hide triptych and show overview_image
		$('#overview_image').show();
		$('.triptych_1').hide();
		$('.triptych_2').hide();
		$('.triptych_3').hide();
	});
	
	// $("#item_size").change(function() {
		// $('#size_choice').text('Size: ' + this.value);
		// $('#final_price').text($("#item_size option:selected").text().split(' ')[2]);
	// });


	$("#depth_0").click(function() {
		$('#attr1_choice').text('Rolled. No frame.');
		$('#final_price').text('$' + canvas_depth_0_price);
		$('#attr1_price').text( '-$' + canvas_depth_0_save_price);
		$('#select_depth_price').text('( Save $' + canvas_depth_0_save_price + ' )');
		// Clear Frame Options
		clear_canvas_frame();
		// Clear label color
		clear_canvas_depth_label_color();
		$('.depth_0_label').css('color', '#ef9223');
	});

	$("#depth_0_75").click(function() {
		$('#attr1_choice').text('0.75" deep canvas wrap');
		$('#final_price').text('$' + base_price);
		$('#attr1_price').text('');
		$('#select_depth_price').text('');
		clear_canvas_depth_label_color();
		$('.depth_0_75_label').css('color', '#ef9223');
	});

	$("#depth_1_5").click(function() {
		$('#attr1_choice').text('1.5" deep canvas wrap');
		$('#final_price').text('$' + canvas_depth_1_5_price);
		$('#attr1_price').text( '$' + canvas_depth_1_5_add_price);
		$('#select_depth_price').text('( + $' + canvas_depth_1_5_add_price + ' )');
		// Clear Frame Options
		clear_canvas_frame();
		// Clear label color
		clear_canvas_depth_label_color();
		$('.depth_1_5_label').css('color', '#ef9223');
	});

	function clear_canvas_frame(){
		if (is_canvas_frame_checked()) {
			$('#canvas_frame_none').prop('checked', true);
			$('#attr2_choice').text('No Outer Frame');
			$('#attr2_price').text( '');
			$('#select_outer_frame_price').text('');
			clear_canvas_frame_label_color();
			$('.canvas_frame_none_label').css('color', '#ef9223');			
		}
	}
	function clear_canvas_depth(){
		if (is_canvas_depth_checked()) {
			$('#depth_0_75').prop('checked', true);
			$('#attr1_choice').text('0.75" deep canvas wrap');
			$('#attr1_price').text( '');
			$('#select_depth_price').text('');
			clear_canvas_depth_label_color();
			$('.depth_0_75_label').css('color', '#ef9223');	
		}
	}
	
	function clear_canvas_depth_label_color(){
		$('.depth_0_75_label').css('color', 'black');
		$('.depth_1_5_label').css('color', 'black');
		$('.depth_0_label').css('color', 'black');
	}

	function clear_canvas_frame_label_color(){
		$('.canvas_frame_none_label').css('color', 'black');
		$('.canvas_frame_black_label').css('color', 'black');
		$('.canvas_frame_white_label').css('color', 'black');
		$('.canvas_frame_brown_label').css('color', 'black');
	}
	
	$("#canvas_frame_none").click(function() {
		$('#attr2_choice').text('No Outer Frame');
		$('#attr2_price').text( '');
		if ($('#depth_0_75').is(':checked') || !is_canvas_depth_checked()){
			$('#final_price').text('$' + base_price);	
		}
		$('#select_outer_frame_price').text('');
		// Clear label color
		clear_canvas_frame_label_color();
		$('.canvas_frame_none_label').css('color', '#ef9223');
	});

	$("#canvas_frame_black").click(function() {
		$('#attr2_choice').text('Black Outer Frame');
		$('#final_price').text('$' + canvas_frame_price);
		$('#attr2_price').text( '$' + canvas_frame_add_price);
		$('#select_outer_frame_price').text('( + $' + canvas_frame_add_price + ' )');
		// Clear Depth Options
		clear_canvas_depth();
		// Clear label color
		clear_canvas_frame_label_color();
		$('.canvas_frame_black_label').css('color', '#ef9223');
	});

	$("#canvas_frame_white").click(function() {
		$('#attr2_choice').text('White Outer Frame');
		$('#final_price').text('$' + canvas_frame_price);
		$('#attr2_price').text( '$' + canvas_frame_add_price);
		$('#select_outer_frame_price').text('( + $' + canvas_frame_add_price + ' )');
		// Clear Depth Options
		clear_canvas_depth();
		// Clear label color
		clear_canvas_frame_label_color();
		$('.canvas_frame_white_label').css('color', '#ef9223');
	});

	$("#canvas_frame_brown").click(function() {
		$('#attr2_choice').text('Brown Outer Frame');
		$('#final_price').text('$' + canvas_frame_price);
		$('#attr2_price').text( '$' + canvas_frame_add_price);
		$('#select_outer_frame_price').text('( + $' + canvas_frame_add_price + ' )');
		// Clear Depth Options
		clear_canvas_depth();
		// Clear label color
		clear_canvas_frame_label_color();
		$('.canvas_frame_brown_label').css('color', '#ef9223');
	});
	

	$("#frame_black_wood").click(function() {
		$('#attr1_choice').text('Frame: black wood');
		//add frame
		if ($('#overview_image').hasClass('image_frame_mat_in_item')){
			$('#overview_image').css('padding', '25px');
		}
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').addClass('image_black_frame_in_item');
	});

	$("#frame_white_wood").click(function() {
		$('#attr1_choice').text('Frame: white wood');
		//add frame
		if ($('#overview_image').hasClass('image_frame_mat_in_item')){
			$('#overview_image').css('padding', '25px');
		}
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').addClass('image_white_frame_in_item');
	});

	$("#frame_espresso_wood").click(function() {
		$('#attr1_choice').text('Frame: espresso wood');
		//add frame
		if ($('#overview_image').hasClass('image_frame_mat_in_item')){
			$('#overview_image').css('padding', '25px');
		}
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').addClass('image_brown_frame_in_item');
	});

	$("#mat_0").click(function() {
		$('#attr2_choice').text('Mat: No');
		$('#overview_image').css('padding', '0px');
	});

	$("#mat_2_5").click(function() {
		$('#attr2_choice').text('Mat: 2.5"');
		$('#overview_image').css('padding', '15px');
	});

	// Handle Error Image
	function imgError(image) {
    		image.onerror = "";
    		image.src = "/canvas_placeholder.png";
    		return true;
	}
	



		function not_interested_for_art_filter(){
			$('#select_filter_arrow').hide();
			if (!is_product_checked()){
				$('#select_product_arrow').show();
			}
			$('#select_filter_collapse_box').show();
			$('#select_filter_skip_collapse').show();
			$('#select_filter_done_collapse').hide();
			$('#select_filter_box').hide();
			if ( !is_product_checked() ) {
				$('#select_product_box').fadeIn(1000);	
			}
			$('#art_filter_checkbox').prop('checked', true);
			$('#overview_image').attr('src', '<%= get_image_url(@item, "overview", {"no_effect" => true}) %>');
			$('#section_placeholder_product').hide();
		}
		
		$('.product_image_ready').click(function(){
			$('#select_product_arrow').hide();
			$('#select_frame_options_frame_arrow').hide();
			$('#select_frame_options_mat_arrow').hide();
			$('#select_canvas_options_depth_arrow').hide();
			$('#select_canvas_frame_arrow').hide();
			$('#select_size_arrow').show();
			$('#select_size_done').hide();	
			$('#select_product_done').show();
			$('#section_placeholder_size').hide();
			$('#size_price_options').fadeIn(1000);
			$('#select_product_collapse_box').show();
			$('#select_product_box').hide();
			
		});

		$('#product_single_canvas_radio').click(function (){
		    clear_canvas_options();
		});
		
		function clear_canvas_options(){
			$('#select_size_price').text('');
			$('#select_depth_price').text('');
			$('#select_outer_frame_price').text('');

			$('#canvas_depth_0_price').text('Save $');
			$('#canvas_depth_1_5_price').text('$');
			$('#canvas_frame_black_price').text('$');
			$('#canvas_frame_white_price').text('$');
			$('#canvas_frame_brown_price').text('$');

			$('#final_price').text('');
			$('#base_price').text('');			
			$('#attr1_price').text('');	
			$('#attr2_price').text('');	
			
			$('#canvas_options').hide();
			$('#section_placeholder_options').show();
			
		}
		
		$('#item_size').change(function (){
			
			// Update price and size in summary
			$('#size_choice').text('Size: ' + this.value);
			var price = $("#item_size option:selected").text().split(' ')[2]
			$('#final_price').text(price);
			$('#base_price').text(price);
			$('#select_size_price').text(' ( ' + price + ' )');
			
			$('#select_size_arrow').hide();
			$('#select_size_done').show();
			$('#canvas_options').show();
			
			// show compare images and adjust relative canvas size
			$('#size_compare_background_image').show();
			$('#size_compare_image').show();
			$('#lamp_image').show();
			var height = parseInt($('#item_size').val().split('x')[0].replace('"', ''));
			var width = parseInt($('#item_size').val().split('x')[1].replace('"', ''));
			if (height > width){
				$('#size_compare_image').css('max-height', height*3 + 'px');
				$('#size_compare_image').css('max-width', height*3 + 'px');
			} else {
				$('#size_compare_image').css('max-height', width*3 + 'px');
				$('#size_compare_image').css('max-width', width*3 + 'px');				
			}
			if ((47 - height*3/2) < (85 - height*3) ){
				$('#size_compare_image').css('top', (47 - height*3/2) + 'px');
			} else {
				$('#size_compare_image').css('top', (85 - height*3) + 'px');
			}
			$('#size_compare_image').css('left', (178 - width*3/2) + 'px');


			if (height < 16 && width < 16){
				$('#size_compare_image').css('padding', '2px');
				$('#size_compare_image').css('border-width', '2px');
			} else {
				$('#size_compare_image').css('padding', '3px');
				$('#size_compare_image').css('border-width', '3px');					
			}			
			
			$('#size_price_options').css("border-color", "black");
			//$("html, body").animate({ scrollTop: $(window).scrollTop() + 450 }, 2000);
			$('#section_placeholder_options').hide();
			
			if ($('#product_frame_radio').is(':checked')){
		
				$('#canvas_options').hide();
				$('#frame_options').fadeIn(1000);
				
				if (!is_frame_frame_checked()){
					$('#select_frame_options_frame_arrow').show();
				} else if (!is_frame_mat_checked()) {
					$('#select_frame_options_mat_arrow').show();
				} else {
					// ready to add to cart
					
				}

			} else {

				$('#canvas_options').fadeIn(1000);
				$('#frame_options').hide();
				
				// Update Canvas Options Price for: canvas_depth and canvas_frame
				base_price = parseFloat($("#item_size option:selected").text().split(' ')[2].split('$')[1]);
				canvas_depth_0_price = (base_price*0.9).toFixed(2);
				canvas_depth_0_save_price = (base_price*0.1).toFixed(2);
				canvas_depth_1_5_price = (base_price*1.1).toFixed(2);
				canvas_depth_1_5_add_price = (base_price*0.1).toFixed(2);
				canvas_frame_price = (base_price*1.3).toFixed(2);
				canvas_frame_add_price = (base_price*0.3).toFixed(2);
				
				$('#canvas_depth_0_price').text('Save $' + canvas_depth_0_save_price);
				$('#canvas_depth_1_5_price').text('Only $' + canvas_depth_1_5_add_price);
				$('#canvas_frame_black_price').text('Only $' + canvas_frame_add_price);
				$('#canvas_frame_white_price').text('Only $' + canvas_frame_add_price);
				$('#canvas_frame_brown_price').text('Only $' + canvas_frame_add_price);
				
				if ($('#depth_0').is(':checked')){
					$('#select_depth_price').text('( Save $' + canvas_depth_0_save_price + ' )');
					$('#attr1_price').text( '-$' + canvas_depth_0_save_price);	
					$('#final_price').text('$' + canvas_depth_0_price);
					
				}
				if ($('#depth_1_5').is(':checked')){
					$('#select_depth_price').text('( + $' + canvas_depth_1_5_add_price + ' )');
					$('#attr1_price').text( '$' + canvas_depth_1_5_add_price);
					$('#final_price').text('$' + canvas_depth_1_5_price);
				}
				
				if ($('#canvas_frame_black').is(':checked') || $('#canvas_frame_white').is(':checked') || $('#canvas_frame_brown').is(':checked')){
					$('#select_outer_frame_price').text('( + $' + canvas_frame_add_price + ' )');
					$('#attr2_price').text( '$' + canvas_frame_add_price);
					$('#final_price').text('$' + canvas_frame_price);
				}
				
				if (!is_canvas_depth_checked()){
					$('#select_canvas_options_depth_arrow').show();
				} else if (!is_canvas_frame_checked()) {
					$('#select_canvas_frame_arrow').show();
				} else {
					// ready to add to cart
					
				}
			}
			
			
		});
		
		$('.depth_options').click(function(){
			$('#select_canvas_options_depth_arrow').hide();
			$('#select_depth_done').show();
			if (!is_canvas_frame_checked()){
				$('#select_canvas_frame_arrow').show();
			} else {
				// wizard process is done
				add_to_cart_is_ready();
				$('#canvas_options').css('border-color', 'black');
			}
		});

		$('.canvas_frame_options').click(function(){
			$('#select_canvas_frame_arrow').hide();
			$('#select_canvas_frame_done').show();
			if (!is_canvas_depth_checked()){
				$('#select_canvas_options_depth_arrow').show();
			} else {
				//wizard process is done
				add_to_cart_is_ready();
				$('#canvas_options').css('border-color', 'black');
			}
		});

		$('.frame_options').click(function(){
			$('#select_frame_options_frame_arrow').hide();
			$('#select_frame_done').show();
			if (!is_frame_mat_checked()){
				$('#select_frame_options_mat_arrow').show();
			} else {
				// wizard process is done
				add_to_cart_is_ready();
				$('#frame_options').css('border-color', 'black');
			}
		});

		$('.mat_options').click(function(){
			$('#select_frame_options_mat_arrow').hide();
			$('#select_mat_done').show();
			if (!is_frame_frame_checked()){
				$('#select_frame_options_frame_arrow').show();
			} else {
				// wizard process is done
				add_to_cart_is_ready();
				$('#frame_options').css('border-color', 'black');
			}
		});
	

	function add_to_cart_is_ready(){
		$('#add_to_cart_button').removeClass('grey_button');
		$('#add_to_cart_button').addClass('orange_button');
		$('#add_to_cart_button').removeAttr('disabled');
		$('#summary_and_submit').css('border-color', 'black');
		$('#summary_and_submit_div').css('opacity', 1);
		$('#ready_to_cart_banner').fadeIn(1500).delay(2000).fadeOut(1500);
		$('#ready_to_cart_banner').removeAttr('id');
		show_note();
	}
	function is_product_checked(){
		return 	($('#product_single_canvas_radio').is(':checked') 
				|| $('#product_triptych_canvas_radio').is(':checked') 
				|| $('#product_frame_radio').is(':checked'));		
	}

	function is_canvas_depth_checked(){
		return 	($('#depth_0').is(':checked') 
				|| $('#depth_0_75').is(':checked') 
				|| $('#depth_1_5').is(':checked') 
				|| $('#depth_2_5').is(':checked'));
	}
		
	function is_canvas_frame_checked(){
		return 	($('#canvas_frame_none').is(':checked') 
				|| $('#canvas_frame_black').is(':checked')
				|| $('#canvas_frame_brown').is(':checked')  
				|| $('#canvas_frame_white').is(':checked'));
	}
	
	function is_frame_frame_checked(){
		return 	($('#frame_white_wood').is(':checked') 
				|| $('#frame_black_wood').is(':checked') 
				|| $('#frame_espresso_wood').is(':checked'));
	}

	function is_frame_mat_checked(){
		return 	($('#mat_0').is(':checked') 
				|| $('#mat_2_5').is(':checked'));
	}
	
	$('#change_image').click(function(){
		$('#select_image_collapse_box').hide();
		$('#image_upload_label').text('');
		$('#upload_button_label').text('Upload Another Image');
		$('#select_image_box').show();
	});

	$('#change_product').click(function(){
		$('#select_product_collapse_box').hide();
		$('#select_product_box').show();
	});

	$('#change_filter').click(function(){
		$('#select_filter_collapse_box').hide();
		$('#select_filter_box').show();
		$(".twentytwenty-container").twentytwenty();
		$('.twentytwenty-overlay').hide();
	});


	$(window).on("scroll", function(e) {
		
  		if (this.scrollY > 115) {
    		$('#overview_box').addClass("position_fixed");
  		} else {
    		$('#overview_box').removeClass("position_fixed");
  	}
	});


	function show_note(){	
		$('#note').slideDown().delay(3000).slideUp();
		$('#note').removeAttr('id');
	}

	$('#not_interested_button').click(function (){
		$('#no_art_effects').show();
		$('#art_effect_applied').hide();
	});
</script>
