<div class="row box" id="frame_options" style="margin-top: 30px; <% if hide_frame_options_section?(@item, @update_image_cropped) %>display: none<% end %>">


		<div class="row">
			<h4 class="no_bold" style="margin-left: 60px; margin-top: 20px;"> 		
		
			<span class="glyphicon glyphicon-play blink" id="select_frame_options_frame_arrow" style="display: none"></span>
			<span style="<% if @item.frame_id.nil? %>display: none<% end %>" class="glyphicon glyphicon-ok ok_color" id="select_frame_done"></span>
			&nbsp;&nbsp;Select Frame
			
			</h4>
		</div>
		
		<% if @item.errors[:frame] %>
		<h6 id="frame_error" style="color: red" ><%= @item.errors[:frame_id][0] %></h6>
		<% end %>
		
		<div class="row" style="margin-left: 0px">

			<div class="col-md-3" style="margin-left: 20px">

				<label class="frame_options" > 
					<%= f.radio_button :frame_id, Frame.find_by_name("black wood").id,  style:"visibility: hidden;", id: "frame_black_wood" %>
					<%= image_tag '/items/frame_wood_black.jpg', class: "frame_option_image"%> </label>
					<h5 style="margin-left: 35px"> Black wood</h5> 
			</div>
			
			<div class="col-md-3" style="margin-left: 40px">
				<label class="frame_options" > 
					
					<%= f.radio_button :frame_id, Frame.find_by_name("white wood").id, style:"visibility: hidden;", id: "frame_white_wood" %>
					<%= image_tag '/items/frame_wood_white.jpg', class: "frame_option_image"%> 
					<h5 style="margin-left: 35px"> White wood</h5> 
					</label>

			</div>
			
			<div class="col-md-3" style="margin-left: 40px">
				<label class="frame_options" > 
					
					<%= f.radio_button :frame_id, Frame.find_by_name("espresso wood").id,  style:"visibility: hidden;", id: "frame_espresso_wood"%>
					<%= image_tag '/items/frame_espresso_wood.jpg', class: "frame_option_image"%> 
					<h5 style="margin-left: 35px"> Brown wood</h5> 
				</label>

			</div>
			

			
		</div>
		
		<hr style="width: 550px; margin-left: 10px"/>
		
		<div class="row">
	
			<h4 class="no_bold" style="margin-left: 60px;"> 
			
			<span class="glyphicon glyphicon-play blink" id="select_frame_options_mat_arrow" style="display: none"></span>
			<span style="<% if @item.mat.nil? %>display: none<% end %>" class="glyphicon glyphicon-ok ok_color" id="select_mat_done"></span>
			&nbsp;&nbsp;Select Mat
	
			</h4>
		</div>
		
		<% if @item.errors[:border] %>
		<h6 id="mat_error" style="color: red" ><%= @item.errors[:mat][0] %></h6>
		<% end %>
		
		<div class="row">
			<div class="col-md-3" style="margin-left: 40px; margin-right: 40px">

				<label class="mat_options" > 
					
					<%= f.radio_button :mat, 0.0,  style:"visibility: hidden;", id: "mat_0"%>
					<%= image_tag '/items/no_mat.jpg', class: "frame_option_image"%> 
					<h5 style="margin-left: 45px"> No Mat </h5> 
				</label>
			</div>
			<div class="col-md-3">

				<label class="mat_options" > 
					 
					<%= f.radio_button :mat, 2.5,  style:"visibility: hidden;", id: "mat_2_5"%>
					<%= image_tag '/items/250_mat.jpg', class: "frame_option_image"%> 
					<h5 style="margin-left: 45px"> 2.5" Mat</h5>
				</label>
			</div>
		</div>

</div>

<script>

$( ".frame_options" ).click(function() {
  if ( $('#frame_error').length ){
  	$('#frame_error').remove();
  	var error_num = parseInt($('#error_number').text());
  	error_num--;
  	if (error_num == 0){
  		$('#error_explanation').remove();
  	} else {
  		var issue = 'issue';
  		if (error_num > 1){issue = 'issues'}
  		$('#error_number').text(error_num + ' ' + issue );
  	}
  }
});

$( ".mat_options" ).click(function() {
  if ( $('#mat_error').length ){
  	$('#mat_error').remove();
  	var error_num = parseInt($('#error_number').text());
  	error_num--;
  	if (error_num == 0){
  		$('#error_explanation').remove();
  	} else {
  		var issue = 'issue';
  		if (error_num > 1){issue = 'issues'}
  		$('#error_number').text(error_num + ' ' + issue );
  	}
  }
});

</script>
