<div class="row box">
	<div class="row">
		<h4 class="no_bold" style="margin-left: 40px; margin-top: 20px">
			<% if @show_image_wizard_arrow %>
				<span class="glyphicon glyphicon-arrow-right blink" id="select_image_arrow">&nbsp;</span>
			<% end %>
			Upload Your Image 
		</h4>
	</div>

	<% if @item.errors[:image] %>
	<h6 id="image_error" style="color: red; margin-left: 20px"><%= @item.errors[:image][0] %></h6>
	<% end %>
	
	<div  class="row " style="margin: auto; margin-left: 50px">
		<div class="col-md-6" align="">

		<!--  Upload Photo From Computer -->
		<%= form_for @item do |f| %>

			<div class="field" style="margin-top: 20px">
				<%= f.file_field :image, id:"item_image", type:"file", class:"file-loading"%>
			</div>
			<div class="actions" style="margin-top: 10px">
				<%= hidden_field_tag :image_upload, true %>

			</div>
		<% end %>
		</div>
		
		<div class="col-md-2" align="left">
			<h4 class="no_bold" style="margin-top: 30px">OR</h4>
		</div>
		
		<!--  Upload Photo From Facebook/Instagram -->
		<div class="col-md-4" align="center">
			<button type="button" style="margin-bottom: 20px; background-color: white;border-color: blue; color: blue" class="btn btn-primary" id="facebook_upload_button" onclick="load_images_from_facebook()"><%= image_tag '/items/facebook_icon.png', class: "facebook_icon" %>&nbsp;Upload From Facebook</button>
			<button type="button" style="margin-bottom: 20px; background-color: white;border-color: red; color: red" class="btn btn-primary" id="facebook_upload_button" onclick="load_images_from_facebook()"><%= image_tag '/items/instagram_icon.png', class: "facebook_icon" %>&nbsp;Upload From Instagram</button>
		</div>
		
		
		
	</div>

</div>

<script>
	$(document).on('ready', function() {
		$("#item_image").fileinput({
			showCaption : false
		});
	}); 
	
	$('body').on('click', 'button.fileinput-upload', function () {
    		$("div#divLoading").addClass('show');
	});
	
</script>