<div class="row box" style="margin-top: 50px">
	<div class="row">
		<h4 class="no_bold" style="margin-left: 40px; margin-top: 20px">
			
			Art Effects
		</h4>	
	</div>
	
	<div class="row" style="margin-bottom: 20px">
		<div class="col-md-5">
			
				<p class="no_bold" style="margin-left: 25px; margin-bottom: 50px; margin-top: 30px">
					We provide 10+ art filters to make your photos look like Van Gogh's or Picasso's paintings. Give it a try, You will be supprised !
				</p>
			
			<div class="row">
				
				<%= button_tag "APPLY", :type => 'button', style: 'margin-left: 40px;background-color: white; color: black; width: 250px', :class => "btn btn-primary", :onclick => "location.href = '#{art_filter_item_path(@item)}'" %>
			
				
					<div class="field" style="margin-left: 40px; margin-top: 20px">
						<label class="no_bold">
					
							<% if @item.art_filter || !@item.art_image.file.nil? || !@item.art_image_tmp_paths.empty? %>
								SKIP ART EFFECTS
								<%= f.check_box :art_filter, {id: "art_filter_checkbox", }, false, true %>
					
							<% else %>
								<%= f.check_box :art_filter, {id: "art_filter_checkbox", disabled: "disabled", style: "display: none"}, false, true %>
							<% end %>
						</label>
					</div>	
			
			</div>
		</div>
		
		<div class="col-md-7">
			
			<div class="twentytwenty-container" style="margin-left: 100px; margin-top: 30px">
				<%= image_tag '/welcome/sunflower_after.jpg', id:"image_1", class:"thumb_image " %>
				<%= image_tag '/welcome/sunflower_before.jpg', class:"thumb_image"%>
			</div>
		</div>
	
	</div>
	

</div>

<script>
	
$(window).load(function() {
	$(".twentytwenty-container").twentytwenty();
	$('.twentytwenty-overlay').hide();
});
</script>
