<div class="row box" id="size_price_options" style="margin-top: 50px; <% if @item.image.file.nil? || @item.image_tmp_paths.empty? %><%= "display: none" %><% end %>">
	<div class="row">
		<h4 class="no_bold" style="margin-left: 40px; margin-top: 20px; margin-bottom: 20px"> 
			
			Sizes & Pricing
			</h4>
		
	</div>
	
	<% if @item.errors[:size] %>
	<h6 id="size_error" style="color: red; margin-left: 20px"><%= @item.errors[:size][0] %></h6>
	<% end %>

	<div class="row" style="margin-left: 20px; margin-bottom: 20px">

		<div class="col-md-4">
			
			<select class="form-control" name="item[size]" id="item_size">
				<% if @item.size.nil? || @item.errors[:size] %>
				<option value="" selected disabled>Select Size</option>
				<% end %>
				<%= @size_price.each do |key, val| %>
				<% _key = key.gsub("\\", "") %>
				<option value="<%= _key %>" <% if @item.size && @item.size == _key %> selected <% end %>><%= _key %> - $<%= val %></option>
				<% end %>
			</select>
		
		</div>
	</div>
</div>

<script>

$("#item_size").change(function() {
  
  if ( $('#size_error').length ){
  	$('#size_error').remove();
  	var error_num = parseInt($('#error_number').text());
  	error_num--;
  	if (error_num == 0){
  		$('#error_explanation').remove();
  	} else {
  		var issue = 'issue';
  		if (error_num > 1){issue = 'issues'}
  		$('#error_number').text(error_num + ' ' + issue );
  	}
  }
});
</script>
