<div class="row box">
	<h4 style="margin-left: 20px"> Select your image </h4>
	<% if @item.errors[:image] %>
	<h6 id="image_error" style="color: red; margin-left: 20px"><%= @item.errors[:image][0] %></h6>
	<% end %>
	<div  class="row" style="margin: auto; margin-left: 50px">
		<div class="col-md-6">

		<!-- 1 Upload Photo -->
		<%= form_for @item do |f| %>

			<div class="field" style="margin-top: 20px">
				<%= f.file_field :image, id:"item_image", type:"file", class:"file-loading"%>
			</div>
			<div class="actions" style="margin-top: 10px">
				<%= hidden_field_tag :image_upload, true %>

			</div>
		<% end %>
			<button type="button" style="margin-bottom: 20px" class="btn btn-primary" id="facebook_upload_button" onclick="load_images_from_facebook()"><%= image_tag '/items/facebook_icon.png', class: "facebook_icon" %>&nbsp;Upload From Facebook</button>
		
		</div>
		
	</div>

</div>

<script>
	$(document).on('ready', function() {
		$("#item_image").fileinput({
			showCaption : false
		});
	}); 
</script>