<style>

.coming_soon_product_icon {
	width: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
	
    z-index: 3;
    position: absolute;
    top: 22px;
    left: 55px;
    
    opacity: 1.0;
	
}

.coming_soon_product {
	opacity: 0.3;
}



</style>

<div class="row box" style="margin-top: 30px;<% if hide_products_section?(@edit, @show, params, @save_fail, @item) %>display: none<% end %>" id="select_product_box">
	<div class="row">
		<h4 class="no_bold" style="margin-left: 70px; margin-top: 20px; margin-bottom: 20px; font-weight: 300"> 
		
			<span class="glyphicon glyphicon-play blink" id="select_product_arrow" style="<% if !@item.product.nil? || @wizard %>display: none<% end %>"></span>
			<span style="<% if @item.product.nil? %>display: none<% end %>" class="glyphicon glyphicon-ok ok_color" id="select_product_done"></span>
			&nbsp;&nbsp;Select Product
			</h4>
		
	</div>
	
	<% if @item.errors[:product_id] %>
		<h6 id="product_error" style="color: red; margin-left: 20px"><%= @item.errors[:product_id][0] %></h6>
	<% end %>
	
	
		<div class="row">

			<div class="col-md-4" align="center">

				<label id="product_single_canvas"> 
					<%= f.radio_button :product_id, Product.find_by_name('canvas').id, style: "visibility: hidden;", id: "product_single_canvas_radio"%>
					<%= image_tag '/items/single_canvas.jpg', class: "product_image product_image_ready"%> 
					<h5 class="no_bold ready_product_label" style="margin-left: 15px">Canvas</h5>
					
				</label>
			</div>

			<div class="col-md-4" align="center">
				<label id="product_frame" class="coming_soon_product">
					<!-- Comming soon -->
					<% if false %>
						<%= f.radio_button :product_id, Product.find_by_name('framed print').id, style: "visibility: hidden;", id: "product_frame_radio" %>
					<% end %>
					<%= image_tag '/items/framed_prints.jpg',class: "product_image"%> 
					<h5 class="no_bold" style="margin-left: 15px;">Framed Print</h5>
					<%= image_tag '/items/coming_soon_icon.jpg', class: "coming_soon_product_icon" %>
				</label>

			</div>
					
			<div class="col-md-4" align="center">
				<label id="product_triptych_canvas" class="coming_soon_product"> 
					<!-- Comming soon -->
					<% if false %>
						<%= f.radio_button :product_id, Product.find_by_name('split canvas').id, style: "visibility: hidden;", id: "product_triptych_canvas_radio"%>
					<% end %>
					<%= image_tag '/items/split_canvas.jpg', class: "product_image"%> 
					<h5 class="no_bold" style="margin-left: 15px">Split Canvas</h5>	
					<%= image_tag '/items/coming_soon_icon.jpg', class: "coming_soon_product_icon" %>
				</label>

			</div>

			

	</div>
</div>

<script>

$( "#product_single_canvas" ).click(function() {
  if ( $('#product_error').length ){
  	$('#product_error').remove();
  	var error_num = parseInt($('#error_number').text());
  	error_num--;
  	if (error_num == 0){
  		$('#error_explanation').remove();
  	} else {
  		var issue = 'issue';
  		if (error_num > 1){issue = 'issues'}
  		$('#error_number').text(error_num + ' ' + issue );
  	}
  }
});

$('.product_image_ready').click(function (){
	$('.ready_product_label').css("color", "black");
	$(this).next().css( "color", "#ef9223" );
});

</script>
