<div class="row box" style="margin-top: 50px">
	<h4 style="margin-left: 20px">Select product</h4>
	<% if @item.errors[:product_id] %>
	<h6 id="product_error" style="color: red; margin-left: 20px"><%= @item.errors[:product_id][0] %></h6>
	<% end %>
	<div class="container" style="margin-bottom: 20px">
		<div class="row">

			<div class="col-md-4">

				<label id="product_canvas"> <h5 style="margin-left: 15px"> Canvas Print </h5> <%= f.radio_button :product_id, "3", style: "visibility: hidden;", id:"product_canvas"%>
					<%= image_tag '/product-canvas.jpeg' %> 
				</label>
			</div>
			<div class="col-md-4">
				<label id="product_frame"> <h5 style="margin-left: 15px"> Framed Paper Print </h5> <%= f.radio_button :product_id, "4", style: "visibility: hidden;", id:"product_frame"%>
					<%= image_tag '/product-frame.jpeg' %> </label>

			</div>

		</div>
	</div>
</div>

<script>

$( "#product_canvas, #product_frame" ).click(function() {
  if ( $('#product_error').length ){
  	$('#product_error').remove();
  	var error_num = parseInt($('#error_number').text());
  	error_num--;
  	if (error_num == 0){
  		$('#error_explanation').remove();
  	} else {
  		var issue = 'issue';
  		if (error_num > 1){issue = 'issues'}
  		$('#error_number').text(error_num + ' ' + issue );
  	}
  }
});
</script>
