<div class="row box" id="canvas_options" style="margin-top: 50px; <% if @item.product.nil? || @item.product.name.include?("frame") %><%= "display: none" %><% end %>">

	<div class="container" style="margin-bottom: 20px">
		<div class="row">
			<h4 class="no_bold" style="margin-left: 60px; margin-top: 20px; margin-bottom: 20px"> 		
		
			<span class="glyphicon glyphicon-arrow-right blink" id="select_canvas_options_depth_arrow" style="display: none"></span>
			<span style="color:green; <% if @item.depth.nil? %>display: none<% end %>" class="glyphicon glyphicon-ok" id="select_depth_done"></span>
			&nbsp;&nbsp;Select Depth
			
			</h4>
		</div>
		
		<% if @item.errors[:depth] %>
		<h6 id="depth_error" style="color: red" ><%= @item.errors[:depth][0] %></h6>
		<% end %>
		
		<div class="row">

			<div class="col-sm-2">

				<label class="depth_options" > <h5 style="margin-left: 15px"> Rolled, No Frame </h5> <%= f.radio_button :depth, "0",  style:"visibility: hidden;", id: "depth_0" %>

					<%= image_tag '/canvas_depth_0.jpeg' %> </label>
			</div>
			<div class="col-sm-2">
				<label class="depth_options" > <h5 style="margin-left: 15px"> 0.75" Deep </h5> <%= f.radio_button :depth, "0.75", style:"visibility: hidden;", id: "depth_0_75" %>

					<%= image_tag '/canvas_depth_0.75.jpeg' %> </label>

			</div>
			<div class="col-sm-2">
				<label class="depth_options" > <h5 style="margin-left: 15px"> 1.5" Deep </h5> <%= f.radio_button :depth, "1.5",  style:"visibility: hidden;", id: "depth_1_5"%>

					<%= image_tag '/canvas_depth_1.5.jpeg' %> </label>

			</div>
			<div class="col-sm-2">
				<label class="depth_options" > <h5 style="margin-left: 15px"> 2.5" Deep </h5> <%= f.radio_button :depth, "2.5",  style:"visibility: hidden;", id: "depth_2_5"%>

					<%= image_tag '/canvas_depth_2.5.jpeg' %> </label>

			</div>

		</div>

		<div class="row">
			<h4 class="no_bold" style="margin-left: 60px; margin-top: 20px; margin-bottom: 20px"> 		
		
			<span class="glyphicon glyphicon-arrow-right blink" id="select_canvas_options_border_arrow" style="display: none"></span>
			<span style="color:green; <% if @item.border.nil? %>display: none<% end %>" class="glyphicon glyphicon-ok" id="select_border_done"></span>
			&nbsp;&nbsp;Select Border
	
			</h4>
		</div>
		
		<% if @item.errors[:border] %>
		<h6 id="border_error" style="color: red" ><%= @item.errors[:border][0] %></h6>
		<% end %>
		<div class="row">
			<div class="col-sm-2">

				<label class="border_options" > <h5 style="margin-left: 15px"> Photo Wrap </h5> <%= f.radio_button :border, "photo",  style:"visibility: hidden;", id: "border_photo"%>

					<%= image_tag '/canvas_border_photo.jpeg' %> </label>
			</div>
			<div class="col-sm-2">

				<label class="border_options" > <h5 style="margin-left: 15px"> Black Border </h5> <%= f.radio_button :border, "black",  style:"visibility: hidden;", id: "border_black"%>

					<%= image_tag '/canvas_border_black.jpeg' %> </label>
			</div>
			<div class="col-sm-2">

				<label class="border_options" > <h5 style="margin-left: 15px"> White Border </h5> <%= f.radio_button :border, "white", style:"visibility: hidden;", id: "border_white"%>

					<%= image_tag '/canvas_border_white.jpeg' %> </label>
			</div>
		</div>
	</div>
</div>

<script>

$( ".depth_options" ).click(function() {
  if ( $('#depth_error').length ){
  	$('#depth_error').remove();
  	var error_num = parseInt($('#error_number').text());
  	error_num--;
  	if (error_num == 0){
  		$('#error_explanation').remove();
  	} else {
  		var issue = 'issue';
  		if (error_num > 1){issue = 'issues'}
  		$('#error_number').text(error_num + ' ' + issue );
  	}
  }
});

$( ".border_options" ).click(function() {
  if ( $('#border_error').length ){
  	$('#border_error').remove();
  	var error_num = parseInt($('#error_number').text());
  	error_num--;
  	if (error_num == 0){
  		$('#error_explanation').remove();
  	} else {
  		var issue = 'issue';
  		if (error_num > 1){issue = 'issues'}
  		$('#error_number').text(error_num + ' ' + issue );
  	}
  }
});

</script>
