<style>

.depth_0_label,
.depth_0_75_label,
.depth_1_5_label,
.canvas_frame_none_label,
.canvas_frame_black_label,
.canvas_frame_white_label,
.canvas_frame_brown_label
 {
	font-weight: 300;
}


</style>
<div class="row box" id="canvas_options" style="<% if @item.canvas_depth && @item.canvas_frame %>border-color:black;<% end %>margin-top: 30px; <% if hide_canvas_options_section?(@item, @update_image_cropped) %>display: none<% end %>">

	<div class="container-fluid" style="padding-right: 30px">
		<div class="row depth_section">
			<h4 class="no_bold" style="margin-left: 60px; margin-top: 20px; margin-bottom: 0px; font-weight: 300"> 		
		
			<span class="glyphicon glyphicon-play blink" id="select_canvas_options_depth_arrow" style="display: none"></span>
			<span style="<% if @item.canvas_depth.nil? %>display: none<% end %>" class="glyphicon glyphicon-ok ok_color" id="select_depth_done"></span>
			&nbsp;&nbsp;Select Depth <span id="select_depth_price" style="color: #EF9223"></span>
			
			</h4>
		</div>
		
		<% if @item.errors[:depth] %>
		<h6 id="depth_error" style="color: red" ><%= @item.errors[:depth][0] %></h6>
		<% end %>
		
		<div class="row depth_section" style="margin-left: 0px;">

			<div class="col-md-3" align="center">

				<label class="depth_options" > 
					
					<%= f.radio_button :canvas_depth, "Rolled",  style:"visibility: hidden;", id: "depth_0", class: "depth_options"%>
					<%= image_tag '/items/canvas_depth_0.png', class: "depth_options_image canvas_options_image_border"%> 
					<h5 class="depth_0_label"> Rolled</h5> 
					<h5 id="canvas_depth_0_price" class="depth_0_label">
						<% if @item.option_prices["canvas_depth_0_save"] %>
							Save $<%= @item.option_prices["canvas_depth_0_save"] %>
						<% end %>
					</h5>
				</label>
			</div>
			
			<div class="col-md-3" align="center">
				<label class="depth_options" > 
					 
					<%= f.radio_button :canvas_depth, "0.75", style:"visibility: hidden;", id: "depth_0_75", class: "depth_options"%>
					<%= image_tag '/items/canvas_depth_0_75.png', class: "depth_options_image canvas_options_image_border"%>
					<h5 class="depth_0_75_label"> 0.75" </h5> 
					<h5 id="canvas_depth_0_75_price" class="depth_0_75_label">No Extra Fee</h5>
				</label>

			</div>
			
			<!-- No 1.5 inch depth available now -->
			<div class="col-md-3" align="center" style="display: none">
				<label class="depth_options" > 
			
					<%= f.radio_button :canvas_depth, "1.5",  style:"visibility: hidden;", id: "depth_1_5", class: "depth_options"%>
					<%= image_tag '/items/canvas_depth_1_5.png', class: "depth_options_image canvas_options_image_border"%>
					<h5 class="depth_1_5_label"> 1.5" </h5>	
					<h5 id="canvas_depth_1_5_price" class="depth_1_5_label">
						<% if @item.option_prices["canvas_depth_1_5_add"] %>
							<%= "Only $#{@item.option_prices['canvas_depth_1_5_add']}" %>
						<% end %>
					</h5>
				</label>
			</div>
			


		</div>

		<!-- NO Frame for canvas now -->
		<div style="display: none">
		
		
		<hr class="depth_section" style="width: 550px; margin-left: 10px"/>

		<div class="row">
			<h4 class="no_bold" style="margin-left: 60px; margin-top: 20px; font-weight: 300"> 		
		
			<span class="glyphicon glyphicon-play blink" id="select_canvas_frame_arrow" style="display: none"></span>
			<span style="<% if @item.canvas_frame.nil? %>display: none<% end %>" class="glyphicon glyphicon-ok ok_color" id="select_canvas_frame_done"></span>
			&nbsp;&nbsp;Select Outer Frame 
			<span class="canvas_frame_section" style="display: none">- 1.2" depth </span>
			<span id="select_outer_frame_price" style="color: #EF9223"></span>
	
			</h4>
		</div>
		
		<% if @item.errors[:border] %>
		<h6 id="border_error" style="color: red" ><%= @item.errors[:border][0] %></h6>
		<% end %>
		
		
		<div class="row" style="margin-left: 0px">
			<div class="col-md-3">

				<label class="canvas_frame_options" align="center" > 
					
					<%= f.radio_button :canvas_frame, "No",  style:"visibility: hidden;", id: "canvas_frame_none", checked: true %>
					<%= image_tag '/items/canvas_frame_none.jpg', class: "depth_options_image canvas_options_image_border"%>
					<h5 class="canvas_frame_none_label">No Frame</h5>
					<h5 id="canvas_frame_0_price" class="canvas_frame_none_label">No Extra Fee</h5>
				</label>
			</div>
			<div class="col-md-3">

				<label class="canvas_frame_options" align="center" > 
					<%= f.radio_button :canvas_frame, "Black",  style:"visibility: hidden;", id: "canvas_frame_black"%>
					<%= image_tag '/items/canvas_frame_black.jpg', class: "depth_options_image canvas_options_image_border"%>
					<h5 class="canvas_frame_black_label"> Black </h5>
					<h5 id="canvas_frame_black_price" class="canvas_frame_black_label">
						<% if @item.option_prices["canvas_frame_add"] %>
							<%= "Only $#{@item.option_prices['canvas_frame_add']}" %>
						<% end %>
					</h5>
				</label>
			</div>
			<div class="col-md-3">

				<label class="canvas_frame_options" align="center" > 
					<%= f.radio_button :canvas_frame, "White", style:"visibility: hidden;", id: "canvas_frame_white"%>
					<%= image_tag '/items/canvas_frame_white.jpg', class: "depth_options_image canvas_options_image_border"%>
					<h5 class="canvas_frame_white_label"> White </h5>
					<h5 id="canvas_frame_white_price" class="canvas_frame_white_label">
						<% if @item.option_prices["canvas_frame_add"] %>
							<%= "Only $#{@item.option_prices['canvas_frame_add']}" %>
						<% end %>
					</h5> 
				</label>
			</div>
			<div class="col-md-3">

				<label class="canvas_frame_options" align="center" > 
					<%= f.radio_button :canvas_frame, "Brown", style:"visibility: hidden;", id: "canvas_frame_brown"%>
					<%= image_tag '/items/canvas_frame_brown.jpg', class: "depth_options_image canvas_options_image_border"%>
					<h5 class="canvas_frame_brown_label"> Brown</h5> 
					<h5 id="canvas_frame_brown_price" class="canvas_frame_brown_label">
						<% if @item.option_prices["canvas_frame_add"] %>
							<%= "Only $#{@item.option_prices['canvas_frame_add']}" %>
						<% end %>
					</h5>
				</label>
			</div>
		
		</div>
		
		</div>
		
			
	</div>
</div>

<script>

$( ".depth_options" ).click(function() {
  if ( $('#depth_error').length ){
  	$('#depth_error').remove();
  	var error_num = parseInt($('#error_number').text());
  	error_num--;
  	if (error_num == 0){
  		$('#error_explanation').remove();
  	} else {
  		var issue = 'issue';
  		if (error_num > 1){issue = 'issues'}
  		$('#error_number').text(error_num + ' ' + issue );
  	}
  }
});

$( ".canvas_frame_options" ).click(function() {
  if ( $('#border_error').length ){
  	$('#border_error').remove();
  	var error_num = parseInt($('#error_number').text());
  	error_num--;
  	if (error_num == 0){
  		$('#error_explanation').remove();
  	} else {
  		var issue = 'issue';
  		if (error_num > 1){issue = 'issues'}
  		$('#error_number').text(error_num + ' ' + issue );
  	}
  }
});

</script>
