<style>
	.bar {
    		height: 18px;
    		background: green;
	}


.orange_button_round {
  background-color: #709BC5;
  border-color: #709BC5;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
	
</style>

<div id="_progress">
    <div class="bar" style="width: 0%;"></div>
</div>

<div class="row box" id="select_image_box" style="<% if hide_image_upload_section?(@new, @show, @save_fail, @item) %>display:none<% end %>">
	<div class="row">
		<h4 class="no_bold" style="margin-left: 40px; margin-top: 20px" id="image_upload_label">
			<% if @show_image_wizard_arrow %>
				<span class="glyphicon glyphicon-play blink" id="select_image_arrow">&nbsp;</span>
			<% end %>
			Upload Your Image 
		</h4>
	</div>

	<% if @item.errors[:image] %>
	<h6 id="image_error" style="color: red; margin-left: 20px"><%= @item.errors[:image][0] %></h6>
	<% end %>
	
	<div  class="row " style="margin: auto; margin-left: 50px; margin-bottom: 20px">
		<div class="col-md-6" align="">

		<!--  Upload Photo From Computer -->
		<form method="post">
			<input type="hidden" name="_method" value="patch" />
			<%= hidden_field_tag :image_upload, true %>
			<span class="btn btn-default fileinput-button orange_button_round">
				<span class="glyphicon glyphicon-open"></span>
				<span id="upload_button_label">Upload From Comupter</span>
				<input id="fileupload" type="file" name="item[image]" data-url="/items/<%= @item.id %>" multiple>
			</span>
		</form>

		</div>
		
		<div class="col-md-3" align="left" style="margin-left: 10px;margin-top: 0px">
			<h4 class="no_bold" style="margin-top: 10px">or from </h4>
		</div>
		
		<!--  Upload Photo From Facebook/Instagram -->
		<div class="col-md-1" align="center" style="margin-right: 10px; margin-top: 0px; cursor: pointer">
			<%= image_tag '/items/facebook_icon.png', class: "facebook_icon", id: "facebook_upload_button", value: @item.id %>
			
		</div>
		<div class="col-md-1" align="center" style="margin-top: 0px; cursor: pointer">
			
			<%= image_tag '/items/instagram_icon.png', class: "facebook_icon", id: "instagram_upload_button", value: @item.id %>
		</div>
		
		
		
	</div>

</div>

<script>
var progress = new LoadingOverlayProgress();

$(function () {
    $('#fileupload').fileupload({
    	
        dataType: 'json',
        
        progressInterval: 10,
        
        done: function (e, data) {  		
        	// Show Crop Modal
        	$('.jcrop-active').remove();
        	if ($('#item_image_cropbox').length == 0){
        		$('#item_image_cropbox_wrapper').append('<img id="item_image_cropbox" src=""></img>');
        	}
        	$('#item_image_cropbox').Jcrop({
        		setSelect: [0, 0, 450, 450],
          		allowSelect: false,
    		});
    		$('#item_image_cropbox').attr('src', data.result.crop_image_url);			
			$('#crop_modal').modal('show');
			$.LoadingOverlay("hide");
        },

	    progress: function (e, data) {
	        var count = parseInt(data.loaded / data.total * 100, 10);
	        //console.log(count);
	        //alert(count + '_' + data.loaded + '_' + data.total);
	        progress.Update(count);
	        //debugger;
	        $('#_progress .bar').css(
            	'width',
            	count + '%'
        	);
	    },
	    
        start: function (e, data) {
        	$('body').addClass('stop-scrolling');
            $.LoadingOverlay("show", {
    			custom  : progress.Init()
			});
        }      
    });
});
</script>