
<div class="row" style="height:500px; background-color:#EDEDED; margin-top:50px">
				
				<div class="container">
					<h4>Select depth</h4>
					<div class="row">

						<div class="col-sm-2">

							<label>
								<h7>
									Rolled, No Frame
								</h7>
								<%= f.radio_button :depth, "0",  style:"visibility: hidden;" %>

								<%= image_tag '/canvas_depth_0.jpeg' %> </label>
						</div>
						<div class="col-sm-2">
							<label>
								<h7>
									0.75" Deep
								</h7>
								<%= f.radio_button :depth, "0.75", style:"visibility: hidden;" %>
								
								<%= image_tag '/canvas_depth_0.75.jpeg' %> </label>

						</div>
						<div class="col-sm-2">
							<label>
								<h7>
									1.5" Deep
								</h7>
								<%= f.radio_button :depth, "1.5",  style:"visibility: hidden;" %>
								
								<%= image_tag '/canvas_depth_1.5.jpeg' %> </label>

						</div>
						<div class="col-sm-2">
							<label>
								<h7>
									2.5" Deep
								</h7>
								<%= f.radio_button :depth, "2.5",  style:"visibility: hidden;" %>
								
								<%= image_tag '/canvas_depth_2.5.jpeg' %> </label>

						</div>

					</div>
					
					<h4>Select border</h4>
					<div class="row">
						<div class="col-sm-2">

							<label>
								<h7>
									Photo Wrap
								</h7>
								<%= f.radio_button :border, "photo",  style:"visibility: hidden;" %>
								
								<%= image_tag '/canvas_border_photo.jpeg' %> </label>
						</div>
						<div class="col-sm-2">

							<label>
								<h7>
									Black Border
								</h7>
								<%= f.radio_button :border, "black",  style:"visibility: hidden;" %>
								
								<%= image_tag '/canvas_border_black.jpeg' %> </label>
						</div>
						<div class="col-sm-2">

							<label>
								<h7>
									White Border
								</h7>
								<%= f.radio_button :border, "white", style:"visibility: hidden;" %>
								
								<%= image_tag '/canvas_border_white.jpeg' %> </label>
						</div>						
					</div>
				</div>
			</div>