


<div class="row" style="height:100px; background-color:#EDEDED; margin-top:50px">
				<h4>Select size</h4>
				
				<!-- 
				<div class="row" style="margin-left: 20px">
					<div class="col-sm-4">
						<label class="radio-inline">
							<%= f.radio_button  :size, '8"x12"' %>						
							<h4>Small</h4>
							<h7>
								8"x12" - $19.99
							</h7> </label>
					</div>
					<div class="col-sm-4">
						<label class="radio-inline">
							<%= f.radio_button  :size, '16"x20"' %>
							
							<h4>Medium</h4>
							<h7>
								16"x20" - $29.99
							</h7> </label>
					</div>
					<div class="col-sm-4">
						<label class="radio-inline">
							<%= f.radio_button  :size, "24\"x30\"" %>
							
							
								<h4>Large</h4>
							<h7>
								24"x30" - $39.99
							</h7> 
							
						</label>
					</div>
				</div>
				-->
				
				<div class="row" style="margin-left: 20px">
					
					<div class="col-md-4">
					<select class="form-control" name="item[size]" id="item_size">
						<% if @item.size.nil? %>
							<option value="" selected disabled>Select Size</option>
						<% end %>
						<%= @size_price.each do |key, val| %>
							<option value="<%= key %>" <% if @item.size && @item.size == key %> selected <% end %>><%= key %> - $<%= val %></option>
						<% end %>
					</select>
										
					</div>
				</div>
			</div>