<style>

.orange_button {
  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}

.grey_button {
  background-color: #E2E2E2;
  border-color: #E2E2E2;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}

#order_complete_icon {
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
}
</style>

<div class="row" id="ready_to_cart_banner_" style="margin-top: 40px; margin-bottom: 40px; margin-left: 5px; display: none">
	<div class="col-md-1" align="center">
		<img src="/order/order_complete.png" id="order_complete_icon"/>
	</div>
	
	<div class="col-md-11">
		<h4 style="font-size: 20px">
			SUCCESS ! Your work of art is ready to add to cart
		</h4>
	</div>
</div>

<div class="row box" id="summary_and_submit" style="<% if item_in_cart?(@item) %> border-color: black;<% end %>margin-top: 30px; height: 450px">
	<div style="<% if !item_in_cart?(@item) %>opacity: 0.4;<% end %>" id="summary_and_submit_div">
	<div class="row" align="center">
		<h3 style="font-weight: 600; margin-top: 40px">
			SUMMARY
		</h3>
	</div>
	<hr style="width: 63%; border-color: black; margin-top: 0px"/>
	<div class="row" style=" margin-top: 20px; height: 270px" >

		<div class="row">
			<br />
			<div style="margin-left: 25px">
			
			<!-- Row 1 Product -->
			<div class="row">
				<div class="col-md-5 col-md-offset-2">
				
					<h4 style="font-weight: 300; margin-left: 50px" id="product_choice"> 
					<% if !@item.product.nil? %>
					<%= "#{@item.product.name.capitalize}" %>
					<% end %> 
					</h4>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			
			<!-- Row 2 Size -->
			<div class="row">
				<div class="col-md-5 col-md-offset-2">
					<h4 style="font-weight: 300; margin-left: 50px" id="size_choice"> 
						<% if !@item.size.nil? && !@item.size.empty? %>
							<%= "#{@item.size.split('x').join(' x ')} ( H x W )" %>
						<% end %> 
					</h4>
				</div>
				<div class="col-md-2">
					<h4 id="base_price" style="font-weight: 300">
						$<%= @item.option_prices["base_price"] %>
					</h4>
				</div>
			</div>
			
			<!-- Row 3 Attr 1 -->
			<div class="row">
				<div class="col-md-5 col-md-offset-2">
					<h4 style="font-weight: 300; margin-left: 50px" id="attr1_choice"> 
						<% if !@item.product.nil? && @item.product.name.include?("canvas") %>
							<% if !@item.canvas_depth.nil? %>
								<% if @item.canvas_depth == "Rolled" %>
									<%= "Rolled. No frame." %>
								<% else %>
									<%= "#{@item.canvas_depth}\" deep canvas wrap" %>
								<% end %>
		
							<% else %>
								<%= "Depth: ---" %>
							<% end %>
						<% elsif !@item.product.nil? && @item.product.name.include?("frame") %>
							<% if !@item.frame_id.nil? %>
								<%= "Frame: #{Frame.find(@item.frame_id).name}" %>
							<% else %>
								<%= "Frame: ---" %>
							<% end %>
						<% end %> 
					</h4>
				</div>
				<div class="col-md-2">
					<h4 id="attr1_price" style="font-weight: 300">
						<% if @item.product && @item.product.name == 'canvas' %>
							<% if @item.canvas_depth == 'Rolled' %>
								-$<%= @item.option_prices['canvas_depth_0_save']%>
							<% elsif @item.canvas_depth == '1.5' %>
								$<%= @item.option_prices['canvas_depth_1_5_add']%>
							<% end %>
						<% else %>
						
						<% end %>
					</h4>
				</div>
			</div>			
		
			<!-- Row 4 Attr 2 -->
			<div class="row">
				<div class="col-md-5 col-md-offset-2">
					<h4 style="font-weight: 300; margin-left: 50px" id="attr2_choice"> 
						<% if !@item.product.nil? && @item.product.name.include?("canvas") %>
							<% if !@item.canvas_frame.nil? %>
								<%= "#{@item.canvas_frame.capitalize} Outer Frame" %>
							<% else %>
								<%= "Frame: ---" %>
							<% end %>
						<% elsif !@item.product.nil? && @item.product.name.include?("frame") %>
							<% if !@item.mat.nil? %>
								<%= "Mat: #{@item.mat}\"".gsub("0.0\"", "No") %>
							<% else %>
								<%= "Mat: ---" %>
							<% end %>
						<% end %>  
					</h4>
				</div>
				<div class="col-md-2">
					<h4 id="attr2_price" style="font-weight: 300">
						<% if @item.product && @item.product.name == 'canvas' %>
							<% if @item.canvas_frame != 'No' %>
								$<%= @item.option_prices['canvas_frame_add']%>
							<% end %>
						<% else %>
						
						<% end %>
					</h4>
				</div>
			</div>

			<!-- Row 5 Shipping -->
			<div class="row">
				<div class="col-md-5 col-md-offset-2">
					<h4 style="font-weight: 300; margin-left: 50px"> 
						Shipping
					</h4>
				</div>
				<div class="col-md-2">
					<h4 id="base_price" style="font-weight: 500; color: green">
						FREE
					</h4>
				</div>
			</div>
						
			<hr style="border-color: black;width: 60%; margin-left: 110px; margin-bottom: 20px; margin-top: 0px;"/>
			
			<!-- Row 6 Total Price -->
			<div class="row">
				<div class="col-md-5 col-md-offset-2">
					<h4 style="font-weight: 900; margin-left: 50px"> 
						Subtotal: 
					</h4>		
				</div>
				<div class="col-md-2">
					<h4 id="attr2_price">
						<b id="final_price"><%= "$#{@item.price}" %></b>
					</h4>
				</div>
			</div>
		
		</div>
		</div>

	</div>


	
			<div class="row" style="height:30px; margin-top: 0px" align="center" >
				<%= hidden_field_tag :go_to_cart, true %>
				<% if item_in_cart?(@item) %>
					<%= hidden_field_tag :save_changes, true %>
					<%= f.submit 'SAVE CHANGES', class: "btn btn-primary btn-lg orange_button", style:"width: 60%"%>
				<% else %>
					<%= hidden_field_tag :add_to_cart, true %>
					<%= f.button :submit, class: "btn btn-primary btn-lg grey_button", style:"width: 60%", disabled: "disabled", id: "add_to_cart_button" do %>
						ADD TO CART &nbsp; &nbsp;<span class="glyphicon glyphicon-shopping-cart"></span>
					<% end %>
					
				<% end %>
			</div>
	
	</div>
</div>
