<!-- Image to replace radio button -->
<style>
	label > input.radio_hide {/* HIDE RADIO */
		visibility: hidden; /* Makes input not-clickable */
		position: absolute; /* Remove input from document flow */
	}
	label > input + img {/* IMAGE STYLES */
		cursor: pointer;
		border: 2px solid transparent;
	}
	label > input:hover + img {/* (RADIO CHECKED) IMAGE STYLES */
		border: 1px solid #ef9223;
		border-radius: 5px;
		padding: 5px;
	}

	label > input:checked + img {/* (RADIO CHECKED) IMAGE STYLES */
		border: 3px solid #ef9223;
		border-radius: 5px;
		padding: 10px;
			
	}

	.loading {
		margin-top: 200px;
	}
	
.orange_button {
  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}

.blue_button {
  background-color: #E2E2E2;
  border-color: #E2E2E2;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}

</style>

<div class="container-fluid">
	<div class="row" style="margin-top: 50px">
		<div class="col-md-6" style="margin-top:50px; height: 800px" align="center">
			<div class="row">
				<%= image_tag get_image_url(@item, 'filter'), id:"filter_input", class: "filter_image"%>

			</div>

		

			<div class="row" style="margin-top: 40px; margin-bottom: 50px" align="center">
				
				<button type="button" style="width: 400px" id="use_this_style" disabled="disabled" onclick="submit();" class="btn btn-primary btn-lg orange_button">APPLY</button>
				<br />
				<br />
				<%= button_to 'SKIP', edit_item_path(@item), id: "skip", method: :get, style: "width: 400px", class: "btn btn-primary btn-lg blue_button"%>
				
			</div>
			
		</div>
		<div class="col-md-6" style="height: 800px;">
			<div class=row>
				<h3 class="no_bold" style="margin-left: 10px">Choose Your Art Style</h3>
				<hr style="width: 95%" />
			</div>

			<%= form_for @item do |f| %>
			
			<!-- 1 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;"%>
						<%= image_tag '/items/no_effects.jpg', size: "170x113", class: "clickable", id: "no_effects" %>
					</label>
				</div>
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_LnL71DkK" %>
						<%= image_tag '/items/abstract-thumb.jpg', size: "170x113", class: "style_option clickable", id: "LnL71DkK" %>
					</label>
				</div>
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_2kRl49ZW" %>
						<%= image_tag '/items/expressionist-thumb.jpg', size: "170x113", class: "style_option clickable", id: "2kRl49ZW" %>
					</label>
				</div>
			</div>
			
			<!-- 2 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_LnL7j7kK" %>
						<%= image_tag '/items/nature-patterns-thumb.jpg', size: "170x113", class: "style_option clickable", id: "LnL7j7kK" %>
					</label>
				</div>
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_oEG3P0ER" %>
						<%= image_tag '/items/oil-painting-thumb.jpg', size: "170x113", class: "style_option clickable", id: "oEG3P0ER" %>
					</label>
				</div>
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_zZP0evZ0" %>
						<%= image_tag '/items/engraving-thumb.jpg', size: "170x113", class: "style_option clickable", id: "zZP0evZ0" %>
					</label>
				</div>
			</div>

			<!-- 3 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_yE72lBZm" %>
						<%= image_tag '/items/composition_thumb_web.jpg', size: "170x113", class: "style_option clickable", id: "yE72lBZm" %>
					</label>
				</div>
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_gZDA63Ex" %>
						<%= image_tag '/items/pseudo_thumb_web.jpg', size: "170x113", class: "style_option clickable", id: "gZDA63Ex" %>
					</label>
				</div>
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_zZP0RvZ0" %>
						<%= image_tag '/items/candy_thumb_web.jpg', size: "170x113", class: "style_option clickable", id: "zZP0RvZ0" %>
					</label>
				</div>
			</div>
			
			<!-- 4 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_MkeLoMEg" %>
						<%= image_tag '/items/impressionist-thumb.jpg', size: "170x113", class: "style_option clickable", id: "MkeLoMEg" %>
					</label>
				</div>
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_MZJNYmZY" %>
						<%= image_tag '/items/vibrant-painting-thumb.jpg', size: "170x113", class: "style_option clickable", id: "MZJNYmZY" %>
					</label>
				</div>
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_8k8aLmnM" %>
						<%= image_tag '/items/campaign-thumb.jpg', size: "170x113", class: "style_option clickable", id: "8k8aLmnM" %>
					</label>
				</div>
			</div>

			<!-- 5 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_vEzXdPnj" %>
						<%= image_tag '/items/mosaic-thumb.jpg', size: "170x113", class: "style_option clickable", id: "vEzXdPnj" %>
					</label>
				</div>
			</div>
			<%= hidden_field_tag :art_filterred, true %>
			<%= f.submit id: "art_style_options", style: "display: none" %>
			<% end %>
		</div>
	</div>

</div>

<div id="divLoading"> 
</div>

<%= render 'art_filter_js' %>
