<!-- Facebook SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '744629489021986',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
	// Only works after `FB.init` is called
	function load_images_from_facebook() {
  		FB.login(function(){
  		
  		// display modal
  		$('#facebook_images').modal('show');
  		
  		// get photos of you
  		FB.api('/me/photos?fields=picture,album,images', function(photos) {

				$('#albums').append('<button class="btn btn-default btn-lg" \
		    						data-toggle="collapse"	\
		    						data-target="#collapse_photos_of_you"	\
		    						style="width: 100%">Photos Of You ( ' + photos.data.length + ' ) ' + '</button>'); 
		    						 			
 				$('#albums').append('<div class="collapse" id="collapse_photos_of_you"><div id="photos_of_you" class="container"></div></div>');
		    	  
		    	  	// Build the grid system for images
		    	  if (photos && photos.data && photos.data.length){
		    	  	for (var j=0; j<photos.data.length; j++){
		    	  		var photo = photos.data[j];
		    	  		var row_num = parseInt(j/5);
		    	  		var row_id = "photos_of_you_" + row_num;
		    	  		if (j%5 == 0) {
		    	  			$('#photos_of_you').append('<div class="row" id="' + row_id + '"></div>');
		    	  		}
		    	  		$('#' + row_id).append('<div class="col-md-2 box facebook_image_grid" align="center" id="' + photo.id + '"></div>');
		    	  
		    	  	}
		    	  }
		    	  
		      if (photos && photos.data && photos.data.length){
		        for (var j=0; j<photos.data.length; j++){
		          var photo = photos.data[j];
		          photo.images.sort(function(a, b) { return b.width - a.width;})
		          var large_image_url = photo.images[0].source
		          // photo.picture contain the link to picture          
		          $('#' + photo.id).append('<img src="' + photo.picture + '" \
		          								 class="facebook_image" id="' + large_image_url + '"></img>');
		        }
		      }
		       		
  		});
  		
  		// get all albums
		FB.api('/me/albums?fields=id,name,count', function(response) {
		  
		  for (var i=0; i<response.data.length; i++) {
		    var album = response.data[i];
		 
		    $('#albums').append('<button class="btn btn-default btn-lg" \
		    						data-toggle="collapse"	\
		    						data-target="#collapse_' + album.id + '"	\
		    						style="width: 100%">' + album.name + ' ( ' + album.count + ' ) ' + '</button>');
		    	
		    	$('#albums').append('<div class="collapse" id="collapse_' + album.id + '"><div id="' + album.id +'" class="container"></div></div>');			
			
			
		    FB.api('/'+album.id+'/photos?fields=picture,album,images', function(photos){
		    	 
		    	  // Build the grid system for images
		    	  if (photos && photos.data && photos.data.length){
		    	  	for (var j=0; j<photos.data.length; j++){
		    	  		var photo = photos.data[j];
		    	  		var row_num = parseInt(j/5);
		    	  		var row_id = photo.album.id + "_" + row_num;
		    	  		if (j%5 == 0) {
		    	  			$('#' + photo.album.id).append('<div class="row" id="' + row_id + '"></div>');
		    	  		}
		    	  		$('#' + row_id).append('<div class="col-md-2 box facebook_image_grid" align="center" id="' + photo.id + '"></div>');
		    	  
		    	  	}
		    	  }
		    	  
		      if (photos && photos.data && photos.data.length){
		        for (var j=0; j<photos.data.length; j++){
		          var photo = photos.data[j];
		          photo.images.sort(function(a, b) { return b.width - a.width;})
		          var large_image_url = photo.images[0].source
		          // photo.picture contain the link to picture          
		          $('#' + photo.id).append('<img src="' + photo.picture + '" \
		          								 class="facebook_image" id="' + large_image_url + '"></img>');
		        }
		      }
		    });
		
		  }

			  
		  
		});
  			
  			
  		}, {scope: ['user_photos']});
  		
  		$('#facebook_upload_button').attr('onclick', 'open_facebook_modal()');
	}
	
	$('body').on('click','img.facebook_image', function() {
		$('.facebook_image_grid').css('border-color', '');
		$('.facebook_image_grid').css('border-weight', '');
		$(this).parent().css('border-color', 'red');
		$(this).parent().css('border-weight', '3px');
		
    		$('#facebook_upload').attr('value', $(this).attr('id'));
    		$('#upload_my_facebook_image').click();
    		$('#facebook_images').modal('hide');
    		$("div#divLoading").addClass('show');
	});	
	
	function open_facebook_modal() {
		$('#facebook_images').modal('show');
	}
	


</script>

<div id="divLoading"> 
</div>

<!-- Modal -->
<div class="modal fade" id="facebook_images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose your facebook image</h4>
      </div>
      <div class="modal-body">
      	
      	<div id="albums">
      		
      	</div>

        	
      </div>
      <div class="modal-footer">
      			<button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
      		
				<%= form_for @item do |f| %>
					<%= hidden_field_tag :facebook_image_url, true, id: "facebook_upload" %>
					<%= hidden_field_tag :image_upload, true %>
					<%= hidden_field_tag :upload_from_facebook, true %>
				<%= f.submit 'Upload', class: "btn btn-primary", id: "upload_my_facebook_image", style: "display: none"%>
				<% end %>     		
 
      </div>
    </div>
  </div>
</div>

<%= render "layouts/navbar" %>

<!-- Image to replace radio button -->
<style>
	label > input.radio_hide {/* HIDE RADIO */
		visibility: hidden; /* Makes input not-clickable */
		position: absolute; /* Remove input from document flow */
	}
	label > input + img {/* IMAGE STYLES */
		cursor: pointer;
		border: 2px solid transparent;
	}
	label > input:checked + img {/* (RADIO CHECKED) IMAGE STYLES */
		border: 2px solid #f00;
		padding: 5px;
	}

</style>

<div class="container" style="margin-top:100px; margin-bottom: 100px">

	<div class="row">
		<div class="col-md-8">
			<!-- Validation -->
			<% if @item.errors.any? %>
			<div id="error_explanation">
				<h4 class="no_bold" style="color: red"> Please fix these <b id="error_number" ><%= pluralize(@item.errors.count, "issue") %></b> before continue.</h2>
			</div>
			<% end %>

			<!-- Select Image -->
			<%= render 'select_image' %>
			<% if image_is_uploaded(@item) %>
			<div class="row box" id="select_image_collapse_box">
				<div class="col-md-4" align="left">
					<h4 class="no_bold" style="margin-left: 40px; margin-top: 10px">
						Upload Your Image 
						&nbsp;&nbsp;<span style="color:green" class="glyphicon glyphicon-ok" id="select_image_done_collapse"></span>
					</h4>
				</div>
				<div class="col-md-2 col-md-offset-6">
					<a id="change_image" style="font: 30px; margin-top: 10px; cursor: pointer"><h4 class="no_bold">change</h4></a>
				</div>
			</div>
			<% end %>
			
			<%= form_for :item, url: item_path(@item), method: :patch do |f| %>
			
			<!-- Select Filter -->
			<%= render partial: 'select_filter',  locals:{f: f} %>
			<div class="row box" style="<% if !@item.art_filter && !@edit %>display:none<% end %>; margin-top: 50px" id="select_filter_collapse_box">
				<div class="col-md-4" align="left">
					<h4 class="no_bold" style="margin-left: 40px; margin-top: 10px">
						Art Effects 
						&nbsp;&nbsp;<span style="color:green;<% if !@item.art_filter %>display: none<% end %>" class="glyphicon glyphicon-ok" id="select_filter_done_collapse"></span>
						<span style="color:orange;<% if !@edit || @item.art_filter %>display: none<% end %>" class="glyphicon glyphicon-ban-circle" id="select_filter_skip_collapse"></span>
					</h4>
					
					<div class="field" style="margin-left: 40px; margin-top: 10px">
						<label class="no_bold">
					
							<% if (!@item.art_image.file.nil? || !@item.art_image_tmp_paths.empty?) && @item.art_image_tmp_paths['new_image_uploaded'].nil? %>
								SKIP ART EFFECTS
								<%= f.check_box :art_filter, {id: "art_filter_checkbox", }, false, true %>
					
							<% else %>
								<%= f.check_box :art_filter, {id: "art_filter_checkbox", disabled: "disabled", style: "display: none"}, false, true %>
							<% end %>
						</label>
					</div>
					
				</div>
				<div class="col-md-2 col-md-offset-6">
					<a id="change_filter" style="font: 30px; margin-top: 10px; cursor: pointer"><h4 class="no_bold">change</h4></a>
				</div>
			</div>
			
			
			<!-- Select Product -->
			<%= render partial: 'select_product', locals:{f: f} %>

			<!-- Select Size -->
			<%= render partial: 'select_size', locals:{f: f} %>

			<!-- Select Depth and Border -->
			<%= render partial: 'select_depth_and_border', locals:{f: f}%>

			<!-- Select Frame and Mat -->
			<%= render partial: 'select_frame_and_mat', locals:{f: f}%>
			
	
		</div>
		<div class="col-md-4" >
			<!-- Image overview on right side -->
			<%= render partial: 'item_overview', locals: {f: f}%>
		</div>
		<% end %>
	</div>
</div>

<!-- Pop up Modal for crop -->
<% if !@crop_image.nil? && @crop_image %>
<%= render 'crop' %>
<% end %>

<script>

	$( window ).on( "load", function(){
		// Add frame effects if necessary
		if (<%= image_is_triptych(@item) %>){
				// Add triptych effects if necessary
				divide_image_to_3('overview_image');
		}
	});



	$("#art_filter_checkbox").change(function() {
		if (this.checked) {
			//use original image
			$('#overview_image').attr('src', '<%= get_image_url(@item, "overview", {"no_effect" => true}) %>');
			$('#select_filter_done').hide();
			$('#select_filter_skip').show();
			$('#select_filter_done_collapse').hide();
			$('#select_filter_skip_collapse').show();
		} else {
			//use art filter
			$('#overview_image').attr('src', '<%= get_image_url(@item, "overview", {"art_effect" => true}) %>');
			$('#select_filter_done').show();
			$('#select_filter_skip').hide();
			$('#select_filter_skip_collapse').hide();
			$('#select_filter_done_collapse').show();
		}
	});
	
	$("#product_single_canvas").click(function() {
		$('#product_choice').text('Type: Single Canvas')
		
		// show canvas options
		if ($('#depth_0').is(':checked')){
			$('#attr1_choice').text('Depth: 0"');
		} else if ($('#depth_0_75').is(':checked')) {
			$('#attr1_choice').text('Depth: 0.75"');
		} else if ($('#depth_1_5').is(':checked')) {
			$('#attr1_choice').text('Depth: 1.5"');
		} else if ($('#depth_2_5').is(':checked')) {
			$('#attr1_choice').text('Depth: 2.5"');
		} else {
			$('#attr1_choice').text('Depth: ---')
		}
		
		if ($('#border_photo').is(':checked')){
			$('#attr2_choice').text('Border: photo')
		} else if ($('#border_black').is(':checked')) {
			$('#attr2_choice').text('Border: black')
		} else if ($('#border_white').is(':checked')) {
			$('#attr2_choice').text('Border: white')
		} else {
			$('#attr2_choice').text('Border: ---')
		}
		$('#size_choice').text('')
		$('#price_choice').text('')
			
		
		$('#border_choice').show();
		$('#depth_choice').show();
		$('#frame_choice').hide();
		$('#mat_choice').hide();
		
		//update price table
		var size_price_str = '<%= @size_price_str %>'
		var size_price = JSON.parse(size_price_str.replace(/&quot;/g,'"'));
		$('#item_size').empty();
		$('#item_size').append($('<option value=""></option>').text('Select Size'));
		for(var size in size_price['single canvas']){
			var option = $('<option></option>').attr("value", size).text(size + ' - $' + size_price['single canvas'][size]);
			$('#item_size').append(option);			
		}
		//update option section
		$('#canvas_options').show();
		$('#frame_options').hide();
		$('#size_price_options').show();

		//remove frame and mat
		$('#overview_image').attr('class','overview_image image_shadow_in_item');	
		$('#overview_image').css('padding', '0px');

		//hide triptych and show overview_image
		$('#overview_image').show();
		$('.triptych_1').hide();
		$('.triptych_2').hide();
		$('.triptych_3').hide();	
	});
	
	$("#product_triptych_canvas").click(function() {
		$('#product_choice').text('Type: Triptych Canvas');

		// show canvas options
		if ($('#depth_0').is(':checked')){
			$('#attr1_choice').text('Depth: 0"');
		} else if ($('#depth_0_75').is(':checked')) {
			$('#attr1_choice').text('Depth: 0.75"');
		} else if ($('#depth_1_5').is(':checked')) {
			$('#attr1_choice').text('Depth: 1.5"');
		} else if ($('#depth_2_5').is(':checked')) {
			$('#attr1_choice').text('Depth: 2.5"');
		} else {
			$('#attr1_choice').text('Depth: ---')
		}
		
		if ($('#border_photo').is(':checked')){
			$('#attr2_choice').text('Border: photo')
		} else if ($('#border_black').is(':checked')) {
			$('#attr2_choice').text('Border: black')
		} else if ($('#border_white').is(':checked')) {
			$('#attr2_choice').text('Border: white')
		} else {
			$('#attr2_choice').text('Border: ---')
		}
		$('#size_choice').text('')
		$('#price_choice').text('')
			
		//update price table
		var size_price_str = '<%= @size_price_str %>'
		var size_price = JSON.parse(size_price_str.replace(/&quot;/g,'"'));
		$('#item_size').empty();
		$('#item_size').append($('<option value=""></option>').text('Select Size'));
		for(var size in size_price['triptych canvas']){
			var option = $('<option></option>').attr("value", size).text(size + ' - $' + size_price['triptych canvas'][size]);
			$('#item_size').append(option);			
		}

		//update option section
		$('#canvas_options').show();
		$('#frame_options').hide();
		$('#size_price_options').show();

		//remove frame and mat
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').css('padding', '0px');
		
		//divide image to 3 equal pieces
		divide_image_to_3('overview_image');
	});

	function divide_image_to_3(image_id){
		$('#' + image_id).hide();
		$('.triptych_1').show();
		$('.triptych_2').show();
		$('.triptych_3').show();
		var image_url = $('#' + image_id).attr('src');
		var image_width = $('#' + image_id).width();
		var image_width_3 = parseInt($('#' + image_id).width()/3);
		var image_height = $('#' + image_id).height();
		$('.triptych_1').css('background', 'url(' + image_url + ') 0 0');
		$('.triptych_1').css('width', image_width_3 + 'px');
		$('.triptych_1').css('height', image_height + 'px');

		$('.triptych_2').css('background', 'url(' + image_url + ') -' + image_width_3 + 'px 0');
		$('.triptych_2').css('width', image_width_3 + 'px');
		$('.triptych_2').css('height', image_height + 'px');

		$('.triptych_3').css('background', 'url(' + image_url + ') -' + image_width_3*2 + 'px 0');
		$('.triptych_3').css('width', image_width_3 + 'px');
		$('.triptych_3').css('height', image_height + 'px');
	}
	
	$("#product_frame").click(function() {
		$('#product_choice').text('Type: Frame');

		// show canvas options
		if ($('#frame_black_wood').is(':checked')){
			$('#attr1_choice').text('Frame: black wood')
		} else if ($('#frame_white_wood').is(':checked')) {
			$('#attr1_choice').text('Frame: white wood')
		} else if ($('#frame_espresso_wood').is(':checked')) {
			$('#attr1_choice').text('Frame: espresso wood')
		} else {
			$('#attr1_choice').text('Frame: ---')
		}
		
		if ($('#mat_0').is(':checked')){
			$('#attr2_choice').text('Mat: No')
		} else if ($('#mat_2_5').is(':checked')) {
			$('#attr2_choice').text('Mat: 2.5"')
		} else {
			$('#attr2_choice').text('Mat: ---')
		}
		$('#size_choice').text('')
		$('#price_choice').text('')
				
		//update price table
		var size_price_str = '<%= @size_price_str %>'
		var size_price = JSON.parse(size_price_str.replace(/&quot;/g,'"'));
		$('#item_size').empty();
		$('#item_size').append($('<option value=""></option>').text('Select Size'));
		for(var size in size_price['frame']){
			var option = $('<option></option>').attr("value", size).text(size + ' - $' + size_price['frame'][size]);
			$('#item_size').append(option);			
		}
		//update option section
		$('#canvas_options').hide();
		$('#frame_options').show();
		$('#size_price_options').show();
		
		//update image frame, default is black frame border if none is checked
		if($('#frame_white_wood').is(':checked')){
			$('#overview_image').addClass('image_white_frame_in_item');
		} else if($('#frame_espresso_wood').is(':checked')){
			$('#overview_image').addClass('image_brown_frame_in_item');
		} else {
			$('#overview_image').addClass('image_black_frame_in_item');
		}
		//update mat if necessary
		if($('#mat_2_5').is(':checked')){
			$('#overview_image').css('padding', '15px');
		}

		//hide triptych and show overview_image
		$('#overview_image').show();
		$('.triptych_1').hide();
		$('.triptych_2').hide();
		$('.triptych_3').hide();
	});
	
	$("#item_size").change(function() {
		$('#size_choice').text('Size: ' + this.value)
	});

	$("#item_size").change(function() {
		$('#price_choice').text('Price: ' + $("#item_size option:selected").text().split(' ')[2])
	});

	$("#depth_0").click(function() {
		$('#attr1_choice').text('Depth: 0"')
	});

	$("#depth_0_75").click(function() {
		$('#attr1_choice').text('Depth: 0.75"')
	});

	$("#depth_1_5").click(function() {
		$('#attr1_choice').text('Depth: 1.5"')
	});

	$("#depth_2_5").click(function() {
		$('#attr1_choice').text('Depth: 2.5"')
	});
	$("#border_photo").click(function() {
		$('#attr2_choice').text('Border: photo')
	});

	$("#border_black").click(function() {
		$('#attr2_choice').text('Border: black')
	});

	$("#border_white").click(function() {
		$('#attr2_choice').text('Border: white')
	});

	$("#frame_black_wood").click(function() {
		$('#attr1_choice').text('Frame: black wood');
		//add frame
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').addClass('image_black_frame_in_item');
	});

	$("#frame_white_wood").click(function() {
		$('#attr1_choice').text('Frame: white wood');
		//add frame
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').addClass('image_white_frame_in_item');
	});

	$("#frame_espresso_wood").click(function() {
		$('#attr1_choice').text('Frame: espresso wood');
		//add frame
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').addClass('image_brown_frame_in_item');
	});

	$("#mat_0").click(function() {
		$('#attr2_choice').text('Mat: No');
		$('#overview_image').css('padding', '0px');
	});

	$("#mat_2_5").click(function() {
		$('#attr2_choice').text('Mat: 2.5"');
		$('#overview_image').css('padding', '15px');
	});

	// Handle Error Image
	function imgError(image) {
    		image.onerror = "";
    		image.src = "/canvas_placeholder.png";
    		return true;
	}
	

	
	

		function not_interested_for_art_filter(){
			$('#select_filter_arrow').hide();
			if (!is_product_checked()){
				$('#select_product_arrow').show();
			}
			$('#select_filter_skip').show();
			$('#select_filter_collapse_box').show();
			$('#select_filter_skip_collapse').show();
			$('#select_filter_done_collapse').hide();
			$('#select_filter_box').hide();
		}
		
		$('.product_image').click(function(){
			$('#select_product_arrow').hide();
			$('#select_frame_options_frame_arrow').hide();
			$('#select_frame_options_mat_arrow').hide();
			$('#select_canvas_options_depth_arrow').hide();
			$('#select_canvas_options_border_arrow').hide();
			$('#select_size_arrow').show();
			$('#select_size_done').hide();
			
			$('#select_product_done').show();
			$('#add_to_cart_button').removeClass('button_blink');
		});
		
		$('#item_size').change(function (){
			$('#select_size_arrow').hide();
			$('#select_size_done').show();
			
			if ($('#product_frame_radio').is(':checked')){
				if (!is_frame_frame_checked()){
					$('#select_frame_options_frame_arrow').show();
				} else if (!is_frame_mat_checked()) {
					$('#select_frame_options_mat_arrow').show();
				} else {
					// ready to add to cart
				}

			} else {
				if (!is_canvas_depth_checked()){
					$('#select_canvas_options_depth_arrow').show();
				} else if (!is_canvas_border_checked()) {
					$('#select_canvas_options_border_arrow').show();
				} else {
					// ready to add to cart
				}
			}
		});
		
		$('.depth_options').click(function(){
			$('#select_canvas_options_depth_arrow').hide();
			$('#select_depth_done').show();
			if (!is_canvas_border_checked()){
				$('#select_canvas_options_border_arrow').show();
			} else {
				// wizard process is done
				// ready to add to cart
			}
		});

		$('.border_options').click(function(){
			$('#select_canvas_options_border_arrow').hide();
			$('#select_border_done').show();
			if (!is_canvas_depth_checked()){
				$('#select_canvas_options_depth_arrow').show();
			} else {
				// wizard process is done
				// ready to add to cart
			}
		});

		$('.frame_options').click(function(){
			$('#select_frame_options_frame_arrow').hide();
			$('#select_frame_done').show();
			if (!is_frame_mat_checked()){
				$('#select_frame_options_mat_arrow').show();
			} else {
				// wizard process is done
				// ready to add to cart				
			}
		});

		$('.mat_options').click(function(){
			$('#select_frame_options_mat_arrow').hide();
			$('#select_mat_done').show();
			if (!is_frame_frame_checked()){
				$('#select_frame_options_frame_arrow').show();
			} else {
				// wizard process is done
				// ready to add to cart				
			}
		});
	


	function is_product_checked(){
		return 	($('#product_single_canvas_radio').is(':checked') 
				|| $('#product_triptych_canvas_radio').is(':checked') 
				|| $('#product_frame_radio').is(':checked'));		
	}

	function is_canvas_depth_checked(){
		return 	($('#depth_0').is(':checked') 
				|| $('#depth_0_75').is(':checked') 
				|| $('#depth_1_5').is(':checked') 
				|| $('#depth_2_5').is(':checked'));
	}
		
	function is_canvas_border_checked(){
		return 	($('#border_photo').is(':checked') 
				|| $('#border_black').is(':checked') 
				|| $('#border_white').is(':checked'));
	}
	
	function is_frame_frame_checked(){
		return 	($('#frame_white_wood').is(':checked') 
				|| $('#frame_black_wood').is(':checked') 
				|| $('#frame_espresso_wood').is(':checked'));
	}

	function is_frame_mat_checked(){
		return 	($('#mat_0').is(':checked') 
				|| $('#mat_2_5').is(':checked'));
	}
	
	$('#change_image').click(function(){
		$('#select_image_collapse_box').hide();
		$('#select_image_box').show();
	});

	$('#change_filter').click(function(){
		$('#select_filter_collapse_box').hide();
		$('#select_filter_box').show();
		$(".twentytwenty-container").twentytwenty();
		$('.twentytwenty-overlay').hide();
		//$('#not_interested_button').hide();
	});
	
</script>
