<!-- Facebook SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= Canvasking::FACEBOOK_APP_ID %>',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
	// Only works after `FB.init` is called
	function load_images_from_facebook() {
  		FB.login(function(){
  		
  		// display modal
  		$('#facebook_images').modal('show');
  		
  		// get photos of you
  		FB.api('/me/photos?fields=picture,album,images', function(photos) {

				$('#albums').append('<button class="btn btn-default btn-lg facebook_album_button" \
		    						data-toggle="collapse"	\
		    						data-target="#collapse_photos_of_you"	\
		    						style="width: 100%">Photos Of You ( ' + photos.data.length + ' ) ' + '</button>'); 
		    						 			
 				$('#albums').append('<div class="collapse" id="collapse_photos_of_you"><div id="photos_of_you" class="container"></div></div>');
		    	  
		    	   
		    	  	// Build the grid system for images
		    	  if (photos && photos.data && photos.data.length){
		    	  	for (var j=0; j<photos.data.length; j++){
		    	  		var photo = photos.data[j];
		    	  		var row_num = parseInt(j/5);
		    	  		var row_id = "photos_of_you_" + row_num;
		    	  		if (j%5 == 0) {
		    	  			$('#photos_of_you').append('<div class="row" id="' + row_id + '"></div>');
		    	  		}
		    	  		$('#' + row_id).append('<div class="col-md-2 box facebook_image_grid" align="center" id="' + photo.id + '"></div>');
		    	  
		    	  	}
		    	  }
		    	  
		      if (photos && photos.data && photos.data.length){
		        for (var j=0; j<photos.data.length; j++){
		          var photo = photos.data[j];
		          photo.images.sort(function(a, b) { return b.width - a.width;})
		          var large_image_url = photo.images[0].source
		          if (photo.images[0].width > photo.images[0].height){
		          	var image_class = "facebook_image_width";
		          } else {
		          	var image_class = "facebook_image_height";
		          }
		          // photo.picture contain the link to picture          
		          $('#' + photo.id).append('<img src="' + photo.picture + '" \
		          								 class="' + image_class + '" id="' + large_image_url + '"></img>');
		        }
		      }
		       		
  		});
  		
  		// get all albums
		FB.api('/me/albums?fields=id,name,count', function(response) {
		  
		  for (var i=0; i<response.data.length; i++) {
		    var album = response.data[i];
		 
		    $('#albums').append('<button class="btn btn-default btn-lg facebook_album_button" \
		    						data-toggle="collapse"	\
		    						data-target="#collapse_' + album.id + '"	\
		    						style="width: 100%">' + album.name + ' ( ' + album.count + ' ) ' + '</button>');
		    	
		    	$('#albums').append('<div class="collapse" id="collapse_' + album.id + '"><div id="' + album.id +'" class="container"></div></div>');			
			
			
		    FB.api('/'+album.id+'/photos?fields=picture,album,images', function(photos){
		    	 
		    	  // Build the grid system for images
		    	  if (photos && photos.data && photos.data.length){
		    	  	for (var j=0; j<photos.data.length; j++){
		    	  		var photo = photos.data[j];
		    	  		var row_num = parseInt(j/5);
		    	  		var row_id = photo.album.id + "_" + row_num;
		    	  		if (j%5 == 0) {
		    	  			$('#' + photo.album.id).append('<div class="row" id="' + row_id + '"></div>');
		    	  		}
		    	  		$('#' + row_id).append('<div class="col-md-2 box facebook_image_grid" align="center" id="' + photo.id + '"></div>');
		    	  
		    	  	}
		    	  }
		    	  
		      if (photos && photos.data && photos.data.length){
		        for (var j=0; j<photos.data.length; j++){
		          var photo = photos.data[j];
		          photo.images.sort(function(a, b) { return b.width - a.width;})
		          var large_image_url = photo.images[0].source
		          // photo.picture contain the link to picture 
		          if (photo.images[0].width > photo.images[0].height){
		          	var image_class = "facebook_image_width";
		          } else {
		          	var image_class = "facebook_image_height";
		          }
		          // photo.picture contain the link to picture          
		          $('#' + photo.id).append('<img src="' + photo.picture + '" \
		          								 class="' + image_class + '" id="' + large_image_url + '"></img>');         
		        }
		      }
		    });
		
		  }

			  
		  
		});
  			
  			
  		}, {scope: ['user_photos']});
  		
  		$('#facebook_upload_button').attr('onclick', 'open_facebook_modal()');
	}
	
	$('body').on('click', '.facebook_album_button', function(){
		$('.collapse').collapse('hide');
	});
	
	$('body').on('click','img.facebook_image_width, img.facebook_image_height', function() {
		$('.facebook_image_grid').css('border-color', '');
		$('.facebook_image_grid').css('border-weight', '');
		$(this).parent().css('border-color', 'red');
		$(this).parent().css('border-weight', '3px');
		
    		$('#facebook_images').modal('hide');
    		$("div#divLoading").addClass('show');
    		
    		// and ajax call to server
    		$.ajax({
  				url: "/items/<%= @item.id %>",
  				data: {'image_upload': true, 'upload_from_facebook': true, 'facebook_image_url': $(this).attr('id')},
  				dataType: 'json',
  				type: 'patch',
			}).done(function(data) {
        			// Show Crop Modal
        			$('.jcrop-active').remove();
        			if ($('#item_image_cropbox').length == 0){
        				$('#item_image_cropbox_wrapper').append('<img id="item_image_cropbox" src=""></img>');
        			}
        			$('#item_image_cropbox').Jcrop({
        				setSelect: [0, 0, 450, 450],
          			allowSelect: false,
    				});
    				$('#item_image_cropbox').attr('src', data.crop_image_url);			
				$('.jcrop-selection').click(function(){return false});
				$('#crop_modal').modal('show');
				$("div#divLoading").removeClass('show');
		});
	});	
	
	function open_facebook_modal() {
		$('#facebook_images').modal('show');
	}

</script>

<!-- Instagram SDK -->

	<script type="text/javascript">
		var accessToken = null; //the access token is required to make any endpoint calls, http://instagram.com/developer/endpoints/
		var authenticateInstagram = function(instagramClientId, instagramRedirectUri, callback) {
			//the pop-up window size, change if you want
			var popupWidth = 400,
				popupHeight = 230,
				popupLeft = (window.screen.width - popupWidth) / 2,
				popupTop = (window.screen.height - popupHeight) / 2;
			//the url needs to point to instagram_auth.php
			var auth_url = "https://api.instagram.com/oauth/authorize/?client_id=<%= Canvasking::INSTAGRAM_APP_ID %>&redirect_uri=<%= Canvasking::INSTAGRAM_RE_URL %>&response_type=token"
			
			var popup = window.open( '/upload_images_from_instagram', '', 'width='+popupWidth+',height='+popupHeight+',left='+popupLeft+',top='+popupTop+'');

			popup.onload = function() {
				//open authorize url in pop-up
				if(window.location.hash.length == 0) {
					popup.open(auth_url, '_self');
				}
				//an interval runs to get the access token from the pop-up
				var interval = setInterval(function() {
					try {
						//check if hash exists
						if(popup.location.hash.length) {
							//hash found, that includes the access token
							clearInterval(interval);
							accessToken = popup.location.hash.slice(14); //slice #access_token= from string
							popup.close();
							if(callback != undefined && typeof callback == 'function') callback();
						}
						
					}
					catch(evt) {
						//permission denied
					}
				}, 100);
			}
		};
		
		function login_callback() {
			var get_images_url = "https://api.instagram.com/v1/users/self/media/recent";
			
			$.ajax({
					 url: get_images_url,
					 dataType: 'jsonp',
					 type: 'GET',
					 data: {access_token: accessToken},
					 
					 success: function(photos){
					    
					    // display modal
  						open_instagram_modal();
  						
		 		    	  	// Build the grid system for images
				    	  	if (photos && photos.data && photos.data.length){
				    	  		for (var j=0; j<photos.data.length; j++){
				    	  			var photo = photos.data[j];
				    	  			var row_num = parseInt(j/5);
				    	  			var row_id = "my_instagram_images_" + row_num;
				    	  			if (j%5 == 0) {
				    	  				$('#my_instagram_images').append('<div class="row" id="' + row_id + '"></div>');
				    	  			}
				    	  			$('#' + row_id).append('<div class="col-md-2 box instagram_image_grid" align="center" id="' + photo.id + '"></div>');
				    	  
				    	  		}
				    	  	}
				    	  	
				    		if (photos && photos.data && photos.data.length){
		        				for (var j=0; j<photos.data.length; j++){
		          				var photo = photos.data[j];
		          				var large_image_url = photo.images.standard_resolution.url
		          				var thumb_image_url = photo.images.thumbnail.url
		          				// photo.picture contain the link to picture          
		          				$('#' + photo.id).append('<img src="' + thumb_image_url + '" \
		          								 class="instagram_image" id="' + large_image_url + '"></img>');
		        					}
		      			}
					 
					 },
					
					 error: function(data){
					    console.log(data);
					 }
			});

			
			$('#instagram_upload_button').attr('onclick', 'open_instagram_modal()');
		}
		
		function open_instagram_modal() {
			$('#instagram_images').modal('show');
		}

		function instagram_login() {
			authenticateInstagram(
			    '<%= Canvasking::INSTAGRAM_APP_ID %>', //instagram client ID
			    '<%= Canvasking::INSTAGRAM_RE_URL %>', //instagram redirect URI
			    login_callback //optional - a callback function
			);
			return false;
		}
		
	$('body').on('click','img.instagram_image', function() {
		$('.instagram_image_grid').css('border-color', '');
		$('.instagram_image_grid').css('border-weight', '');
		$(this).parent().css('border-color', 'red');
		$(this).parent().css('border-weight', '3px');
 
    		$('#instagram_images').modal('hide');
    		$("div#divLoading").addClass('show');

    		// and ajax call to server
    		$.ajax({
  				url: "/items/<%= @item.id %>",
  				data: {'image_upload': true, 'upload_from_instagram': true, 'instagram_image_url': $(this).attr('id')},
  				dataType: 'json',
  				type: 'patch',
			}).done(function(data) {
        			// Show Crop Modal
        			$('.jcrop-active').remove();
        			if ($('#item_image_cropbox').length == 0){
        				$('#item_image_cropbox_wrapper').append('<img id="item_image_cropbox" src=""></img>');
        			}
        			$('#item_image_cropbox').Jcrop({
        				setSelect: [0, 0, 450, 450],
          			allowSelect: false,
    				});
    				$('#item_image_cropbox').attr('src', data.crop_image_url);			
				$('.jcrop-selection').click(function(){return false});
				$('.jcrop-selection').attr('onclick', 'return false');
				$('#crop_modal').modal('show');
				$("div#divLoading").removeClass('show');
		});
	});	
	
	</script>
	

<!-- Instagram upload Modal -->
<div class="modal fade" id="instagram_images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose your Instagram image</h4>
      </div>
      <div class="modal-body">
      	
      	<div id="my_instagram_images" class="container">
      		
      	</div>

        	
      </div>
      <div class="modal-footer">
      			<button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
      </div>
    </div>
  </div>
</div>


<div id="divLoading"> 
</div>

<!-- Facebook upload Modal -->
<div class="modal fade" id="facebook_images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose your facebook image</h4>
      </div>
      <div class="modal-body">
      	
      	<div id="albums">
      		
      	</div>

        	
      </div>
      <div class="modal-footer">
      			<button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
    
      </div>
    </div>
  </div>
</div>

<%= render "layouts/navbar" %>

<!-- Image to replace radio button -->
<style>
	label > input.radio_hide {/* HIDE RADIO */
		visibility: hidden; /* Makes input not-clickable */
		position: absolute; /* Remove input from document flow */
	}
	label > input + img {/* IMAGE STYLES */
		cursor: pointer;
		border: 2px solid transparent;
	}
	label > input:hover + img {/* (RADIO CHECKED) IMAGE STYLES */
		border: 1px solid #ef9223;
		border-radius: 5px;
		padding: 5px;
	}

	label > input:checked + img {/* (RADIO CHECKED) IMAGE STYLES */
		border: 2px solid #ef9223;
		border-radius: 5px;
		padding: 5px;
			
	}
	
	

.blue_style {

  background-color: #709BC5;
  border-color: #709BC5;
  color: white;
  border-radius: 2px;
  font-weight: bold;
}

</style>

<div class="container" style="margin-top:50px; margin-bottom: 100px">

	<div class="row">

		<div class="col-md-6" >
			<!-- Image overview on right side -->
			<%= render partial: 'item_overview'%>
		</div>
		
		<div class="col-md-6">
			<!-- Validation -->
			<% if @item.errors.any? %>
			<div id="error_explanation">
				<h4 class="no_bold" style="color: red"> Please fix these <b id="error_number" ><%= pluralize(@item.errors.count, "issue") %></b> before continue.</h2>
			</div>
			<% end %>

			<!-- Select Image -->
			<%= render 'select_image' %>
			<%= render 'select_image_done' %>
			
			<%= form_for :item, url: item_path(@item), method: :patch do |f| %>
			
			<!-- Select Filter -->
			<%= render partial: 'select_filter',  locals:{f: f} %>
			<%= render partial: 'select_filter_done',  locals:{f: f} %>
			
			
			<!-- Select Product -->
			<%= render partial: 'select_product', locals:{f: f} %>

			<!-- Select Size -->
			<%= render partial: 'select_size', locals:{f: f} %>

			<!-- Select Depth and Border -->
			<%= render partial: 'select_depth_and_border', locals:{f: f}%>

			<!-- Select Frame and Mat -->
			<%= render partial: 'select_frame_and_mat', locals:{f: f}%>
			
			<!-- ADD TO CART / SAVE CHANGES -->
			<%= render partial: 'summary_and_submit', locals:{f: f} %>	

			
		</div>
		<% end %>
	</div>
</div>

<!-- Pop up Modal for crop -->
<%= render 'crop' %>


<script>

	$( window ).on( "load", function(){
		// Add frame effects if necessary
		if (<%= image_is_triptych(@item) %>){
				// Add triptych effects if necessary
				divide_image_to_3('overview_image');
		}
	});



	$("#art_filter_checkbox").change(function() {
		if (this.checked) {
			//use original image
			$('#overview_image').attr('src', '<%= get_image_url(@item, "overview", {"no_effect" => true}) %>');
			$('#select_filter_done_collapse').hide();
			$('#select_filter_skip_collapse').show();
		} else {
			//use art filter
			$('#overview_image').attr('src', '<%= get_image_url(@item, "overview", {"art_effect" => true}) %>');
			$('#select_filter_skip_collapse').hide();
			$('#select_filter_done_collapse').show();
		}
	});
	
	$("#product_single_canvas").click(function() {
		$('#product_choice').text('Single Canvas')
		
		// show canvas options
		if ($('#depth_0').is(':checked')){
			$('#attr1_choice').text('Rolled. No frame.');
		} else if ($('#depth_0_75').is(':checked')) {
			$('#attr1_choice').text('0.75" deep canvas wrap');
		} else if ($('#depth_1_5').is(':checked')) {
			$('#attr1_choice').text('1.5" deep canvas wrap');
		} else if ($('#depth_2_5').is(':checked')) {
			$('#attr1_choice').text('2.5" deep canvas wrap');
		} else {
			$('#attr1_choice').text('Depth: ---')
		}
		
		if ($('#border_photo').is(':checked')){
			$('#attr2_choice').text('Photo Border')
		} else if ($('#border_black').is(':checked')) {
			$('#attr2_choice').text('Black Border')
		} else if ($('#border_white').is(':checked')) {
			$('#attr2_choice').text('White Border')
		} else {
			$('#attr2_choice').text('Border: ---')
		}
		$('#size_choice').text('')
		$('#price_choice').text('')
			
		
		$('#border_choice').show();
		$('#depth_choice').show();
		$('#frame_choice').hide();
		$('#mat_choice').hide();
		
		//update price table
		var size_price_str = '<%= @size_price_str %>'
		var size_price = JSON.parse(size_price_str.replace(/&quot;/g,'"'));
		$('#item_size').empty();
		$('#item_size').append($('<option value=""></option>').text('Select Size'));
		for(var size in size_price['single canvas']){
			var option = $('<option></option>').attr("value", size).text(size + ' - $' + size_price['single canvas'][size]);
			$('#item_size').append(option);			
		}
		//update option section
		if (is_canvas_depth_checked() || is_canvas_border_checked()){
			$('#canvas_options').show();
		}
		$('#frame_options').hide();
		$("html, body").animate({ scrollTop: $(document).height() }, 2000);
		$('#size_price_options').fadeIn(2000);
		

		//remove frame and mat
		$('#overview_image').attr('class','overview_image image_shadow_in_item');	
		$('#overview_image').css('padding', '0px');

		//hide triptych and show overview_image
		$('#overview_image').show();
		$('.triptych_1').hide();
		$('.triptych_2').hide();
		$('.triptych_3').hide();	
	});
	
	$("#product_triptych_canvas").click(function() {
		$('#product_choice').text('Triptych Canvas');

		// show canvas options
		if ($('#depth_0').is(':checked')){
			$('#attr1_choice').text('Rolled. No frame.');
		} else if ($('#depth_0_75').is(':checked')) {
			$('#attr1_choice').text('0.75" deep canvas wrap');
		} else if ($('#depth_1_5').is(':checked')) {
			$('#attr1_choice').text('1.5" deep canvas wrap');
		} else if ($('#depth_2_5').is(':checked')) {
			$('#attr1_choice').text('2.5" deep canvas wrap');
		} else {
			$('#attr1_choice').text('Depth: ---')
		}
		
		if ($('#border_photo').is(':checked')){
			$('#attr2_choice').text('Photo Border')
		} else if ($('#border_black').is(':checked')) {
			$('#attr2_choice').text('Black Border')
		} else if ($('#border_white').is(':checked')) {
			$('#attr2_choice').text('White Border')
		} else {
			$('#attr2_choice').text('Border: ---')
		}
		$('#size_choice').text('')
		$('#price_choice').text('')
			
		//update price table
		var size_price_str = '<%= @size_price_str %>'
		var size_price = JSON.parse(size_price_str.replace(/&quot;/g,'"'));
		$('#item_size').empty();
		$('#item_size').append($('<option value=""></option>').text('Select Size'));
		for(var size in size_price['triptych canvas']){
			var option = $('<option></option>').attr("value", size).text(size + ' - $' + size_price['triptych canvas'][size]);
			$('#item_size').append(option);			
		}

		//update option section
		if (is_canvas_depth_checked() || is_canvas_border_checked()){
			$('#canvas_options').show();
		}
		$('#frame_options').hide();
		$('#size_price_options').show();

		//remove frame and mat
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').css('padding', '0px');
		
		//divide image to 3 equal pieces
		divide_image_to_3('overview_image');
	});

	function divide_image_to_3(image_id){
		$('#' + image_id).hide();
		$('.triptych_1').show();
		$('.triptych_2').show();
		$('.triptych_3').show();
		var image_url = $('#' + image_id).attr('src');
		var image_width = $('#' + image_id).width();
		var image_width_3 = parseInt($('#' + image_id).width()/3);
		var image_height = $('#' + image_id).height();
		$('.triptych_1').css('background', 'url(' + image_url + ') 0 0');
		$('.triptych_1').css('width', image_width_3 + 'px');
		$('.triptych_1').css('height', image_height + 'px');

		$('.triptych_2').css('background', 'url(' + image_url + ') -' + image_width_3 + 'px 0');
		$('.triptych_2').css('width', image_width_3 + 'px');
		$('.triptych_2').css('height', image_height + 'px');

		$('.triptych_3').css('background', 'url(' + image_url + ') -' + image_width_3*2 + 'px 0');
		$('.triptych_3').css('width', image_width_3 + 'px');
		$('.triptych_3').css('height', image_height + 'px');
	}
	
	$("#product_frame").click(function() {
		$('#product_choice').text('Frame');

		// show canvas options
		if ($('#frame_black_wood').is(':checked')){
			$('#attr1_choice').text('Frame: black wood')
		} else if ($('#frame_white_wood').is(':checked')) {
			$('#attr1_choice').text('Frame: white wood')
		} else if ($('#frame_espresso_wood').is(':checked')) {
			$('#attr1_choice').text('Frame: espresso wood')
		} else {
			$('#attr1_choice').text('Frame: ---')
		}
		
		if ($('#mat_0').is(':checked')){
			$('#attr2_choice').text('Mat: No')
		} else if ($('#mat_2_5').is(':checked')) {
			$('#attr2_choice').text('Mat: 2.5"')
		} else {
			$('#attr2_choice').text('Mat: ---')
		}
		$('#size_choice').text('')
		$('#price_choice').text('')
				
		//update price table
		var size_price_str = '<%= @size_price_str %>'
		var size_price = JSON.parse(size_price_str.replace(/&quot;/g,'"'));
		$('#item_size').empty();
		$('#item_size').append($('<option value=""></option>').text('Select Size'));
		for(var size in size_price['frame']){
			var option = $('<option></option>').attr("value", size).text(size + ' - $' + size_price['frame'][size]);
			$('#item_size').append(option);			
		}
		//update option section
		$('#canvas_options').hide();
		if (is_frame_frame_checked() || is_frame_mat_checked()){
			$('#frame_options').show();
		}
		$('#size_price_options').show();
		
		//update image frame, default is black frame border if none is checked
		if($('#frame_white_wood').is(':checked')){
			$('#overview_image').addClass('image_white_frame_in_item');
		} else if($('#frame_espresso_wood').is(':checked')){
			$('#overview_image').addClass('image_brown_frame_in_item');
		} else {
			$('#overview_image').addClass('image_black_frame_in_item');
		}
		//update mat if necessary
		if($('#mat_2_5').is(':checked')){
			$('#overview_image').css('padding', '15px');
		}

		//hide triptych and show overview_image
		$('#overview_image').show();
		$('.triptych_1').hide();
		$('.triptych_2').hide();
		$('.triptych_3').hide();
	});
	
	$("#item_size").change(function() {
		$('#size_choice').text('Size: ' + this.value);
		$('#price_choice').text($("#item_size option:selected").text().split(' ')[2]);
	});


	$("#depth_0").click(function() {
		$('#attr1_choice').text('Rolled. No frame.')
	});

	$("#depth_0_75").click(function() {
		$('#attr1_choice').text('0.75" deep canvas wrap')
	});

	$("#depth_1_5").click(function() {
		$('#attr1_choice').text('1.5" deep canvas wrap')
	});

	$("#depth_2_5").click(function() {
		$('#attr1_choice').text('2.5" deep canvas wrap')
	});
	$("#border_photo").click(function() {
		$('#attr2_choice').text('Photo Border')
	});

	$("#border_black").click(function() {
		$('#attr2_choice').text('Black Border')
	});

	$("#border_white").click(function() {
		$('#attr2_choice').text('White Border')
	});

	$("#frame_black_wood").click(function() {
		$('#attr1_choice').text('Frame: black wood');
		//add frame
		if ($('#overview_image').hasClass('image_frame_mat_in_item')){
			$('#overview_image').css('padding', '25px');
		}
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').addClass('image_black_frame_in_item');
	});

	$("#frame_white_wood").click(function() {
		$('#attr1_choice').text('Frame: white wood');
		//add frame
		if ($('#overview_image').hasClass('image_frame_mat_in_item')){
			$('#overview_image').css('padding', '25px');
		}
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').addClass('image_white_frame_in_item');
	});

	$("#frame_espresso_wood").click(function() {
		$('#attr1_choice').text('Frame: espresso wood');
		//add frame
		if ($('#overview_image').hasClass('image_frame_mat_in_item')){
			$('#overview_image').css('padding', '25px');
		}
		$('#overview_image').attr('class','overview_image image_shadow_in_item');
		$('#overview_image').addClass('image_brown_frame_in_item');
	});

	$("#mat_0").click(function() {
		$('#attr2_choice').text('Mat: No');
		$('#overview_image').css('padding', '0px');
	});

	$("#mat_2_5").click(function() {
		$('#attr2_choice').text('Mat: 2.5"');
		$('#overview_image').css('padding', '15px');
	});

	// Handle Error Image
	function imgError(image) {
    		image.onerror = "";
    		image.src = "/canvas_placeholder.png";
    		return true;
	}
	

	
	

		function not_interested_for_art_filter(){
			$('#select_filter_arrow').hide();
			if (!is_product_checked()){
				$('#select_product_arrow').show();
			}
			$('#select_filter_collapse_box').show();
			$('#select_filter_skip_collapse').show();
			$('#select_filter_done_collapse').hide();
			$('#select_filter_box').hide();
			$('#select_product_box').fadeIn(2000);
			$('#art_filter_checkbox').prop('checked', true);
			$('#overview_image').attr('src', '<%= get_image_url(@item, "overview", {"no_effect" => true}) %>');
			
		}
		
		$('.product_image').click(function(){
			$('#select_product_arrow').hide();
			$('#select_frame_options_frame_arrow').hide();
			$('#select_frame_options_mat_arrow').hide();
			$('#select_canvas_options_depth_arrow').hide();
			$('#select_canvas_options_border_arrow').hide();
			$('#select_size_arrow').show();
			$('#select_size_done').hide();	
			$('#select_product_done').show();
			$('#summary_and_submit').hide();
		});
		
		$('#item_size').change(function (){
			$('#select_size_arrow').hide();
			$('#select_size_done').show();
			// $('#size_price_options').css("border-color", "black");


			if ($('#product_frame_radio').is(':checked')){
		
				$('#canvas_options').hide();
				$('#frame_options').fadeIn(2000);
				
				if (!is_frame_frame_checked()){
					$('#select_frame_options_frame_arrow').show();
				} else if (!is_frame_mat_checked()) {
					$('#select_frame_options_mat_arrow').show();
				} else {
					// ready to add to cart
					// $('#add_to_cart_button').css('background-color', 'black');
					// $('#add_to_cart_button').css('color', 'white');
					// $('#overview_box').css('border-color', 'black');
					$('#summary_and_submit').show();
				}

			} else {

				$('#canvas_options').show();
				$('#frame_options').fadeIn(2000);
				
				if (!is_canvas_depth_checked()){
					$('#select_canvas_options_depth_arrow').show();
				} else if (!is_canvas_border_checked()) {
					$('#select_canvas_options_border_arrow').show();
				} else {
					// ready to add to cart
					// $('#add_to_cart_button').css('background-color', 'black');
					// $('#add_to_cart_button').css('color', 'white');
					//$('#overview_box').css('border-color', 'black');
					$('#summary_and_submit').show();
				}
			}
			
			$("html, body").animate({ scrollTop: $(document).height() }, 2000);
		});
		
		$('.depth_options').click(function(){
			$('#select_canvas_options_depth_arrow').hide();
			$('#select_depth_done').show();
			if (!is_canvas_border_checked()){
				$('#select_canvas_options_border_arrow').show();
			} else {
				// wizard process is done
				//$('#canvas_options').css('border-color', 'black');
				// $('#add_to_cart_button').css('background-color', 'black');
				// $('#add_to_cart_button').css('color', 'white');
				//$('#overview_box').css('border-color', 'black');
				$('#summary_and_submit').show();
			}
		});

		$('.border_options').click(function(){
			$('#select_canvas_options_border_arrow').hide();
			$('#select_border_done').show();
			if (!is_canvas_depth_checked()){
				$('#select_canvas_options_depth_arrow').show();
			} else {
				//wizard process is done
				//$('#canvas_options').css('border-color', 'black');
				// $('#add_to_cart_button').css('background-color', 'black');
				// $('#add_to_cart_button').css('color', 'white');
				//$('#overview_box').css('border-color', 'black');
				$('#summary_and_submit').show();
			}
		});

		$('.frame_options').click(function(){
			$('#select_frame_options_frame_arrow').hide();
			$('#select_frame_done').show();
			if (!is_frame_mat_checked()){
				$('#select_frame_options_mat_arrow').show();
			} else {
				// wizard process is done
				//$('#frame_options').css('border-color', 'black');
				// $('#add_to_cart_button').css('background-color', 'black');
				// $('#add_to_cart_button').css('color', 'white');
				//$('#overview_box').css('border-color', 'black');	
				$('#summary_and_submit').show();	
			}
		});

		$('.mat_options').click(function(){
			$('#select_frame_options_mat_arrow').hide();
			$('#select_mat_done').show();
			if (!is_frame_frame_checked()){
				$('#select_frame_options_frame_arrow').show();
			} else {
				// wizard process is done
				//$('#frame_options').css('border-color', 'black');
				// $('#add_to_cart_button').css('background-color', 'black');
				// $('#add_to_cart_button').css('color', 'white');
				//$('#overview_box').css('border-color', 'black');
				$('#summary_and_submit').show();
			}
		});
	


	function is_product_checked(){
		return 	($('#product_single_canvas_radio').is(':checked') 
				|| $('#product_triptych_canvas_radio').is(':checked') 
				|| $('#product_frame_radio').is(':checked'));		
	}

	function is_canvas_depth_checked(){
		return 	($('#depth_0').is(':checked') 
				|| $('#depth_0_75').is(':checked') 
				|| $('#depth_1_5').is(':checked') 
				|| $('#depth_2_5').is(':checked'));
	}
		
	function is_canvas_border_checked(){
		return 	($('#border_photo').is(':checked') 
				|| $('#border_black').is(':checked') 
				|| $('#border_white').is(':checked'));
	}
	
	function is_frame_frame_checked(){
		return 	($('#frame_white_wood').is(':checked') 
				|| $('#frame_black_wood').is(':checked') 
				|| $('#frame_espresso_wood').is(':checked'));
	}

	function is_frame_mat_checked(){
		return 	($('#mat_0').is(':checked') 
				|| $('#mat_2_5').is(':checked'));
	}
	
	$('#change_image').click(function(){
		$('#select_image_collapse_box').hide();
		$('#image_upload_label').text('');
		$('#upload_button_label').text('Upload Another Image');
		$('#select_image_box').show();
	});

	$('#change_filter').click(function(){
		$('#select_filter_collapse_box').hide();
		$('#select_filter_box').show();
		$(".twentytwenty-container").twentytwenty();
		$('.twentytwenty-overlay').hide();
	});
	
</script>
