<%= render "layouts/navbar" %>


<div class="container" style="margin-top:50px; margin-bottom: 100px">

	<div class="row">

		<div class="col-md-6" >
			<!-- Image overview on right side -->
			<%= render partial: 'item_overview'%>
		</div>
		
		<div class="col-md-6">
			<!-- Validation -->
			<% if @item.errors.any? %>
			<div id="error_explanation">
				<h4 class="no_bold" style="color: red"> Please fix these <b id="error_number" ><%= pluralize(@item.errors.count, "issue") %></b> before continue.</h2>
			</div>
			<% end %>

			<!-- Select Image -->
			<%= render 'select_image' %>
			<%= render 'select_image_done' %>
			
			<%= form_for :item, url: item_path(@item), method: :patch do |f| %>
			
			<!-- Select Filter -->
			<%= render partial: 'select_filter',  locals:{f: f} %>
			<%= render partial: 'select_filter_done',  locals:{f: f} %>
			<% @section_name = "filter" %>
			<% @section_label = "Select art effect" %>
			<%= render partial: 'section_placeholder', locals:{section_name: @section_name, section_label: @section_label, item: @item} %>			
			
			<!-- Select Product -->
			<%= render partial: 'select_product', locals:{f: f} %>
			<%= render partial: 'select_product_done',  locals:{f: f} %>
			<% @section_name = "product" %>
			<% @section_label = "Select product" %>
			<%= render partial: 'section_placeholder', locals:{section_name: @section_name, section_label: @section_label, item: @item} %>
			
			<!-- Select Size -->
			<%= render partial: 'select_size', locals:{f: f} %>
			<% @section_name = "size" %>
			<% @section_label = "Select size" %>
			<%= render partial: 'section_placeholder', locals:{section_name: @section_name, section_label: @section_label, item: @item} %>
			
			<!-- Select Depth and Border -->
			<%= render partial: 'select_depth_and_border', locals:{f: f}%>
			<% @section_name = "options" %>
			<% @section_label = "Select options" %>
			<%= render partial: 'section_placeholder', locals:{section_name: @section_name, section_label: @section_label, item: @item} %>
			
			<!-- Select Frame and Mat -->
			<%= render partial: 'select_frame_and_mat', locals:{f: f}%>
			
			<!-- ADD TO CART / SAVE CHANGES -->
			<%= render partial: 'summary_and_submit', locals:{f: f} %>	

			
		</div>
		<% end %>
	</div>
</div>

<div id="divLoading"> 
</div>

<!-- Pop up Modal for crop -->
<%= render 'crop' %>
<!-- Pop up Modal for social networks upload -->
<%= render 'social_networks_upload_modals' %>

<!-- Temp fix: put all js here, need to re-orangize them in future -->
<%= render 'new_js' %>
