


<% orders.each do |order| %>
	<div class="row" style="margin-top: 20px">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
			
					<div class="row">
						<div class="col-md-3">
							<h5 style="font-weight: 900"> 下单日期 </h5> <%= order.created_at.strftime("%b.%d %Y") %>
						</div>
						<div class="col-md-4">
							<h5 style="font-weight: 900">金额</h5>
							$<%= order.total_price %>
							
						</div>
						<div class="col-md-2">
							
						</div>
						<div class="col-md-3" align="right">
							<h5 style="font-weight: 900">订单号: <%= order.number %></h5>
							<%= link_to '套餐详情', order_path(order) %>
						</div>
					</div>
				
			</div>

			<!-- Table -->
			<table class="table">
				<tbody>
					<% order.items.each do |item| %>
					<tr>
						<td>
							<div class="row" style="margin-left: 20px">
								<h5>
									套餐类型：<%= item.vpn_desc %>
								</h5>
								<h5>
									套餐过期日期: <%= item.vpn_exp_date %>
								</h5>
								<h5>
									VPN IP地址: <%= item.vpn_server %>
								</h5>
								<h5>
									VPN 用户名: <%= item.vpn_username %>
								</h5>
								<h5>
									VPN 密码: <%= item.vpn_password %>
								</h5>
								<h5>
									VPN 密钥: <%= item.vpn_phrase %>
								</h5>
							</div>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>

		</div>

	</div>

	<% end %>