
<style>

#nav_pricing_menu, 
#nav_inspiration_menu, 
#nav_cart_menu, 
#nav_orders_menu, 
#nav_setting_menu,
#nav_signup_menu,
#nav_login_menu {
	color: white;
}

#nav_pricing_menu:hover, 
#nav_inspiration_menu:hover, 
#nav_cart_menu:hover, 
#nav_orders_menu:hover, 
#nav_setting_menu:hover,
#nav_signup_menu:hover,
#nav_login_menu:hover {
	color: #EF9223;
}

#nav_start_menu {
  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  
  font-weight: bold;
}

#navbar {
	background-color: black;
}

#navbar > a {
	color: white;
}
</style>

<!-- navigation section -->
<section class="navbar navbar-default " role="navigation" id="navbar">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<%= link_to "CanvasKing", root_path, class: "navbar-brand" %>
		</div>
		<div class="collapse navbar-collapse" style="margin-right: 1px">
			<ul class="nav navbar-nav navbar-right">
				<li>

					<%= button_to 'GET START', new_item_path, style:"margin-top: 10px;", class:"btn btn-warning btn-sm", method:"get", id:"nav_start_menu" %>
				</li>
				<li>
					<%= link_to 'INSPIRATION', new_item_path, method:"get", id:"nav_inspiration_menu" %>
				</li>
				<li>
					<% if controller_name == "pricing" %>
						<%= link_to 'PRICING', pricing_index_path, method:"get", id:"nav_pricing_menu", style:"color: #EF9223" %>
					<% else %>
						<%= link_to 'PRICING', pricing_index_path, method:"get", id:"nav_pricing_menu"%>
					<% end %>
				</li>
				<li>
					<% if controller_name == "carts" %>
						<a href="/cart" id="nav_cart_menu" style="color: #EF9223" >
						<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
						<% cart = get_current_cart %>
						<% if cart.quantity != 0 %>
							<%= "CART(#{cart.quantity})"%>
						<% else  %>
							CART
						<% end %>
						</a>
					<% else %>
						<a href="/cart" id="nav_cart_menu">
						<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
						<% cart = get_current_cart %>
						<% if cart.quantity != 0 %>
							<%= "CART(#{cart.quantity})"%>
						<% else  %>
							CART
						<% end %>
						</a>					
					<% end %>
				</li>
				<% unless user_signed_in? %>
					<li><a href="/users/sign_up" id="nav_signup_menu">SIGN UP</a></li>
					<li><a href="/users/sign_in" id="nav_login_menu">
						<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
						&nbsp;LOGIN
						</a>
					</li>
				<% end %>
				<% if user_signed_in? %>
					<li>
						<% if controller_name == "orders" %>
							<%= link_to "MY ORDERS", orders_path, style:"color: #EF9223", id:"nav_orders_menu"%>
						<% else %>
							<%= link_to "MY ORDERS", orders_path, id:"nav_orders_menu"%>
						<% end %>
					</li>
					<li>
							<a href="<%= edit_user_registration_path %>" id="nav_setting_menu" style="<% if controller_name == "registrations" %>color: #EF9223<% end %>">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								ACCOUNT
							</a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</section>