<!-- navigation section -->
<section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<%= link_to "CanvasKing", root_path, class: "navbar-brand" %>
		</div>
		<div class="collapse navbar-collapse" style="margin-right: 1px">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to 'START', new_item_path, method:"get", class:"smoothScroll" %>
				</li>
				<li>
					<%= link_to 'PRODUCTS', new_item_path, method:"get", class:"smoothScroll" %>
				</li>
				<li>
					<%= link_to 'PRICING', new_item_path, method:"get", class:"smoothScroll" %>
				</li>
				<li>
					<a href="/cart" class="smoothScroll">
						<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
					<% cart = get_current_cart %>
					<% if cart.quantity != 0 %>
						<%= "CART(#{cart.quantity})"%>
					<% else  %>
						CART
					<% end %>
					</a>
				</li>
				<% unless user_signed_in? %>
					<li><a href="/users/sign_up" class="smoothScroll">SIGN UP</a></li>
					<li><a href="/users/sign_in" class="smoothScroll">LOGIN</a></li>
				<% end %>
				<% if user_signed_in? %>
					<li>
						<%= link_to "MY ORDERS", orders_path %>
					</li>
					<li>
						<%= link_to "SETTINGS", edit_user_registration_path %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</section>