<!-- navigation section -->
<section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<%= link_to "CanvasKing", root_path, class: "navbar-brand" %>
		</div>
		<div class="collapse navbar-collapse" style="margin-right: 1px">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<% if controller_name == "items" %>
						<%= link_to 'START', new_item_path, method:"get", class:"smoothScroll" , style:"color: #EF9223" %>
					<% else %>
						<%= link_to 'START', new_item_path, method:"get", class:"smoothScroll" %>
					<% end %>
				</li>
				<li>
					<%= link_to 'PRODUCTS', new_item_path, method:"get", class:"smoothScroll" %>
				</li>
				<li>
					<% if controller_name == "pricing" %>
						<%= link_to 'PRICING', pricing_index_path, method:"get", class:"smoothScroll", style:"color: #EF9223" %>
					<% else %>
						<%= link_to 'PRICING', pricing_index_path, method:"get", class:"smoothScroll" %>
					<% end %>
				</li>
				<li>
					<% if controller_name == "carts" %>
						<a href="/cart" class="smoothScroll" style="color: #EF9223" >
						<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
						<% cart = get_current_cart %>
						<% if cart.quantity != 0 %>
							<%= "CART(#{cart.quantity})"%>
						<% else  %>
							CART
						<% end %>
						</a>
					<% else %>
						<a href="/cart" class="smoothScroll">
						<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
						<% cart = get_current_cart %>
						<% if cart.quantity != 0 %>
							<%= "CART(#{cart.quantity})"%>
						<% else  %>
							CART
						<% end %>
						</a>					
					<% end %>
				</li>
				<% unless user_signed_in? %>
					<li><a href="/users/sign_up" class="smoothScroll">SIGN UP</a></li>
					<li><a href="/users/sign_in" class="smoothScroll">LOGIN</a></li>
				<% end %>
				<% if user_signed_in? %>
					<li>
						<% if controller_name == "orders" %>
							<%= link_to "MY ORDERS", orders_path, style:"color: #EF9223" %>
						<% else %>
							<%= link_to "MY ORDERS", orders_path %>
						<% end %>
					</li>
					<li>
						<% if controller_name == "registrations" %>
							<%= link_to "SETTINGS", edit_user_registration_path, style:"color: #EF9223" %>
						<% else %>
							<%= link_to "SETTINGS", edit_user_registration_path %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</section>